## <center> Packages & Connection </center>

In [1]:
import h3 as h3
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from scipy import stats
from pyhive import presto
from keplergl import KeplerGl
from datetime import datetime, timedelta

import warnings
warnings.filterwarnings('ignore')

In [2]:
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 500)

## <center> Local extracted files </center>

In [3]:
refined_hex_8_all_data = pd.read_csv('/Users/rapido/local-datasets/affluence/processed/hex_8_all_data_2023_07_10_to_16.csv')
refined_hex_8_hsr_yesh = pd.read_csv('hex_8_data_2023_07_10_to_16.csv')
refined_hex_8_usecase = pd.read_csv('hex_8_usecase.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'hex_8_all_data_2023_07_10_to_16.csv'

In [ ]:
print(refined_hex_8_all_data.shape)
print(refined_hex_8_hsr_yesh.shape)
print(refined_hex_8_usecase.shape)

In [5]:
hex_8_usecase =refined_hex_8_usecase
hex_8_all_data = refined_hex_8_all_data[refined_hex_8_all_data['service_name'].isin(['Link'])]
hex_8_all_data.describe()

,fe_cus_count,fe_count,requested_orders,cobrm,expiry_mapped,cobra,accepted_orders,ocara,net_orders,aor,fe2rr,fe2net,taxi_high_income,taxi_medium_income,taxi_low_income,link_only_service,auto_only_service,both_service,link_ps,link_nps,auto_ps,auto_nps,fe_intent_stable,fe_intent_increasing,fe_intent_declining
count,1999.000000,1999.000000,1999.000000,1999.000000,1999.000000,1999.000000,1999.000000,1999.000000,1999.000000,1998.000000,1999.000000,1999.000000,1999.000000,1999.000000,1999.000000,1999.000000,1999.000000,1999.000000,1999.000000,1999.000000,1999.000000,1999.000000,1999.000000,1999.000000,1999.000000
mean,1025.482741,3759.492246,675.464232,2.057529,40.968984,131.326663,502.478739,111.851426,271.029515,62.354354,18.061531,5.417709,404.630815,272.687844,51.189095,98.815408,144.536268,645.574287,139.452726,245.380190,221.260130,363.391696,337.763882,403.431216,170.871436
std,2103.330224,8212.575206,1432.721151,3.915677,120.463644,314.321455,1026.933039,232.362412,557.164357,29.021819,8.953372,3.944067,894.232561,537.595619,96.525761,189.521964,292.914341,1383.512775,281.119674,520.950135,486.036235,773.491357,678.963273,848.749936,377.831765
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,22.000000,62.500000,8.000000,0.000000,1.000000,1.000000,4.000000,1.000000,1.000000,50.000000,14.000000,2.000000,5.000000,5.000000,1.000000,3.000000,2.000000,8.000000,2.000000,3.000000,2.000000,4.000000,5.000000,6.000000,2.000000
50%,143.000000,453.000000,78.000000,1.000000,5.000000,13.000000,57.000000,16.000000,26.000000,73.000000,18.000000,6.000000,43.000000,39.000000,8.000000,19.000000,18.000000,70.000000,18.000000,28.000000,21.000000,40.000000,43.000000,49.000000,18.000000
75%,1090.500000,3643.000000,675.500000,3.000000,21.000000,101.000000,537.000000,118.000000,287.000000,82.000000,21.000000,8.000000,391.000000,308.500000,61.000000,118.000000,152.500000,655.500000,151.000000,244.500000,211.000000,364.000000,367.500000,415.000000,161.000000
max,25922.000000,100666.000000,14122.000000,77.000000,1368.000000,2937.000000,10310.000000,2898.000000,5596.000000,100.000000,100.000000,50.000000,12122.000000,6695.000000,1232.000000,2966.000000,3669.000000,17808.000000,3152.000000,6463.000000,6398.000000,10067.000000,8480.000000,10943.000000,4981.000000

In [6]:
hex_8_all_data = pd.merge(
                        hex_8_all_data,
                        hex_8_usecase,
                        how = 'left',
                        left_on = 'pickup_hex_8',
                        right_on = 'hex_8'
                        )
hex_8_all_data.head(5)

,city,service_name,pickup_cluster,pickup_hex_8,fe_cus_count,fe_count,requested_orders,cobrm,expiry_mapped,cobra,accepted_orders,ocara,net_orders,aor,fe2rr,fe2net,taxi_high_income,taxi_medium_income,taxi_low_income,link_only_service,auto_only_service,both_service,link_ps,link_nps,auto_ps,auto_nps,fe_intent_stable,fe_intent_increasing,fe_intent_declining,hex_8,usecase_tag
0,Bangalore,Link,Hoskote_BLR,8861893893fffff,40,48,2,0,0,0,0,0,0,0.0,4.0,0.0,10,8,0,5,7,15,4,6,3,7,10,11,4,NaN,NaN
1,Bangalore,Link,Attibele,8861893713fffff,112,268,21,2,1,10,8,4,2,38.0,8.0,1.0,23,20,5,12,7,35,7,9,13,13,25,24,4,NaN,NaN
2,Bangalore,Link,Attibele,88618936a7fffff,4,22,2,0,0,2,0,0,0,0.0,9.0,0.0,1,1,0,1,0,2,0,0,0,1,1,2,0,NaN,NaN
3,Bangalore,Link,Sarjapur,88618935ebfffff,11,57,9,4,0,0,4,2,2,44.0,16.0,4.0,5,1,2,1,1,7,1,3,0,2,2,4,3,NaN,NaN
4,Bangalore,Link,Sarjapur,88618935e9fffff,1,1,1,0,1,0,1,0,0,100.0,100.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN

In [7]:
hex_8_all_data.columns

Index(['city', 'service_name', 'pickup_cluster', 'pickup_hex_8',
       'fe_cus_count', 'fe_count', 'requested_orders', 'cobrm',
       'expiry_mapped', 'cobra', 'accepted_orders', 'ocara', 'net_orders',
       'aor', 'fe2rr', 'fe2net', 'taxi_high_income', 'taxi_medium_income',
       'taxi_low_income', 'link_only_service', 'auto_only_service',
       'both_service', 'link_ps', 'link_nps', 'auto_ps', 'auto_nps',
       'fe_intent_stable', 'fe_intent_increasing', 'fe_intent_declining',
       'hex_8', 'usecase_tag'],
      dtype='object')

## <center> Adding new required columns </center>

In [8]:
hex_8_all_data['high_income_%'] = round(hex_8_all_data['taxi_high_income']*100/hex_8_all_data['fe_cus_count'])
hex_8_all_data['high_income_thrshld'] = hex_8_all_data['high_income_%'].median()


hex_8_all_data['affluence_hi_tag'] = np.where(
                                        hex_8_all_data['high_income_%'] <= hex_8_all_data['high_income_thrshld'] , 
                                        'Less', 
                                        'High')

#test = hex_8_all_data[hex_8_all_data['affluence_hi_tag'].isin(['Less'])]
hex_8_all_data.fe_count.describe()

count      1999.000000
mean       3759.492246
std        8212.575206
min           1.000000
25%          62.500000
50%         453.000000
75%        3643.000000
max      100666.000000
Name: fe_count, dtype: float64

In [9]:
hex_8_all_data['fe_bucket'] = \
        np.where(hex_8_all_data['fe_count'] <= 62, '0-60',
        np.where(hex_8_all_data['fe_count'] <= 450, '61-450',
        np.where(hex_8_all_data['fe_count'] <= 3500, '451-3500','3500+')))

In [10]:
hex_8_all_data.head(5)

,city,service_name,pickup_cluster,pickup_hex_8,fe_cus_count,fe_count,requested_orders,cobrm,expiry_mapped,cobra,accepted_orders,ocara,net_orders,aor,fe2rr,fe2net,taxi_high_income,taxi_medium_income,taxi_low_income,link_only_service,auto_only_service,both_service,link_ps,link_nps,auto_ps,auto_nps,fe_intent_stable,fe_intent_increasing,fe_intent_declining,hex_8,usecase_tag,high_income_%,high_income_thrshld,affluence_hi_tag,fe_bucket
0,Bangalore,Link,Hoskote_BLR,8861893893fffff,40,48,2,0,0,0,0,0,0,0.0,4.0,0.0,10,8,0,5,7,15,4,6,3,7,10,11,4,NaN,NaN,25.0,32.0,Less,0-60
1,Bangalore,Link,Attibele,8861893713fffff,112,268,21,2,1,10,8,4,2,38.0,8.0,1.0,23,20,5,12,7,35,7,9,13,13,25,24,4,NaN,NaN,21.0,32.0,Less,61-450
2,Bangalore,Link,Attibele,88618936a7fffff,4,22,2,0,0,2,0,0,0,0.0,9.0,0.0,1,1,0,1,0,2,0,0,0,1,1,2,0,NaN,NaN,25.0,32.0,Less,0-60
3,Bangalore,Link,Sarjapur,88618935ebfffff,11,57,9,4,0,0,4,2,2,44.0,16.0,4.0,5,1,2,1,1,7,1,3,0,2,2,4,3,NaN,NaN,45.0,32.0,High,0-60
4,Bangalore,Link,Sarjapur,88618935e9fffff,1,1,1,0,1,0,1,0,0,100.0,100.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0.0,32.0,Less,0-60

In [11]:
## Filtering required columns

df_hex_8_all_data = hex_8_all_data [[
                                        'city', 'pickup_cluster', 'pickup_hex_8', 'usecase_tag',
                                        'fe_cus_count', 'fe_count', 'requested_orders', 'net_orders',
                                        'high_income_%', 'high_income_thrshld', 'affluence_hi_tag',
                                        'link_ps', 'link_nps', 'auto_ps', 'auto_nps',
                                        'fe_bucket'
                                    ]]

In [12]:
df_hex_8_all_data

,city,pickup_cluster,pickup_hex_8,usecase_tag,fe_cus_count,fe_count,requested_orders,net_orders,high_income_%,high_income_thrshld,affluence_hi_tag,link_ps,link_nps,auto_ps,auto_nps,fe_bucket
0,Bangalore,Hoskote_BLR,8861893893fffff,NaN,40,48,2,0,25.0,32.0,Less,4,6,3,7,0-60
1,Bangalore,Attibele,8861893713fffff,NaN,112,268,21,2,21.0,32.0,Less,7,9,13,13,61-450
2,Bangalore,Attibele,88618936a7fffff,NaN,4,22,2,0,25.0,32.0,Less,0,0,0,1,0-60
3,Bangalore,Sarjapur,88618935ebfffff,NaN,11,57,9,2,45.0,32.0,High,1,3,0,2,0-60
4,Bangalore,Sarjapur,88618935e9fffff,NaN,1,1,1,0,0.0,32.0,Less,0,0,0,0,0-60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1994,Bangalore,Bidadi,886014413dfffff,NaN,5,12,1,0,60.0,32.0,High,1,0,1,1,0-60
1995,Bangalore,Bidadi,8860144135fffff,NaN,29,60,1,0,34.0,32.0,High,0,0,0,1,0-60
1996,Bangalore,Bidadi,8860144125fffff,NaN,3,15,2,0,0.0,32.0,Less,0,0,0,0,0-60
1997,Bangalore,Bidadi,8860144113fffff,NaN,1,3,2,0,0.0,32.0,Less,0,0,0,1,0-60
1998,Bangalore,Bidadi,886014410dfffff,NaN,4,16,1,0,75.0,32.0,High,0,0,0,0,0-60

In [13]:
df_hex_8_all_data.describe()

,fe_cus_count,fe_count,requested_orders,net_orders,high_income_%,high_income_thrshld,link_ps,link_nps,auto_ps,auto_nps
count,1999.000000,1999.000000,1999.000000,1999.000000,1999.000000,1999.0,1999.000000,1999.000000,1999.000000,1999.000000
mean,1025.482741,3759.492246,675.464232,271.029515,30.227114,32.0,139.452726,245.380190,221.260130,363.391696
std,2103.330224,8212.575206,1432.721151,557.164357,13.766770,0.0,281.119674,520.950135,486.036235,773.491357
min,1.000000,1.000000,0.000000,0.000000,0.000000,32.0,0.000000,0.000000,0.000000,0.000000
25%,22.000000,62.500000,8.000000,1.000000,24.000000,32.0,2.000000,3.000000,2.000000,4.000000
50%,143.000000,453.000000,78.000000,26.000000,32.000000,32.0,18.000000,28.000000,21.000000,40.000000
75%,1090.500000,3643.000000,675.500000,287.000000,38.000000,32.0,151.000000,244.500000,211.000000,364.000000
max,25922.000000,100666.000000,14122.000000,5596.000000,100.000000,32.0,3152.000000,6463.000000,6398.000000,10067.000000

## Analysing affluence_hi_tag - Less 



      - High Income median customer % 
      - Demand should be high at least more than Q3 level

In [14]:
df_analysis = df_hex_8_all_data
df_analysis.shape

(1999, 16)

In [15]:
df_analysis

,city,pickup_cluster,pickup_hex_8,usecase_tag,fe_cus_count,fe_count,requested_orders,net_orders,high_income_%,high_income_thrshld,affluence_hi_tag,link_ps,link_nps,auto_ps,auto_nps,fe_bucket
0,Bangalore,Hoskote_BLR,8861893893fffff,NaN,40,48,2,0,25.0,32.0,Less,4,6,3,7,0-60
1,Bangalore,Attibele,8861893713fffff,NaN,112,268,21,2,21.0,32.0,Less,7,9,13,13,61-450
2,Bangalore,Attibele,88618936a7fffff,NaN,4,22,2,0,25.0,32.0,Less,0,0,0,1,0-60
3,Bangalore,Sarjapur,88618935ebfffff,NaN,11,57,9,2,45.0,32.0,High,1,3,0,2,0-60
4,Bangalore,Sarjapur,88618935e9fffff,NaN,1,1,1,0,0.0,32.0,Less,0,0,0,0,0-60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1994,Bangalore,Bidadi,886014413dfffff,NaN,5,12,1,0,60.0,32.0,High,1,0,1,1,0-60
1995,Bangalore,Bidadi,8860144135fffff,NaN,29,60,1,0,34.0,32.0,High,0,0,0,1,0-60
1996,Bangalore,Bidadi,8860144125fffff,NaN,3,15,2,0,0.0,32.0,Less,0,0,0,0,0-60
1997,Bangalore,Bidadi,8860144113fffff,NaN,1,3,2,0,0.0,32.0,Less,0,0,0,1,0-60
1998,Bangalore,Bidadi,886014410dfffff,NaN,4,16,1,0,75.0,32.0,High,0,0,0,0,0-60

In [16]:
df_analysis['fe_count'].describe()

count      1999.000000
mean       3759.492246
std        8212.575206
min           1.000000
25%          62.500000
50%         453.000000
75%        3643.000000
max      100666.000000
Name: fe_count, dtype: float64

In [23]:
df_analysis['flag_2'] = np.where(df_analysis['fe_count'] >= 3643, 'High fe', 'Less fe')
df_analysis['flag_tag'] = np.where(df_analysis['link_ps'] > df_analysis['link_nps'], 'High ps', 'Less ps')
df_analysis['fe_bucket'] = \
        np.where(df_analysis['fe_count'] <= 453, '<=453',
        np.where(df_analysis['fe_count'] <= 3000, '<=3000',
        np.where(df_analysis['fe_count'] < 3643, '3000-3643','3643+')))
df_analysis

,city,pickup_cluster,pickup_hex_8,usecase_tag,fe_cus_count,fe_count,requested_orders,net_orders,high_income_%,high_income_thrshld,affluence_hi_tag,link_ps,link_nps,auto_ps,auto_nps,fe_bucket,flag_2,flag_tag
0,Bangalore,Hoskote_BLR,8861893893fffff,NaN,40,48,2,0,25.0,32.0,Less,4,6,3,7,<=453,Less fe,Less ps
1,Bangalore,Attibele,8861893713fffff,NaN,112,268,21,2,21.0,32.0,Less,7,9,13,13,<=453,Less fe,Less ps
2,Bangalore,Attibele,88618936a7fffff,NaN,4,22,2,0,25.0,32.0,Less,0,0,0,1,<=453,Less fe,Less ps
3,Bangalore,Sarjapur,88618935ebfffff,NaN,11,57,9,2,45.0,32.0,High,1,3,0,2,<=453,Less fe,Less ps
4,Bangalore,Sarjapur,88618935e9fffff,NaN,1,1,1,0,0.0,32.0,Less,0,0,0,0,<=453,Less fe,Less ps
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1994,Bangalore,Bidadi,886014413dfffff,NaN,5,12,1,0,60.0,32.0,High,1,0,1,1,<=453,Less fe,High ps
1995,Bangalore,Bidadi,8860144135fffff,NaN,29,60,1,0,34.0,32.0,High,0,0,0,1,<=453,Less fe,Less ps
1996,Bangalore,Bidadi,8860144125fffff,NaN,3,15,2,0,0.0,32.0,Less,0,0,0,0,<=453,Less fe,Less ps
1997,Bangalore,Bidadi,8860144113fffff,NaN,1,3,2,0,0.0,32.0,Less,0,0,0,1,<=453,Less fe,Less ps
1998,Bangalore,Bidadi,886014410dfffff,NaN,4,16,1,0,75.0,32.0,High,0,0,0,0,<=453,Less fe,Less ps

In [24]:
df_analysis.groupby(['affluence_hi_tag', 'flag_2' ,'flag_tag']).agg({'pickup_hex_8' : 'count',
                                                         'fe_cus_count' : 'sum',
                                                         'link_ps' : 'sum',
                                                         'link_nps' : 'sum',
                                                         'auto_ps' : 'sum',
                                                         'auto_nps' : 'sum'})

                                   pickup_hex_8  fe_cus_count  link_ps  \
affluence_hi_tag flag_2  flag_tag
High             High fe Less ps            454       1617214   221560
                 Less fe High ps             43          1664      318
                         Less ps            478        158129    21640
Less             High fe Less ps             47        143515    18555
                 Less fe High ps            142          4650      733
                         Less ps            835        124768    15960

                                   link_nps  auto_ps  auto_nps
affluence_hi_tag flag_2  flag_tag
High             High fe Less ps     399372   368814    595567
                 Less fe High ps        230      277       456
                         Less ps      35550    30666     52725
Less             High fe Less ps      29407    23474     41805
                 Less fe High ps        462      426       969
                         Less ps      25494    18642     34898

In [25]:
#df_analysis.to_csv('kepler_friday.csv', index = False)

In [26]:
df_analysis_funnel = df_analysis.groupby(['affluence_hi_tag', 'flag_2','fe_bucket']).agg({'pickup_hex_8' : 'count', 
                                                         'fe_count' : 'sum',
                                                          'requested_orders' : 'sum',
                                                          'net_orders' : 'sum',
                                                        'fe_cus_count' : 'sum', 
                                                        'link_ps' : 'sum',
                                                         'link_nps' : 'sum',
                                                         'auto_ps' : 'sum',
                                                         'auto_nps' : 'sum'
                                                         })
df_analysis_funnel['fe2rr'] = round( df_analysis_funnel['requested_orders']*100/df_analysis_funnel['fe_count'],2) 
df_analysis_funnel['fe2net'] = round( df_analysis_funnel['net_orders']*100/df_analysis_funnel['fe_count'],2)
df_analysis_funnel['fe/hex'] = round( df_analysis_funnel['fe_count']/df_analysis_funnel['pickup_hex_8'],2)

'''
df_analysis_funnel['link_ps_%'] = round( df_analysis_funnel['link_ps']/df_analysis_funnel['fe_cus_count'],2)
df_analysis_funnel['link_nps_%'] = round( df_analysis_funnel['link_nps']/df_analysis_funnel['fe_cus_count'],2)
df_analysis_funnel['auto_ps_%'] = round( df_analysis_funnel['auto_ps']/df_analysis_funnel['fe_cus_count'],2)
df_analysis_funnel['auto_nps_%'] = round( df_analysis_funnel['auto_nps']/df_analysis_funnel['fe_cus_count'],2)
'''
df_analysis_funnel

                                    pickup_hex_8  fe_count  requested_orders  \
affluence_hi_tag flag_2  fe_bucket
High             High fe 3643+               454   6142868           1106425
                 Less fe 3000-3643            39    129536             23805
                         <=3000              228    375134             70153
                         <=453               254     27414              4670
Less             High fe 3643+                47    444547             74744
                 Less fe 3000-3643            18     57178             10286
                         <=3000              213    258864             47759
                         <=453               746     79684             12411

                                    net_orders  fe_cus_count  link_ps  \
affluence_hi_tag flag_2  fe_bucket
High             High fe 3643+          444435       1617214   221560
                 Less fe 3000-3643       10219         38075     5327
                         <=3000          29311        112836    15540
                         <=453            1430          8882     1091
Less             High fe 3643+           29358        143515    18555
                 Less fe 3000-3643        4481         18159     2582
                         <=3000          19232         83822    11137
                         <=453            3322         27437     2974

                                    link_nps  auto_ps  auto_nps  fe2rr  \
affluence_hi_tag flag_2  fe_bucket
High             High fe 3643+        399372   368814    595567  18.01
                 Less fe 3000-3643      8722     7654     13204  18.38
                         <=3000        25251    21900     37467  18.70
                         <=453          1807     1389      2510  17.04
Less             High fe 3643+         29407    23474     41805  16.81
                 Less fe 3000-3643      4009     3078      5485  17.99
                         <=3000        17390    12876     24242  18.45
                         <=453          4557     3114      6140  15.58

                                    fe2net    fe/hex
affluence_hi_tag flag_2  fe_bucket
High             High fe 3643+        7.23  13530.55
                 Less fe 3000-3643    7.89   3321.44
                         <=3000       7.81   1645.32
                         <=453        5.22    107.93
Less             High fe 3643+        6.60   9458.45
                 Less fe 3000-3643    7.84   3176.56
                         <=3000       7.43   1215.32
                         <=453        4.17    106.82

In [250]:
df_analysis_list = df_analysis[df_analysis['affluence_hi_tag'].isin(['Less']) 
                               & 
                                df_analysis['flag_2'].isin(['High fe'])
                              ]

df_analysis_list.groupby(['pickup_cluster']).agg({'pickup_hex_8' : 'count'})

                                  pickup_hex_8
pickup_cluster
Anepalya                                     1
BGS Kengeri                                  1
Banaswadi                                    1
Basaveshwar Nagar                            1
Bommasandra Industrial Area                  1
HBR Layout                                   3
Hebbal                                       2
Hebbal Baptist Hospital                      1
Hemmigepura                                  1
Hongasandra                                  1
Jakkur                                       1
K R Puram                                    3
Kathriguppe                                  1
Kurudusonnehalli                             3
Majestic                                     4
Mathikere Lake                               1
Metro - Yeshwantpur                          1
Mysore Road Circle                           3
Mysore rd                                    1
Nagavara                                     2
Neelasandra                                  1
Parappana Agrahara                           1
Peenya                                       1
R T Nagar                                    1
Sahakara Nagar                               1
ShivajiNagar - Bangalore                     1
Thanisandra                                  1
Varthur                                      1
Vijayanagar                                  1
Vimanpura                                    1
Yelahanka Traffic Police Station             2
Yelanhanka                                   1
Yeshwanthpur - Mathikere                     1

In [251]:
cluster_high_low = df_hex_8_all_data.groupby(['pickup_cluster','affluence_hi_tag']) \
                                            .agg({ 'pickup_hex_8' : 'nunique'}).reset_index()
cluster_high_low

                         pickup_cluster affluence_hi_tag  pickup_hex_8
0               AECS Layout Brookefield             High             1
1                               Adugodi             High             2
2               Adugodi Traffic Station             High             1
3                            Agara Lake             High             2
4                           Akshaynagar             High             4
5                      Akshaynagar Lake             High             1
6                              Anepalya             High             1
7                              Anepalya             Less             1
8                            Anjanapura             High             7
9                            Anjanapura             Less             2
10                              Arekere             High             1
11                    Arekere Extension             High             2
12                         Arekere Lake             High             1
13                  Arekere Mico Layout             High             3
14                             Attibele             High             3
15                             Attibele             Less            54
16                           BEL Layout             High             2
17                           BEL Layout             Less             5
18                          BGS Kengeri             High             7
19                          BGS Kengeri             Less             8
20                      BLR_Ashok Nagar             High             1
21                      BLR_HRBR Layout             High             4
22                          BLR_Hoskote             High             5
23                          BLR_Hoskote             Less             5
24                      BLR_Indiranagar             High             5
25                                  BTM             High             2
26                        BTM 2nd Stage             High             1
27                     BTM Second Stage             High             2
28                              Bagalur             High             6
29                              Bagalur             Less            34
30     Baiyappanahalli - CV Raman Nagar             High             1
31               Baiyyappanahalli Cabin             High             2
32                             Balagere             High             5
33                             Balagere             Less             1
34                          Banashankri             High             5
35                    Banashankri North             High             9
36                    Banashankri South             High             9
37                    Banashankri South             Less             1
38                     Banashankri West             High             4
39                            Banaswadi             High             9
40                            Banaswadi             Less             5
41            Banaswadi Railway Station             High             1
42                    Bangalore Airport             Less             4
43                         Bannerghatta             High            19
44                         Bannerghatta             Less            51
45         Bannerghatta Road - Hulimavu             High             1
46                     Bannerghatta Zoo             High             3
47                     Bannerghatta Zoo             Less            12
48                         Basavanagudi             High             4
49                    Basaveshwar Nagar             High             5
50                    Basaveshwar Nagar             Less             3
51                                Begur             High             4
52                           Begur Fort             High             1
53                           Begur Lake             High             1
54                            Bellandur             High            14
55                            Bellandur             Less             1
56                               Bidadi             High            21
57                               Bidadi             Less            63
58                      Bilekahalli IIM             High             3
59                          Bommanahali             High             2
60          Bommasandra Industrial Area             High             6
61          Bommasandra Industrial Area             Less            16
62                          Brookefield             High             3
63                      C V Raman Nagar             High             7
64                       CPWD Qtrs HSR              High             4
65                    Cambridge College             Less             1
66              Cambridge Layout Ulsoor             High             1
67                    Central Jail Road             High             9
68                    Central Jail Road             Less             4
69                          Chanasandra             High             4
70                       Chikkabanavara             High             6
71                       Chikkabanavara             Less            12
72                          Chikkagobbi             High            16
73                          Chikkagobbi             Less            26
74                     Chinnapannahalli             High             1
75             Columbia Asia Whitefield             High             8
76                             Cox Town             High             1
77                          Dasarahalli             High             5
78                          Dasarahalli             Less             4
79                  Devarachikkanahalli             High             1
80                       Doddaballapura             High             8
81                       Doddaballapura             Less            43
82                       Doddabanahalli             High             1
83                       Doddabanahalli             Less             8
84                         Doddanakundi             High             5
85     Doddanakundi Brindavan Extension             High             1
86                         Doddanekundi             High             3
87                               Domlur             High             8
88                               Domlur             Less             2
89         Domlur Embassy Business Park             High             1
90                       Domlur Flyover             High             1
91                E-City Police Station             High             1
92                              Ejipura             High             1
93                          Ejipura NGV             High             1
94                      Electronic City             High            13
95                      Electronic City             Less             1
96             Electronic City Phase 2              High             9
97                          Frazer Town             High             3
98                      Garvebhavipalya             High             1
99                 Garvebhavipalya Lake             High             1
100                           Gattigere             High            10
101                           Gattigere             Less             2
102                       Gokula Layout             High             2
103                           Gottigere             High             5
104                   Green Glen Layout             High             1
105                                 HAL             High             4
106                          HBR Layout             High             7
107                          HBR Layout             Less             3
108                           HSR Sec 2             High             1
109                              Harlur             High             4
110                              Hebbal             High             3
111                              Hebbal             Less             2
112             Hebbal Baptist Hospital             Less             1
113                         Hemmigepura             High            11
114                         Hemmigepura             Less             6
115                         Hesarghatta             High             8
116                         Hesarghatta             Less            12
117                         Hongasandra             High             2
118                         Hongasandra             Less             1
119                               Hoodi             High             3
120                            Horamavu             High            32
121                            Horamavu             Less            27
122                           Hosapalya             High             2
123                             Hoskote             High             6
124                             Hoskote             Less            15
125                         Hoskote_BLR             High            13
126                         Hoskote_BLR             Less            67
127                                 Hsr             High             2
128                            Hulimavu             High             2
129                              Huskur             High             9
130                              Huskur             Less            18
131                         Huskur Kodi             High             1
132                         Huskur Kodi             Less            11
133                      ITI Layout HSR             High             2
134                  Indiranagar Empire             High             1
135        J P Nagar VET College Ground             High             1
136                           J P nagar             High             2
137                     J P nagar South             High             8
138                  JP Nagar 5th Phase             High             1
139             JP Nagar Dollars Colony             High             2
140                              Jakkur             High             7
141                              Jakkur             Less            11
142                           Jalahalli             High             4
143                           Jalahalli             Less             3
144                           Jayanagar             High             3
145                 Jayanagar 4th Block             High             1
146                   Jeevanbheemanagar             High             1
147                              Jigani             High            15
148                              Jigani             Less            37
149                           K R Puram             High             7
150                           K R Puram             Less             3
151            K R Puram Railway Colony             High             1
152                    Kadubeesanahalli             High             3
153                Kadubeesanahalli ORR             High             1
154                            Kadugodi             High             5
155                            Kadugodi             Less             3
156                     Kadugodi Forest             High             1
157                      Kaikondrahalli             High             3
158                        Kalasipalyam             High             1
159            Kammanahalli HRBR Layout             High             3
160                Kasavanahalli Colony             High             1
161                         Kathriguppe             High             6
162                         Kathriguppe             Less             1
163                             Kengeri             High            11
164                             Kengeri             Less             4
165           Kodihalli Leela Palace Rd             High             1
166                Koramangala - ST Bed             High             1
167               Koramangala 1st Block             High             1
168               Koramangala 3rd Block             High             1
169               Koramangala 5th Block             High             1
170               Koramangala 8th Block             High             1
171                            Kothanur             High             1
172                          Kudlu Gate             High             2
173                  Kumaraswamy Layout             High             3
174                    Kurudusonnehalli             High            20
175                    Kurudusonnehalli             Less             8
176                            Madiwala             High             1
177                       Madiwala Lake             High             2
178                         Mahadevpura             High             4
179              Mahadevpura RHB Colony             High             2
180                            Majestic             High             8
181                            Majestic             Less             5
182                         Mallasandra             High             6
183                         Mallasandra             Less             3
184                        Malleshwaram             High             4
185                        Malleshwaram             Less             1
186          Manyata Tech Park Nagavara             High             2
187                        Marathahalli             High             3
188            Marathahalli BEML Layout             High             1
189         Marathahalli Ring Road Junc             High             2
190                Marathahalli Village             High             1
191                 Marathalli Sector 3             High             2
192                           Mathikere             High            13
193                           Mathikere             Less             1
194                      Mathikere Lake             Less             1
195                             Mavalli             High             1
196                         Mavallipura             High             3
197                         Mavallipura             Less             9
198             Metro - Baiyappanahalli             High             1
199                     Metro - Lalbagh             High             1
200                     Metro - MG Road             High             1
201         Metro - Sandal Soap Factory             High             1
202              Metro - Yelachanahalli             High             1
203                 Metro - Yeshwantpur             Less             1
204                     Metro Jayanagar             High             1
205          Metro Rashtreeya Vidyalaya             High             2
206                         Munnekollal             High             2
207   Munnekollal Sankara Eye Hospital              High             1
208                      Murgesh Pallya             High             1
209                          Muthsandra             High             5
210                          Muthsandra             Less            17
211                  Mysore Road Circle             High             3
212                  Mysore Road Circle             Less             3
213                           Mysore rd             High             4
214                           Mysore rd             Less             2
215                             NIMHANS             High             3
216                          Nagarbhavi             High            11
217                          Nagarbhavi             Less             5
218                          Nagasandra             High             5
219                          Nagasandra             Less             8
220                            Nagavara             High             6
221                            Nagavara             Less             2
222                    National College             High             2
223                         Neelasandra             High             2
224                         Neelasandra             Less             1
225                         Nelamangala             High            19
226                         Nelamangala             Less            85
227                     New Tippasandra             High             1
228                  Parappana Agrahara             High             5
229                  Parappana Agrahara             Less             1
230                              Peenya             High             4
231                              Peenya             Less            14
232                    Peenya 2nd Stage             High             4
233                    Peenya 2nd Stage             Less            15
234                           R T Nagar             High             9
235                           R T Nagar             Less             2
236                  R T Nagar CBI Road             High             1
237                        RMZ Ecospace             High             1
238            RMZ Ecospace - Bellandur             High             4
239              RTO Devarachikanahalli             High             1
240                       RTO HSR Sec 1             High             1
241                     RTO Rajajinagar             High            12
242                     Ramaiah College             High             3
243                    Ramamurthy Nagar             High             7
244                      Sahakara Nagar             High             7
245                      Sahakara Nagar             Less             2
246                 Sampagni Rama Nagar             High             5
247                       Sarakki Lake              High             2
248                            Sarjapur             High            37
249                            Sarjapur             Less            52
250                Sarjapur Harlur Junc             High             1
251                       Sarjapur Road             High            28
252                       Sarjapur Road             Less             3
253                     Sarjapur Signal             High             1
254                        Shanti Nagar             High             3
255            ShivajiNagar - Bangalore             High             3
256            ShivajiNagar - Bangalore             Less             1
257                           Silvepura             High             1
258                           Silvepura             Less             4
259                         Singasandra             High             1
260                    Singasandra Lake             High             1
261                     Soladevanahalli             High             6
262                     Soladevanahalli             Less             8
263                        South Bidadi             High            21
264                        South Bidadi             Less            90
265              Sri Kanteerava Stadium             High             1
266                     St Johns Signal             High             1
267                      Subramanyapura             High             9
268                       Sudhama Nagar             High             1
269                          Tavarakere             High             2
270                         Thanisandra             High            10
271                         Thanisandra             Less             2
272                         Tilak Nagar             High             1
273                  Train - Cantonment             High             1
274                             Trinity             High             1
275                           Turahalli             High             7
276                           Turahalli             Less             7
277                               Ullal             High             1
278                               Ullal             Less             4
279                              Ulsoor             High             1

In [131]:
df_bucket_check = df_hex_8_all_data.groupby(['affluence_hi_tag','fe_bucket']) \
                        .agg({ 'pickup_hex_8' : 'nunique', 
                               'fe_count' : 'sum', 
                               'requested_orders' : 'sum',
                               'net_orders' : 'sum'
                             }).reset_index()
df_bucket_check.head(5)

,affluence_hi_tag,fe_bucket,pickup_hex_8,fe_count,requested_orders,net_orders
0,High,0-60,138,3506,596,113
1,High,3500+,462,6171592,1111624,446735
2,High,451-3500,260,476399,88841,37245
3,High,61-450,115,23455,3992,1302
4,Less,0-60,362,9035,1374,227

In [252]:
df_distr = df_hex_8_all_data.groupby(['pickup_cluster']) \
                                .agg({ 'affluence_hi_tag' : 'nunique', 
                                      'pickup_hex_8' : 'nunique'}).reset_index()
df_distr

                         pickup_cluster  affluence_hi_tag  pickup_hex_8
0               AECS Layout Brookefield                 1             1
1                               Adugodi                 1             2
2               Adugodi Traffic Station                 1             1
3                            Agara Lake                 1             2
4                           Akshaynagar                 1             4
5                      Akshaynagar Lake                 1             1
6                              Anepalya                 2             2
7                            Anjanapura                 2             9
8                               Arekere                 1             1
9                     Arekere Extension                 1             2
10                         Arekere Lake                 1             1
11                  Arekere Mico Layout                 1             3
12                             Attibele                 2            57
13                           BEL Layout                 2             7
14                          BGS Kengeri                 2            15
15                      BLR_Ashok Nagar                 1             1
16                      BLR_HRBR Layout                 1             4
17                          BLR_Hoskote                 2            10
18                      BLR_Indiranagar                 1             5
19                                  BTM                 1             2
20                        BTM 2nd Stage                 1             1
21                     BTM Second Stage                 1             2
22                              Bagalur                 2            40
23     Baiyappanahalli - CV Raman Nagar                 1             1
24               Baiyyappanahalli Cabin                 1             2
25                             Balagere                 2             6
26                          Banashankri                 1             5
27                    Banashankri North                 1             9
28                    Banashankri South                 2            10
29                     Banashankri West                 1             4
30                            Banaswadi                 2            14
31            Banaswadi Railway Station                 1             1
32                    Bangalore Airport                 1             4
33                         Bannerghatta                 2            70
34         Bannerghatta Road - Hulimavu                 1             1
35                     Bannerghatta Zoo                 2            15
36                         Basavanagudi                 1             4
37                    Basaveshwar Nagar                 2             8
38                                Begur                 1             4
39                           Begur Fort                 1             1
40                           Begur Lake                 1             1
41                            Bellandur                 2            15
42                               Bidadi                 2            84
43                      Bilekahalli IIM                 1             3
44                          Bommanahali                 1             2
45          Bommasandra Industrial Area                 2            22
46                          Brookefield                 1             3
47                      C V Raman Nagar                 1             7
48                       CPWD Qtrs HSR                  1             4
49                    Cambridge College                 1             1
50              Cambridge Layout Ulsoor                 1             1
51                    Central Jail Road                 2            13
52                          Chanasandra                 1             4
53                       Chikkabanavara                 2            18
54                          Chikkagobbi                 2            42
55                     Chinnapannahalli                 1             1
56             Columbia Asia Whitefield                 1             8
57                             Cox Town                 1             1
58                          Dasarahalli                 2             9
59                  Devarachikkanahalli                 1             1
60                       Doddaballapura                 2            51
61                       Doddabanahalli                 2             9
62                         Doddanakundi                 1             5
63     Doddanakundi Brindavan Extension                 1             1
64                         Doddanekundi                 1             3
65                               Domlur                 2            10
66         Domlur Embassy Business Park                 1             1
67                       Domlur Flyover                 1             1
68                E-City Police Station                 1             1
69                              Ejipura                 1             1
70                          Ejipura NGV                 1             1
71                      Electronic City                 2            14
72             Electronic City Phase 2                  1             9
73                          Frazer Town                 1             3
74                      Garvebhavipalya                 1             1
75                 Garvebhavipalya Lake                 1             1
76                            Gattigere                 2            12
77                        Gokula Layout                 1             2
78                            Gottigere                 1             5
79                    Green Glen Layout                 1             1
80                                  HAL                 1             4
81                           HBR Layout                 2            10
82                            HSR Sec 2                 1             1
83                               Harlur                 1             4
84                               Hebbal                 2             5
85              Hebbal Baptist Hospital                 1             1
86                          Hemmigepura                 2            17
87                          Hesarghatta                 2            20
88                          Hongasandra                 2             3
89                                Hoodi                 1             3
90                             Horamavu                 2            59
91                            Hosapalya                 1             2
92                              Hoskote                 2            21
93                          Hoskote_BLR                 2            80
94                                  Hsr                 1             2
95                             Hulimavu                 1             2
96                               Huskur                 2            27
97                          Huskur Kodi                 2            12
98                       ITI Layout HSR                 1             2
99                   Indiranagar Empire                 1             1
100        J P Nagar VET College Ground                 1             1
101                           J P nagar                 1             2
102                     J P nagar South                 1             8
103                  JP Nagar 5th Phase                 1             1
104             JP Nagar Dollars Colony                 1             2
105                              Jakkur                 2            18
106                           Jalahalli                 2             7
107                           Jayanagar                 1             3
108                 Jayanagar 4th Block                 1             1
109                   Jeevanbheemanagar                 1             1
110                              Jigani                 2            52
111                           K R Puram                 2            10
112            K R Puram Railway Colony                 1             1
113                    Kadubeesanahalli                 1             3
114                Kadubeesanahalli ORR                 1             1
115                            Kadugodi                 2             8
116                     Kadugodi Forest                 1             1
117                      Kaikondrahalli                 1             3
118                        Kalasipalyam                 1             1
119            Kammanahalli HRBR Layout                 1             3
120                Kasavanahalli Colony                 1             1
121                         Kathriguppe                 2             7
122                             Kengeri                 2            15
123           Kodihalli Leela Palace Rd                 1             1
124                Koramangala - ST Bed                 1             1
125               Koramangala 1st Block                 1             1
126               Koramangala 3rd Block                 1             1
127               Koramangala 5th Block                 1             1
128               Koramangala 8th Block                 1             1
129                            Kothanur                 1             1
130                          Kudlu Gate                 1             2
131                  Kumaraswamy Layout                 1             3
132                    Kurudusonnehalli                 2            28
133                            Madiwala                 1             1
134                       Madiwala Lake                 1             2
135                         Mahadevpura                 1             4
136              Mahadevpura RHB Colony                 1             2
137                            Majestic                 2            13
138                         Mallasandra                 2             9
139                        Malleshwaram                 2             5
140          Manyata Tech Park Nagavara                 1             2
141                        Marathahalli                 1             3
142            Marathahalli BEML Layout                 1             1
143         Marathahalli Ring Road Junc                 1             2
144                Marathahalli Village                 1             1
145                 Marathalli Sector 3                 1             2
146                           Mathikere                 2            14
147                      Mathikere Lake                 1             1
148                             Mavalli                 1             1
149                         Mavallipura                 2            12
150             Metro - Baiyappanahalli                 1             1
151                     Metro - Lalbagh                 1             1
152                     Metro - MG Road                 1             1
153         Metro - Sandal Soap Factory                 1             1
154              Metro - Yelachanahalli                 1             1
155                 Metro - Yeshwantpur                 1             1
156                     Metro Jayanagar                 1             1
157          Metro Rashtreeya Vidyalaya                 1             2
158                         Munnekollal                 1             2
159   Munnekollal Sankara Eye Hospital                  1             1
160                      Murgesh Pallya                 1             1
161                          Muthsandra                 2            22
162                  Mysore Road Circle                 2             6
163                           Mysore rd                 2             6
164                             NIMHANS                 1             3
165                          Nagarbhavi                 2            16
166                          Nagasandra                 2            13
167                            Nagavara                 2             8
168                    National College                 1             2
169                         Neelasandra                 2             3
170                         Nelamangala                 2           104
171                     New Tippasandra                 1             1
172                  Parappana Agrahara                 2             6
173                              Peenya                 2            18
174                    Peenya 2nd Stage                 2            19
175                           R T Nagar                 2            11
176                  R T Nagar CBI Road                 1             1
177                        RMZ Ecospace                 1             1
178            RMZ Ecospace - Bellandur                 1             4
179              RTO Devarachikanahalli                 1             1
180                       RTO HSR Sec 1                 1             1
181                     RTO Rajajinagar                 1            12
182                     Ramaiah College                 1             3
183                    Ramamurthy Nagar                 1             7
184                      Sahakara Nagar                 2             9
185                 Sampagni Rama Nagar                 1             5
186                       Sarakki Lake                  1             2
187                            Sarjapur                 2            89
188                Sarjapur Harlur Junc                 1             1
189                       Sarjapur Road                 2            31
190                     Sarjapur Signal                 1             1
191                        Shanti Nagar                 1             3
192            ShivajiNagar - Bangalore                 2             4
193                           Silvepura                 2             5
194                         Singasandra                 1             1
195                    Singasandra Lake                 1             1
196                     Soladevanahalli                 2            14
197                        South Bidadi                 2           111
198              Sri Kanteerava Stadium                 1             1
199                     St Johns Signal                 1             1
200                      Subramanyapura                 1             9
201                       Sudhama Nagar                 1             1
202                          Tavarakere                 1             2
203                         Thanisandra                 2            12
204                         Tilak Nagar                 1             1
205                  Train - Cantonment                 1             1
206                             Trinity                 1             1
207                           Turahalli                 2            14
208                               Ullal                 2             5
209                              Ulsoor                 1             1
210                         Ulsoor Lake                 1             2
211                             Varthur                 2            20
212                         Veerasandra                 2            17
213                         Venkatapura                 1             2
214                    Vibhutipura Lake                 1             1
215                     Victoria layout                 1             3
216                      Vidyaranyapura                 2            21
217                         Vijayanagar                 2            11
218                           Vimanpura                 2             2
219                          Whitefield                 1             6
220          Whitefield D Silva Layout                  1             1
221              Whitefield Residential                 1             3
222  Whitefield Sri Sathya Sai Hospital                 1             1
223                       Wilson Garden                 1             1
224                  Yelahanka New Town                 2            21
225    Yelahanka Traffic Police Station                 1             2
226                          Yelanhanka                 2            23
227                        Yeshwanthpur                 2             9
228            Yeshwanthpur - Mathikere                 1             1

In [253]:
merge_df = pd.merge(
                    df_distr[df_distr['affluence_hi_tag'].isin([1])],
                    cluster_high_low,
                    how= 'left',
                    left_on = ['pickup_cluster'],
                    right_on = ['pickup_cluster']
                    )
merge_df

,pickup_cluster,affluence_hi_tag_x,pickup_hex_8_x,affluence_hi_tag_y,pickup_hex_8_y
0,AECS Layout Brookefield,1,1,High,1
1,Adugodi,1,2,High,2
2,Adugodi Traffic Station,1,1,High,1
3,Agara Lake,1,2,High,2
4,Akshaynagar,1,4,High,4
5,Akshaynagar Lake,1,1,High,1
6,Arekere,1,1,High,1
7,Arekere Extension,1,2,High,2
8,Arekere Lake,1,1,High,1
9,Arekere Mico Layout,1,3,High,3
10,BLR_Ashok Nagar,1,1,High,1
11,BLR_HRBR Layout,1,4,High,4
12,BLR_Indiranagar,1,5,High,5
13,BTM,1,2,High,2
14,BTM 2nd Stage,1,1,High,1
15,BTM Second Stage,1,2,High,2
16,Baiyappanahalli - CV Raman Nagar,1,1,High,1
17,Baiyyappanahalli Cabin,1,2,High,2
18,Banashankri,1,5,High,5
19,Banashankri North,1,9,High,9
20,Banashankri West,1,4,High,4
21,Banaswadi Railway Station,1,1,High,1
22,Bangalore Airport,1,4,Less,4
23,Bannerghatta Road - Hulimavu,1,1,High,1
24,Basavanagudi,1,4,High,4
25,Begur,1,4,High,4
26,Begur Fort,1,1,High,1
27,Begur Lake,1,1,High,1
28,Bilekahalli IIM,1,3,High,3
29,Bommanahali,1,2,High,2
30,Brookefield,1,3,High,3
31,C V Raman Nagar,1,7,High,7
32,CPWD Qtrs HSR,1,4,High,4
33,Cambridge College,1,1,Less,1
34,Cambridge Layout Ulsoor,1,1,High,1
35,Chanasandra,1,4,High,4
36,Chinnapannahalli,1,1,High,1
37,Columbia Asia Whitefield,1,8,High,8
38,Cox Town,1,1,High,1
39,Devarachikkanahalli,1,1,High,1
40,Doddanakundi,1,5,High,5
41,Doddanakundi Brindavan Extension,1,1,High,1
42,Doddanekundi,1,3,High,3
43,Domlur Embassy Business Park,1,1,High,1
44,Domlur Flyover,1,1,High,1
45,E-City Police Station,1,1,High,1
46,Ejipura,1,1,High,1
47,Ejipura NGV,1,1,High,1
48,Electronic City Phase 2,1,9,High,9
49,Frazer Town,1,3,High,3
50,Garvebhavipalya,1,1,High,1
51,Garvebhavipalya Lake,1,1,High,1
52,Gokula Layout,1,2,High,2
53,Gottigere,1,5,High,5
54,Green Glen Layout,1,1,High,1
55,HAL,1,4,High,4
56,HSR Sec 2,1,1,High,1
57,Harlur,1,4,High,4
58,Hebbal Baptist Hospital,1,1,Less,1
59,Hoodi,1,3,High,3
60,Hosapalya,1,2,High,2
61,Hsr,1,2,High,2
62,Hulimavu,1,2,High,2
63,ITI Layout HSR,1,2,High,2
64,Indiranagar Empire,1,1,High,1
65,J P Nagar VET College Ground,1,1,High,1
66,J P nagar,1,2,High,2
67,J P nagar South,1,8,High,8
68,JP Nagar 5th Phase,1,1,High,1
69,JP Nagar Dollars Colony,1,2,High,2
70,Jayanagar,1,3,High,3
71,Jayanagar 4th Block,1,1,High,1
72,Jeevanbheemanagar,1,1,High,1
73,K R Puram Railway Colony,1,1,High,1
74,Kadubeesanahalli,1,3,High,3
75,Kadubeesanahalli ORR,1,1,High,1
76,Kadugodi Forest,1,1,High,1
77,Kaikondrahalli,1,3,High,3
78,Kalasipalyam,1,1,High,1
79,Kammanahalli HRBR Layout,1,3,High,3
80,Kasavanahalli Colony,1,1,High,1
81,Kodihalli Leela Palace Rd,1,1,High,1
82,Koramangala - ST Bed,1,1,High,1
83,Koramangala 1st Block,1,1,High,1
84,Koramangala 3rd Block,1,1,High,1
85,Koramangala 5th Block,1,1,High,1
86,Koramangala 8th Block,1,1,High,1
87,Kothanur,1,1,High,1
88,Kudlu Gate,1,2,High,2
89,Kumaraswamy Layout,1,3,High,3
90,Madiwala,1,1,High,1
91,Madiwala Lake,1,2,High,2
92,Mahadevpura,1,4,High,4
93,Mahadevpura RHB Colony,1,2,High,2
94,Manyata Tech Park Nagavara,1,2,High,2
95,Marathahalli,1,3,High,3
96,Marathahalli BEML Layout,1,1,High,1
97,Marathahalli Ring Road Junc,1,2,High,2
98,Marathahalli Village,1,1,High,1
99,Marathalli Sector 3,1,2,High,2
100,Mathikere Lake,1,1,Less,1
101,Mavalli,1,1,High,1
102,Metro - Baiyappanahalli,1,1,High,1
103,Metro - Lalbagh,1,1,High,1
104,Metro - MG Road,1,1,High,1
105,Metro - Sandal Soap Factory,1,1,High,1
106,Metro - Yelachanahalli,1,1,High,1
107,Metro - Yeshwantpur,1,1,Less,1
108,Metro Jayanagar,1,1,High,1
109,Metro Rashtreeya Vidyalaya,1,2,High,2
110,Munnekollal,1,2,High,2
111,Munnekollal Sankara Eye Hospital,1,1,High,1
112,Murgesh Pallya,1,1,High,1
113,NIMHANS,1,3,High,3
114,National College,1,2,High,2
115,New Tippasandra,1,1,High,1
116,R T Nagar CBI Road,1,1,High,1
117,RMZ Ecospace,1,1,High,1
118,RMZ Ecospace - Bellandur,1,4,High,4
119,RTO Devarachikanahalli,1,1,High,1
120,RTO HSR Sec 1,1,1,High,1
121,RTO Rajajinagar,1,12,High,12
122,Ramaiah College,1,3,High,3
123,Ramamurthy Nagar,1,7,High,7
124,Sampagni Rama Nagar,1,5,High,5
125,Sarakki Lake,1,2,High,2
126,Sarjapur Harlur Junc,1,1,High,1
127,Sarjapur Signal,1,1,High,1
128,Shanti Nagar,1,3,High,3
129,Singasandra,1,1,High,1
130,Singasandra Lake,1,1,High,1
131,Sri Kanteerava Stadium,1,1,High,1
132,St Johns Signal,1,1,High,1
133,Subramanyapura,1,9,High,9
134,Sudhama Nagar,1,1,High,1
135,Tavarakere,1,2,High,2
136,Tilak Nagar,1,1,High,1
137,Train - Cantonment,1,1,High,1
138,Trinity,1,1,High,1
139,Ulsoor,1,1,High,1
140,Ulsoor Lake,1,2,High,2
141,Venkatapura,1,2,High,2
142,Vibhutipura Lake,1,1,High,1
143,Victoria layout,1,3,High,3
144,Whitefield,1,6,High,6
145,Whitefield D Silva Layout,1,1,High,1
146,Whitefield Residential,1,3,High,3
147,Whitefield Sri Sathya Sai Hospital,1,1,High,1
148,Wilson Garden,1,1,High,1
149,Yelahanka Traffic Police Station,1,2,Less,2
150,Yeshwanthpur - Mathikere,1,1,Less,1

In [254]:
v2_merge_df = pd.merge(
                    df_hex_8_all_data,
                    merge_df,
                    how= 'left',
                    left_on = ['pickup_cluster'],
                    right_on = ['pickup_cluster']
                    )
v2_merge_df

,city,pickup_cluster,pickup_hex_8,usecase_tag,fe_cus_count,fe_count,requested_orders,net_orders,high_income_%,high_income_thrshld,affluence_hi_tag,link_ps,link_nps,auto_ps,auto_nps,fe_bucket,flag_2,flag_tag,affluence_hi_tag_x,pickup_hex_8_x,affluence_hi_tag_y,pickup_hex_8_y
0,Bangalore,Hoskote_BLR,8861893893fffff,NaN,40,48,2,0,25.0,32.0,Less,4,6,3,7,0-60,Less fe,Less ps,NaN,NaN,NaN,NaN
1,Bangalore,Attibele,8861893713fffff,NaN,112,268,21,2,21.0,32.0,Less,7,9,13,13,61-450,Less fe,Less ps,NaN,NaN,NaN,NaN
2,Bangalore,Attibele,88618936a7fffff,NaN,4,22,2,0,25.0,32.0,Less,0,0,0,1,0-60,Less fe,Less ps,NaN,NaN,NaN,NaN
3,Bangalore,Sarjapur,88618935ebfffff,NaN,11,57,9,2,45.0,32.0,High,1,3,0,2,0-60,Less fe,Less ps,NaN,NaN,NaN,NaN
4,Bangalore,Sarjapur,88618935e9fffff,NaN,1,1,1,0,0.0,32.0,Less,0,0,0,0,0-60,Less fe,Less ps,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1994,Bangalore,Bidadi,886014413dfffff,NaN,5,12,1,0,60.0,32.0,High,1,0,1,1,0-60,Less fe,High ps,NaN,NaN,NaN,NaN
1995,Bangalore,Bidadi,8860144135fffff,NaN,29,60,1,0,34.0,32.0,High,0,0,0,1,0-60,Less fe,Less ps,NaN,NaN,NaN,NaN
1996,Bangalore,Bidadi,8860144125fffff,NaN,3,15,2,0,0.0,32.0,Less,0,0,0,0,0-60,Less fe,Less ps,NaN,NaN,NaN,NaN
1997,Bangalore,Bidadi,8860144113fffff,NaN,1,3,2,0,0.0,32.0,Less,0,0,0,1,0-60,Less fe,Less ps,NaN,NaN,NaN,NaN
1998,Bangalore,Bidadi,886014410dfffff,NaN,4,16,1,0,75.0,32.0,High,0,0,0,0,0-60,Less fe,Less ps,NaN,NaN,NaN,NaN

In [255]:
v2_merge_df.columns

Index(['city', 'pickup_cluster', 'pickup_hex_8', 'usecase_tag', 'fe_cus_count',
       'fe_count', 'requested_orders', 'net_orders', 'high_income_%',
       'high_income_thrshld', 'affluence_hi_tag', 'link_ps', 'link_nps',
       'auto_ps', 'auto_nps', 'fe_bucket', 'flag_2', 'flag_tag',
       'affluence_hi_tag_x', 'pickup_hex_8_x', 'affluence_hi_tag_y',
       'pickup_hex_8_y'],
      dtype='object')

In [265]:
kepler_test = v2_merge_df [['city', 'pickup_cluster', 'pickup_hex_8', 'usecase_tag',
                            'high_income_%', 'high_income_thrshld', 
                            'affluence_hi_tag', 'affluence_hi_tag_y','flag_2']]

kepler_test.rename(columns = {'affluence_hi_tag' : 'hi_tag_hex_level',
                              'affluence_hi_tag_y' : 'hi_tag_cluster_level'
                             }, inplace = True)

kepler_test['hi_tag_cluster_level'] = np.where(kepler_test['hi_tag_cluster_level'].isin(['High','Less']) , kepler_test['hi_tag_cluster_level'], 'Both')

In [266]:
kepler_test

,city,pickup_cluster,pickup_hex_8,usecase_tag,high_income_%,high_income_thrshld,hi_tag_hex_level,hi_tag_cluster_level,flag_2
0,Bangalore,Hoskote_BLR,8861893893fffff,NaN,25.0,32.0,Less,Both,Less fe
1,Bangalore,Attibele,8861893713fffff,NaN,21.0,32.0,Less,Both,Less fe
2,Bangalore,Attibele,88618936a7fffff,NaN,25.0,32.0,Less,Both,Less fe
3,Bangalore,Sarjapur,88618935ebfffff,NaN,45.0,32.0,High,Both,Less fe
4,Bangalore,Sarjapur,88618935e9fffff,NaN,0.0,32.0,Less,Both,Less fe
...,...,...,...,...,...,...,...,...,...
1994,Bangalore,Bidadi,886014413dfffff,NaN,60.0,32.0,High,Both,Less fe
1995,Bangalore,Bidadi,8860144135fffff,NaN,34.0,32.0,High,Both,Less fe
1996,Bangalore,Bidadi,8860144125fffff,NaN,0.0,32.0,Less,Both,Less fe
1997,Bangalore,Bidadi,8860144113fffff,NaN,0.0,32.0,Less,Both,Less fe
1998,Bangalore,Bidadi,886014410dfffff,NaN,75.0,32.0,High,Both,Less fe

In [267]:
kepler_test.groupby(['hi_tag_hex_level','flag_2']).agg({ 
                                                'pickup_hex_8' : 'count'
                                                }).reset_index()

  hi_tag_hex_level   flag_2  pickup_hex_8
0             High  High fe           454
1             High  Less fe           521
2             Less  High fe            47
3             Less  Less fe           977

In [269]:
kepler_test.groupby(['hi_tag_hex_level', 'hi_tag_cluster_level','flag_2']).agg({ 
                                                  'pickup_hex_8' : 'count',
                                                   'pickup_cluster' : 'nunique' })

                                               pickup_hex_8  pickup_cluster
hi_tag_hex_level hi_tag_cluster_level flag_2
High             Both                 High fe           168              44
                                      Less fe           483              67
                 High                 High fe           286             142
                                      Less fe            38              18
Less             Both                 High fe            41              28
                                      Less fe           972              65
                 Less                 High fe             6               5
                                      Less fe             5               2

In [276]:
df_flagged_clusters = kepler_test[kepler_test['hi_tag_cluster_level'].isin(['Less','Both']) 
                                  & kepler_test['hi_tag_hex_level'].isin(['Less'])
                                 & kepler_test['flag_2'].isin(['High fe'])
                                 ]
df_flagged_clusters = df_flagged_clusters[['pickup_cluster','pickup_hex_8','usecase_tag']]
df_flagged_clusters

                        pickup_cluster     pickup_hex_8          usecase_tag
134                   Kurudusonnehalli  8861892f5bfffff              leisure
139                   Kurudusonnehalli  8861892f51fffff              Unknown
199                         HBR Layout  8861892eb7fffff              Unknown
200                         HBR Layout  8861892eb5fffff              Unknown
202                         HBR Layout  8861892eb1fffff          residential
215           ShivajiNagar - Bangalore  8861892e93fffff  health_and_personal
221                          Banaswadi  8861892e85fffff          residential
229                          K R Puram  8861892e63fffff          residential
246                          K R Puram  8861892e3bfffff          residential
252                   Kurudusonnehalli  8861892e2dfffff          residential
253                          K R Puram  8861892e2bfffff          residential
297                         Yelanhanka  8861892db7fffff          residential
363                             Hebbal  8861892cd7fffff              leisure
368                           Nagavara  8861892ccbfffff          educational
373                           Nagavara  8861892cc1fffff          educational
386                        Thanisandra  8861892ca3fffff          residential
388            Hebbal Baptist Hospital  8861892c9dfffff          residential
392                     Sahakara Nagar  8861892c95fffff              Unknown
396                             Hebbal  8861892c8bfffff              Unknown
636        Bommasandra Industrial Area  8861892645fffff                  NaN
672                           Anepalya  88618925e3fffff          educational
697                        Neelasandra  88618925a9fffff          educational
750                          Vimanpura  8861892521fffff          residential
828                 Parappana Agrahara  886189244dfffff          educational
859                        Hongasandra  8861892407fffff      household_needs
1011                           Varthur  88618920e9fffff          educational
1162  Yelahanka Traffic Police Station  886016966bfffff      transit_station
1163                            Jakkur  8860169669fffff              Unknown
1166  Yelahanka Traffic Police Station  8860169663fffff              Unknown
1350                         R T Nagar  8860145b67fffff              leisure
1356                          Majestic  8860145b59fffff          educational
1358                          Majestic  8860145b55fffff      transit_station
1360                          Majestic  8860145b51fffff          residential
1390                          Majestic  8860145b0bfffff          residential
1405                       Hemmigepura  8860145ad9fffff      transit_station
1409                       BGS Kengeri  8860145ad1fffff          residential
1454                       Kathriguppe  8860145a55fffff  health_and_personal
1472                Mysore Road Circle  8860145a2bfffff      transit_station
1473                Mysore Road Circle  8860145a29fffff              Unknown
1477                Mysore Road Circle  8860145a21fffff          residential
1489                         Mysore rd  8860145a05fffff              Unknown
1548               Metro - Yeshwantpur  886014595dfffff               office
1556          Yeshwanthpur - Mathikere  886014594bfffff              leisure
1560                    Mathikere Lake  8860145943fffff              leisure
1581                            Peenya  8860145913fffff              Unknown
1635                 Basaveshwar Nagar  8860145863fffff              Unknown
1644                       Vijayanagar  886014584dfffff  health_and_personal

In [279]:
df_flagged_clusters.pickup_hex_8.count()

47

In [277]:
df_flagged_clusters.pickup_cluster.unique()

array(['Kurudusonnehalli', 'HBR Layout', 'ShivajiNagar - Bangalore',
       'Banaswadi', 'K R Puram', 'Yelanhanka', 'Hebbal', 'Nagavara',
       'Thanisandra', 'Hebbal Baptist Hospital', 'Sahakara Nagar',
       'Bommasandra Industrial Area', 'Anepalya', 'Neelasandra',
       'Vimanpura', 'Parappana Agrahara', 'Hongasandra', 'Varthur',
       'Yelahanka Traffic Police Station', 'Jakkur', 'R T Nagar',
       'Majestic', 'Hemmigepura', 'BGS Kengeri', 'Kathriguppe',
       'Mysore Road Circle', 'Mysore rd', 'Metro - Yeshwantpur',
       'Yeshwanthpur - Mathikere', 'Mathikere Lake', 'Peenya',
       'Basaveshwar Nagar', 'Vijayanagar'], dtype=object)

In [132]:
df_bucket_check

,affluence_hi_tag,fe_bucket,pickup_hex_8,fe_count,requested_orders,net_orders
0,High,0-60,138,3506,596,113
1,High,3500+,462,6171592,1111624,446735
2,High,451-3500,260,476399,88841,37245
3,High,61-450,115,23455,3992,1302
4,Less,0-60,362,9035,1374,227
5,Less,3500+,48,448117,75304,29583
6,Less,451-3500,230,312472,57485,23488
7,Less,61-450,384,70649,11037,3095

In [135]:
df_bucket_check['hex_distr'] = round(df_bucket_check['pickup_hex_8']*100/df_bucket_check.pickup_hex_8.sum(),2)
df_bucket_check['fe_distr'] = round(df_bucket_check['fe_count']*100/df_bucket_check.fe_count.sum(),2)
df_bucket_check['rr_distr'] = round(df_bucket_check['requested_orders']*100/df_bucket_check.requested_orders.sum(),2)
df_bucket_check['net_distr'] = round(df_bucket_check['net_orders']*100/df_bucket_check.net_orders.sum(),2)
df_bucket_check['fe2rr'] = round(df_bucket_check['requested_orders']*100/df_bucket_check['fe_count'],2)
df_bucket_check['fe2net'] = round(df_bucket_check['net_orders']*100/df_bucket_check['fe_count'],2)
df_bucket_check['fe_per_hex'] = round(df_bucket_check['fe_count']/df_bucket_check['pickup_hex_8'],2)

In [136]:
df_bucket_check

,affluence_hi_tag,fe_bucket,pickup_hex_8,fe_count,requested_orders,net_orders,hex_distr,fe_distr,rr_distr,net_distr,fe2rr,fe2net,fe_per_hex
0,High,0-60,138,3506,596,113,6.90,0.05,0.04,0.02,17.00,3.22,25.41
1,High,3500+,462,6171592,1111624,446735,23.11,82.12,82.33,82.46,18.01,7.24,13358.42
2,High,451-3500,260,476399,88841,37245,13.01,6.34,6.58,6.87,18.65,7.82,1832.30
3,High,61-450,115,23455,3992,1302,5.75,0.31,0.30,0.24,17.02,5.55,203.96
4,Less,0-60,362,9035,1374,227,18.11,0.12,0.10,0.04,15.21,2.51,24.96
5,Less,3500+,48,448117,75304,29583,2.40,5.96,5.58,5.46,16.80,6.60,9335.77
6,Less,451-3500,230,312472,57485,23488,11.51,4.16,4.26,4.34,18.40,7.52,1358.57
7,Less,61-450,384,70649,11037,3095,19.21,0.94,0.82,0.57,15.62,4.38,183.98