In [1]:
import h3 as h3
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from scipy import stats
from pyhive import presto
from keplergl import KeplerGl
from datetime import datetime, timedelta

import warnings
warnings.filterwarnings('ignore')

In [2]:
connection = presto.connect(
        host='presto-gateway.serving.data.production.internal',
        port=80,
        protocol='http',
        catalog='hive',
        username='manoj.ravirajan@rapido.bike'
)
"""
conn = presto.connect(
    host='presto-gateway.serving.data.plectrum.dev',
    port='443',
    protocol='https',
    catalog='hive',
    username='pallavi.chandra@rapido.bike'
)
"""
"""
conn = presto.connect(host='presto.yoda.run',
                   port=8080,
                   username='pallavi.chandra@rapido.bike')
"""

"\nconn = presto.connect(host='presto.yoda.run',\n                   port=8080,\n                   username='pallavi.chandra@rapido.bike')\n"

In [6]:
fe_query = '''
    select
        cluster,
        hex_id,
        executiondate
    from 
            datasets.city_cluster_hex
        where
            city = 'Bangalore'
            and 
                resolution = 8
'''

In [7]:
test_df = pd.read_sql(fe_query, connection)

In [8]:
test_df

                cluster           hex_id executiondate
0           Nelamangala  8860144847fffff    2023-09-03
1                Bidadi  8860144029fffff    2023-09-03
2     Bangalore Airport  886016908bfffff    2023-09-03
3          Bannerghatta  886014535dfffff    2023-09-03
4          Bannerghatta  88618926d5fffff    2023-09-03
...                 ...              ...           ...
3225           Attibele  886014cb65fffff    2023-09-03
3226           Attibele  88618936a3fffff    2023-09-03
3227           Attibele  88618936b1fffff    2023-09-03
3228           Attibele  88618936b7fffff    2023-09-03
3229           Attibele  88618936a1fffff    2023-09-03

[3230 rows x 3 columns]