In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
notebook_path = os.getcwd()
print(notebook_path)

/Users/rapido/code-repository/pricing/affluence/experiment

In [3]:
df_city_daily_numbers = pd.read_csv('/Users/rapido/local-datasets/affluence/processed/city_daily_numbers.csv')
df_36_hex_daily_numbers = pd.read_csv('/Users/rapido/local-datasets/affluence/processed/36_hex_daily_numbers.csv')

In [6]:
df_city_daily_numbers

,yyyymmdd,city_name,service_name,service_detail_id,fe_counts,net_orders
0,20230807,Bangalore,Link,57370b61a6855d70057417d1,994257,86611
1,20230808,Bangalore,Link,57370b61a6855d70057417d1,955427,88482
2,20230809,Bangalore,Link,57370b61a6855d70057417d1,999586,89922
3,20230810,Bangalore,Link,57370b61a6855d70057417d1,1047446,93768
4,20230811,Bangalore,Link,57370b61a6855d70057417d1,1119928,97625
5,20230812,Bangalore,Link,57370b61a6855d70057417d1,1030209,88982
6,20230813,Bangalore,Link,57370b61a6855d70057417d1,864330,66125

In [7]:
df_36_hex_daily_numbers

,yyyymmdd,city_name,service_name,service_detail_id,pickup_location,pickup_hex_8,fe_counts,net_orders
0,20230809,Bangalore,Link,57370b61a6855d70057417d1,Yelahanka Traffic Police Station,8860169663fffff,485,19
1,20230810,Bangalore,Link,57370b61a6855d70057417d1,Mysore rd,8860145a05fffff,578,79
2,20230811,Bangalore,Link,57370b61a6855d70057417d1,Whitefield,88618921d3fffff,1448,235
3,20230811,Bangalore,Link,57370b61a6855d70057417d1,R T Nagar,8860145b67fffff,489,41
4,20230807,Bangalore,Link,57370b61a6855d70057417d1,Thanisandra,8861892ca3fffff,510,56
...,...,...,...,...,...,...,...,...
247,20230812,Bangalore,Link,57370b61a6855d70057417d1,Vijayanagar,886014584dfffff,696,75
248,20230812,Bangalore,Link,57370b61a6855d70057417d1,Neelasandra,88618925a9fffff,810,92
249,20230813,Bangalore,Link,57370b61a6855d70057417d1,Horamavu,8861892c0bfffff,361,27
250,20230811,Bangalore,Link,57370b61a6855d70057417d1,Kurudusonnehalli,88618921e3fffff,370,41
251,20230807,Bangalore,Link,57370b61a6855d70057417d1,Bommasandra Industrial Area,8861892645fffff,524,58

In [8]:
df_36_hex_daily_total = df_36_hex_daily_numbers.groupby(['yyyymmdd','city_name','service_name','service_detail_id']) \
                        .agg({'fe_counts' : 'sum', \
                              'net_orders' : 'sum'}).reset_index()
df_36_hex_daily_total.rename(columns = {'fe_counts' :'fe_counts_36_hex', \
                                        'net_orders' : 'net_orders_36_hex'
                                       }, inplace = True)
df_36_hex_daily_total

,yyyymmdd,city_name,service_name,service_detail_id,fe_counts_36_hex,net_orders_36_hex
0,20230807,Bangalore,Link,57370b61a6855d70057417d1,51415,3841
1,20230808,Bangalore,Link,57370b61a6855d70057417d1,46407,3712
2,20230809,Bangalore,Link,57370b61a6855d70057417d1,46194,3811
3,20230810,Bangalore,Link,57370b61a6855d70057417d1,48276,4099
4,20230811,Bangalore,Link,57370b61a6855d70057417d1,50164,4254
5,20230812,Bangalore,Link,57370b61a6855d70057417d1,51211,4004
6,20230813,Bangalore,Link,57370b61a6855d70057417d1,47830,3217

In [9]:
df_view_1 = pd.merge(df_city_daily_numbers, \
                     df_36_hex_daily_total,
                     how= 'inner',
                     left_on = ['yyyymmdd','city_name','service_name','service_detail_id'],\
                     right_on = ['yyyymmdd','city_name','service_name','service_detail_id']
                    )
df_view_1['fe_contribution'] = round(df_view_1['fe_counts_36_hex']*100.0/df_view_1['fe_counts'], 2)
df_view_1['net_contribution'] = round(df_view_1['net_orders_36_hex']*100.0/df_view_1['net_orders'], 2)
df_view_1 = df_view_1[['yyyymmdd', 'city_name', 'service_name', 'fe_counts', 'fe_counts_36_hex', 'fe_contribution', \
           'net_orders', 'net_orders_36_hex', 'net_contribution']]
df_view_1

,yyyymmdd,city_name,service_name,fe_counts,fe_counts_36_hex,fe_contribution,net_orders,net_orders_36_hex,net_contribution
0,20230807,Bangalore,Link,994257,51415,5.17,86611,3841,4.43
1,20230808,Bangalore,Link,955427,46407,4.86,88482,3712,4.20
2,20230809,Bangalore,Link,999586,46194,4.62,89922,3811,4.24
3,20230810,Bangalore,Link,1047446,48276,4.61,93768,4099,4.37
4,20230811,Bangalore,Link,1119928,50164,4.48,97625,4254,4.36
5,20230812,Bangalore,Link,1030209,51211,4.97,88982,4004,4.50
6,20230813,Bangalore,Link,864330,47830,5.53,66125,3217,4.87

In [10]:
df_view_2 = pd.merge(df_city_daily_numbers, \
                     df_36_hex_daily_numbers,
                     how= 'inner',
                     left_on = ['yyyymmdd','city_name','service_name','service_detail_id'],\
                     right_on = ['yyyymmdd','city_name','service_name','service_detail_id']
                    )

df_view_2.rename(columns = {'fe_counts_x' :'total_fe_counts', \
                            'net_orders_x' : 'total_net_orders', \
                            'fe_counts_y' : 'fe_counts', \
                            'net_orders_y' : 'net_orders'
                           }, inplace = True)

df_view_2['fe_contribution'] = round(df_view_2['fe_counts']*100.0/df_view_2['total_fe_counts'], 2)
df_view_2['net_contribution'] = round(df_view_2['net_orders']*100.0/df_view_2['total_net_orders'], 2)
df_view_2 = df_view_2[['yyyymmdd', 'city_name', 'service_name', \
                       'pickup_location', 'pickup_hex_8', \
                       'total_fe_counts', 'fe_counts', 'fe_contribution', \
                       'total_net_orders', 'net_orders', 'net_contribution']]
df_view_2

,yyyymmdd,city_name,service_name,pickup_location,pickup_hex_8,total_fe_counts,fe_counts,fe_contribution,total_net_orders,net_orders,net_contribution
0,20230807,Bangalore,Link,Thanisandra,8861892ca3fffff,994257,510,0.05,86611,56,0.06
1,20230807,Bangalore,Link,Horamavu,8861892c11fffff,994257,816,0.08,86611,69,0.08
2,20230807,Bangalore,Link,Majestic,8860145b43fffff,994257,1121,0.11,86611,56,0.06
3,20230807,Bangalore,Link,Sahakara Nagar,8861892c95fffff,994257,595,0.06,86611,41,0.05
4,20230807,Bangalore,Link,Horamavu,8861892f13fffff,994257,527,0.05,86611,39,0.05
...,...,...,...,...,...,...,...,...,...,...,...
247,20230813,Bangalore,Link,Majestic,8860145b55fffff,864330,11239,1.30,66125,632,0.96
248,20230813,Bangalore,Link,Sahakara Nagar,8861892c95fffff,864330,414,0.05,66125,26,0.04
249,20230813,Bangalore,Link,Yeshwanthpur - Mathikere,886014594bfffff,864330,1528,0.18,66125,152,0.23
250,20230813,Bangalore,Link,Horamavu,8861892c11fffff,864330,640,0.07,66125,43,0.07
251,20230813,Bangalore,Link,Horamavu,8861892c0bfffff,864330,361,0.04,66125,27,0.04

In [11]:
pd.pivot_table(df_view_2,
               values= ['fe_contribution', 
                        'net_contribution'], \
               index=['pickup_location', 'pickup_hex_8'], \
               columns=['yyyymmdd']
              )

                                                 fe_contribution           \
yyyymmdd                                                20230807 20230808
pickup_location                  pickup_hex_8
BGS Kengeri                      8860145ad1fffff            0.06     0.04
Bagalur                          8861892db5fffff            0.06     0.05
Banaswadi                        8861892e85fffff            0.20     0.23
                                 8861892ee5fffff            0.16     0.17
Bommasandra Industrial Area      8861892645fffff            0.05     0.05
Domlur                           8861892ed9fffff            0.07     0.07
Electronic City Phase 2          8861892665fffff            0.07     0.07
HBR Layout                       8861892eb7fffff            0.08     0.08
Harlur                           886189246dfffff            0.15     0.18
Horamavu                         8861892c0bfffff            0.05     0.05
                                 8861892c11fffff            0.08     0.07
                                 8861892c55fffff            0.11     0.10
                                 8861892f13fffff            0.05     0.06
K R Puram                        8861892e2bfffff            0.16     0.12
Kurudusonnehalli                 88618921e3fffff            0.06     0.05
Madiwala Lake                    8861892431fffff            0.15     0.16
Majestic                         8860145b43fffff            0.11     0.10
                                 8860145b53fffff            0.05     0.05
                                 8860145b55fffff            1.24     0.94
Marathahalli Village             88618920b3fffff            0.30     0.32
Mathikere                        8861892c97fffff            0.07     0.07
Mathikere Lake                   8860145943fffff            0.06     0.06
Metro - Lalbagh                  88618925bbfffff            0.16     0.14
Mysore rd                        8860145a05fffff            0.06     0.06
Nagavara                         8861892ccbfffff            0.10     0.12
Neelasandra                      88618925a9fffff            0.08     0.08
R T Nagar                        8860145b67fffff            0.04     0.04
Sahakara Nagar                   8861892c95fffff            0.06     0.06
Thanisandra                      8861892ca3fffff            0.05     0.06
Trinity                          88618925a5fffff            0.57     0.58
Vijayanagar                      886014584dfffff            0.06     0.06
Whitefield                       88618921d3fffff            0.15     0.18
Yelahanka Traffic Police Station 8860169663fffff            0.07     0.06
                                 886016966bfffff            0.12     0.10
Yelanhanka                       8861892db7fffff            0.08     0.06
Yeshwanthpur - Mathikere         886014594bfffff            0.18     0.17

                                                                             \
yyyymmdd                                         20230809 20230810 20230811
pickup_location                  pickup_hex_8
BGS Kengeri                      8860145ad1fffff     0.05     0.04     0.05
Bagalur                          8861892db5fffff     0.06     0.05     0.06
Banaswadi                        8861892e85fffff     0.23     0.22     0.16
                                 8861892ee5fffff     0.15     0.17     0.17
Bommasandra Industrial Area      8861892645fffff     0.05     0.05     0.05
Domlur                           8861892ed9fffff     0.07     0.08     0.08
Electronic City Phase 2          8861892665fffff     0.08     0.08     0.11
HBR Layout                       8861892eb7fffff     0.07     0.07     0.07
Harlur                           886189246dfffff     0.14     0.16     0.13
Horamavu                         8861892c0bfffff     0.05     0.06     0.04
                                 8861892c11fffff     0.07     0.07     0.07
                                 8861892c55fffff     0.12     0.11     0.08
                                 8861892f13fffff     0.05     0.05     0.04
K R Puram                        8861892e2bfffff     0.11     0.11     0.10
Kurudusonnehalli                 88618921e3fffff     0.05     0.06     0.03
Madiwala Lake                    8861892431fffff     0.14     0.15     0.15
Majestic                         8860145b43fffff     0.09     0.10     0.09
                                 8860145b53fffff     0.04     0.04     0.04
                                 8860145b55fffff     0.83     0.81     0.89
Marathahalli Village             88618920b3fffff     0.35     0.37     0.36
Mathikere                        8861892c97fffff     0.05     0.08     0.07
Mathikere Lake                   8860145943fffff     0.05     0.05     0.06
Metro - Lalbagh                  88618925bbfffff     0.15     0.12     0.13
Mysore rd                        8860145a05fffff     0.05     0.06     0.04
Nagavara                         8861892ccbfffff     0.10     0.10     0.09
Neelasandra                      88618925a9fffff     0.07     0.07     0.07
R T Nagar                        8860145b67fffff     0.03     0.04     0.04
Sahakara Nagar                   8861892c95fffff     0.06     0.04     0.05
Thanisandra                      8861892ca3fffff     0.07     0.06     0.05
Trinity                          88618925a5fffff     0.56     0.58     0.51
Vijayanagar                      886014584dfffff     0.06     0.06     0.06
Whitefield                       88618921d3fffff     0.19     0.17     0.13
Yelahanka Traffic Police Station 8860169663fffff     0.05     0.04     0.07
                                 886016966bfffff     0.10     0.09     0.09
Yelanhanka                       8861892db7fffff     0.07     0.07     0.09
Yeshwanthpur - Mathikere         886014594bfffff     0.15     0.15     0.14

                                                                    \
yyyymmdd                                         20230812 20230813
pickup_location                  pickup_hex_8
BGS Kengeri                      8860145ad1fffff     0.05     0.09
Bagalur                          8861892db5fffff     0.06     0.07
Banaswadi                        8861892e85fffff     0.22     0.23
                                 8861892ee5fffff     0.16     0.12
Bommasandra Industrial Area      8861892645fffff     0.05     0.07
Domlur                           8861892ed9fffff     0.07     0.06
Electronic City Phase 2          8861892665fffff     0.10     0.09
HBR Layout                       8861892eb7fffff     0.07     0.09
Harlur                           886189246dfffff     0.12     0.14
Horamavu                         8861892c0bfffff     0.04     0.04
                                 8861892c11fffff     0.08     0.07
                                 8861892c55fffff     0.10     0.09
                                 8861892f13fffff     0.05     0.06
K R Puram                        8861892e2bfffff     0.11     0.13
Kurudusonnehalli                 88618921e3fffff     0.04     0.06
Madiwala Lake                    8861892431fffff     0.14     0.14
Majestic                         8860145b43fffff     0.10     0.12
                                 8860145b53fffff     0.04     0.08
                                 8860145b55fffff     1.06     1.30
Marathahalli Village             88618920b3fffff     0.39     0.31
Mathikere                        8861892c97fffff     0.07     0.07
Mathikere Lake                   8860145943fffff     0.07     0.08
Metro - Lalbagh                  88618925bbfffff     0.26     0.36
Mysore rd                        8860145a05fffff     0.05     0.05
Nagavara                         8861892ccbfffff     0.13     0.14
Neelasandra                      88618925a9fffff     0.08     0.10
R T Nagar                        8860145b67fffff     0.07     0.06
Sahakara Nagar                   8861892c95fffff     0.06     0.05
Thanisandra                      8861892ca3fffff     0.07     0.07
Trinity                          88618925a5fffff     0.45     0.54
Vijayanagar                      886014584dfffff     0.07     0.07
Whitefield                       88618921d3fffff     0.13     0.13
Yelahanka Traffic Police Station 8860169663fffff     0.05     0.07
                                 886016966bfffff     0.11     0.11
Yelanhanka                       8861892db7fffff     0.07     0.10
Yeshwanthpur - Mathikere         886014594bfffff     0.16     0.18

                                                 net_contribution           \
yyyymmdd                                                 20230807 20230808
pickup_location                  pickup_hex_8
BGS Kengeri                      8860145ad1fffff             0.06     0.04
Bagalur                          8861892db5fffff             0.05     0.05
Banaswadi                        8861892e85fffff             0.11     0.12
                                 8861892ee5fffff             0.16     0.15
Bommasandra Industrial Area      8861892645fffff             0.07     0.07
Domlur                           8861892ed9fffff             0.09     0.07
Electronic City Phase 2          8861892665fffff             0.10     0.11
HBR Layout                       8861892eb7fffff             0.07     0.07
Harlur                           886189246dfffff             0.15     0.14
Horamavu                         8861892c0bfffff             0.04     0.05
                                 8861892c11fffff             0.08     0.07
                                 8861892c55fffff             0.09     0.10
                                 8861892f13fffff             0.05     0.04
K R Puram                        8861892e2bfffff             0.13     0.09
Kurudusonnehalli                 88618921e3fffff             0.06     0.05
Madiwala Lake                    8861892431fffff             0.12     0.12
Majestic                         8860145b43fffff             0.06     0.06
                                 8860145b53fffff             0.03     0.02
                                 8860145b55fffff             0.61     0.61
Marathahalli Village             88618920b3fffff             0.39     0.32
Mathikere                        8861892c97fffff             0.08     0.09
Mathikere Lake                   8860145943fffff             0.06     0.05
Metro - Lalbagh                  88618925bbfffff             0.14     0.12
Mysore rd                        8860145a05fffff             0.07     0.07
Nagavara                         8861892ccbfffff             0.10     0.12
Neelasandra                      88618925a9fffff             0.09     0.10
R T Nagar                        8860145b67fffff             0.04     0.05
Sahakara Nagar                   8861892c95fffff             0.05     0.05
Thanisandra                      8861892ca3fffff             0.06     0.08
Trinity                          88618925a5fffff             0.42     0.43
Vijayanagar                      886014584dfffff             0.09     0.07
Whitefield                       88618921d3fffff             0.27     0.27
Yelahanka Traffic Police Station 8860169663fffff             0.03     0.01
                                 886016966bfffff             0.14     0.11
Yelanhanka                       8861892db7fffff             0.07     0.05
Yeshwanthpur - Mathikere         886014594bfffff             0.21     0.19

                                                                             \
yyyymmdd                                         20230809 20230810 20230811
pickup_location                  pickup_hex_8
BGS Kengeri                      8860145ad1fffff     0.06     0.03     0.04
Bagalur                          8861892db5fffff     0.05     0.06     0.07
Banaswadi                        8861892e85fffff     0.10     0.12     0.13
                                 8861892ee5fffff     0.15     0.17     0.17
Bommasandra Industrial Area      8861892645fffff     0.06     0.08     0.06
Domlur                           8861892ed9fffff     0.09     0.08     0.08
Electronic City Phase 2          8861892665fffff     0.11     0.11     0.11
HBR Layout                       8861892eb7fffff     0.05     0.07     0.06
Harlur                           886189246dfffff     0.14     0.14     0.15
Horamavu                         8861892c0bfffff     0.04     0.05     0.04
                                 8861892c11fffff     0.08     0.08     0.07
                                 8861892c55fffff     0.10     0.09     0.10
                                 8861892f13fffff     0.05     0.04     0.03
K R Puram                        8861892e2bfffff     0.09     0.09     0.10
Kurudusonnehalli                 88618921e3fffff     0.04     0.05     0.04
Madiwala Lake                    8861892431fffff     0.10     0.14     0.13
Majestic                         8860145b43fffff     0.06     0.08     0.06
                                 8860145b53fffff     0.03     0.03     0.04
                                 8860145b55fffff     0.56     0.60     0.68
Marathahalli Village             88618920b3fffff     0.38     0.38     0.38
Mathikere                        8861892c97fffff     0.08     0.08     0.10
Mathikere Lake                   8860145943fffff     0.05     0.06     0.07
Metro - Lalbagh                  88618925bbfffff     0.14     0.09     0.12
Mysore rd                        8860145a05fffff     0.06     0.08     0.07
Nagavara                         8861892ccbfffff     0.08     0.08     0.09
Neelasandra                      88618925a9fffff     0.09     0.09     0.07
R T Nagar                        8860145b67fffff     0.04     0.05     0.04
Sahakara Nagar                   8861892c95fffff     0.05     0.04     0.04
Thanisandra                      8861892ca3fffff     0.11     0.07     0.08
Trinity                          88618925a5fffff     0.44     0.45     0.40
Vijayanagar                      886014584dfffff     0.07     0.06     0.07
Whitefield                       88618921d3fffff     0.27     0.29     0.24
Yelahanka Traffic Police Station 8860169663fffff     0.02     0.02     0.03
                                 886016966bfffff     0.11     0.12     0.11
Yelanhanka                       8861892db7fffff     0.08     0.10     0.08
Yeshwanthpur - Mathikere         886014594bfffff     0.20     0.21     0.18


yyyymmdd                                         20230812 20230813
pickup_location                  pickup_hex_8
BGS Kengeri                      8860145ad1fffff     0.04     0.06
Bagalur                          8861892db5fffff     0.05     0.07
Banaswadi                        8861892e85fffff     0.15     0.17
                                 8861892ee5fffff     0.16     0.14
Bommasandra Industrial Area      8861892645fffff     0.06     0.07
Domlur                           8861892ed9fffff     0.08     0.07
Electronic City Phase 2          8861892665fffff     0.11     0.08
HBR Layout                       8861892eb7fffff     0.08     0.07
Harlur                           886189246dfffff     0.15     0.11
Horamavu                         8861892c0bfffff     0.06     0.04
                                 8861892c11fffff     0.08     0.07
                                 8861892c55fffff     0.11     0.10
                                 8861892f13fffff     0.05     0.05
K R Puram                        8861892e2bfffff     0.11     0.10
Kurudusonnehalli                 88618921e3fffff     0.05     0.04
Madiwala Lake                    8861892431fffff     0.13     0.12
Majestic                         8860145b43fffff     0.07     0.09
                                 8860145b53fffff     0.04     0.06
                                 8860145b55fffff     0.77     0.96
Marathahalli Village             88618920b3fffff     0.37     0.36
Mathikere                        8861892c97fffff     0.09     0.10
Mathikere Lake                   8860145943fffff     0.08     0.08
Metro - Lalbagh                  88618925bbfffff     0.12     0.15
Mysore rd                        8860145a05fffff     0.10     0.06
Nagavara                         8861892ccbfffff     0.09     0.14
Neelasandra                      88618925a9fffff     0.10     0.10
R T Nagar                        8860145b67fffff     0.05     0.07
Sahakara Nagar                   8861892c95fffff     0.05     0.04
Thanisandra                      8861892ca3fffff     0.06     0.08
Trinity                          88618925a5fffff     0.36     0.45
Vijayanagar                      886014584dfffff     0.08     0.08
Whitefield                       88618921d3fffff     0.20     0.21
Yelahanka Traffic Police Station 8860169663fffff     0.03     0.03
                                 886016966bfffff     0.12     0.12
Yelanhanka                       8861892db7fffff     0.08     0.11
Yeshwanthpur - Mathikere         886014594bfffff     0.17     0.23