In [2]:
from pyhive import presto
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
import numpy as np
import time

from datetime import datetime, timedelta

import seaborn as sns

conn = presto.connect(
    host='presto.processing.yoda.run', 
    ## presto.processing.yoda.run
    ## bi-presto.serving.data.production.internal
    port=80,
    username='manoj.ravirajan@rapido.bike'
)

In [3]:
start_date = '20221001'
end_date = '20230131'

In [7]:
code = f"""

with city_distance as (
select	60	as	"distance"	,'Bangalore'	as	"city"	union
select	100	as	"distance"	,'Hyderabad' as "city" union			
select	15	as	"distance"	,'Mysore' as "city" union			
select	30	as	"distance"	,'Vijayawada' as "city" union			
select	60	as	"distance"	,'Vishakapatnam' as "city" union			
select	35	as	"distance"	,'Coimbatore' as "city" union			
select	25	as	"distance"	,'Trichy' as "city" union			
select	15	as	"distance"	,'Madurai' as "city" union			
select	35	as	"distance"	,'Indore' as "city" union			
select	35	as	"distance"	,'Patna' as "city" union			
select	35	as	"distance"	,'Bhopal' as "city" union			
select	50	as	"distance"	,'Bhubaneswar' as "city" union			
select	40	as	"distance"	,'Ahmedabad' as "city" union			
select	30	as	"distance"	,'Jaipur' as "city" union			
select	50	as	"distance"	,'Chennai' as "city" union			
select	45	as	"distance"	,'Guwahati' as "city" union			
select	18	as	"distance"	,'Mangalore' as "city" union			
select	25	as	"distance"	,'Surat' as "city" union			
select	20	as	"distance"	,'Vadodara' as "city" union			
select	15	as	"distance"	,'Kota' as "city" union			
select	25	as	"distance"	,'Ludhiana' as "city" union			
select	40	as	"distance"	,'Chandigarh' as "city" union			
select	25	as	"distance"	,'Kanpur' as "city" union			
select	50	as	"distance"	,'Lucknow' as "city" union			
select	50	as	"distance"	,'Kolkata' as "city" union			
select	20	as	"distance"	,'Rajahmundry' as "city" union			
select	20	as	"distance"	,'Guntur' as "city" union			
select	15	as	"distance"	,'Salem' as "city" union			
select	15	as	"distance"	,'Jodhpur' as "city" union			
select	10	as	"distance"	,'Ajmer' as "city" union			
select	15	as	"distance"	,'Raipur' as "city" union			
select	15	as	"distance"	,'Udaipur' as "city" union			
select	20	as	"distance"	,'Gwalior' as "city" union			
select	22	as	"distance"	,'Agra' as "city" union			
select	20	as	"distance"	,'Prayagraj' as "city" union			
select	20	as	"distance"	,'Warangal' as "city" union			
select	25	as	"distance"	,'Varanasi' as "city" union			
select	15	as	"distance"	,'Dehradun' as "city" union			
select	15	as	"distance"	,'Amritsar' as "city" union			
select	15	as	"distance"	,'Jalandhar' as "city" union			
select	15	as	"distance"	,'Patiala' as "city" union			
select	23	as	"distance"	,'Bareilly' as "city" union			
select	10	as	"distance"	,'Nellore' as "city" union			
select	40	as	"distance"	,'Tirupati' as "city" union			
select	30	as	"distance"	,'Siliguri' as "city" union			
select	11	as	"distance"	,'Meerut' as "city" union			
select	15	as	"distance"	,'JABALPUR' as "city" union			
select	12	as	"distance"	,'Bhilai' as "city" union			
select	20	as	"distance"	,'Dhanbad' as "city" union			
select	35	as	"distance"	,'Ranchi' as "city" union			
select	15	as	"distance"	,'Durgapur' as "city" union			
select	15	as	"distance"	,'Jamshedpur' as "city" union			
select	25	as	"distance"	,'Shillong' as "city" union			
select	15	as	"distance"	,'Kadapa' as "city" union			
select	12	as	"distance"	,'Aligarh' as "city" union			
select	10	as	"distance"	,'Rohtak' as "city" union			
select	10	as	"distance"	,'Muzaffarpur' as "city" union			
select	25	as	"distance"	,'Gorakhpur' as "city" union			
select	10	as	"distance"	,'Bikaner' as "city" union			
select	20	as	"distance"	,'Bilaspur' as "city" union			
select	25	as	"distance"	,'Sambalpur' as "city" union			
select	15	as	"distance"	,'Kurnool' as "city" union			
select	9	as	"distance"	,'Alwar' as "city" union			
select	8	as	"distance"	,'Ujjain' as "city" union			
select	5	as	"distance"	,'Sagar' as "city" union			
select	10	as	"distance"	,'Bokaro Steel' as "city" union			
select	10	as	"distance"	,'Moradabad' as "city" union			
select	30	as	"distance"	,'Asansol' as "city" union			
select	20	as	"distance"	,'Rourkela' as "city" union			
select	13	as	"distance"	,'Anantapur' as "city" union			
select	20	as	"distance"	,'Kakinada' as "city" union			
select	35	as	"distance"	,'Ramagundam' as "city" union			
select	12	as	"distance"	,'Karimnagar' as "city" union			
select	8	as	"distance"	,'Saharanpur' as "city" union			
select	20	as	"distance"	,'Kurukshetra' as "city" union			
select	10	as	"distance"	,'Jorhat' as "city" union			
select	6	as	"distance"	,'Dibrugarh' as "city" union			
select	20	as	"distance"	,'Gaya' as "city" union			
select	10	as	"distance"	,'Bhagalpur' as "city" union			
select	8	as	"distance"	,'Jhansi' as "city" union			
select	5	as	"distance"	,'Karnal' as "city" union			
select	60	as	"distance"	,'Delhi' as "city" union			
select	75	as	"distance"	,'Mumbai' as "city" union			
select	40	as	"distance"	,'Pune' as "city"			
),

base as (
select 
    yyyymmdd, city_name, order_type, order_id, ride_distance,
    distance_final_distance,
    case 
    when distance_final_distance <= 5.0 then 'Short'
    when distance_final_distance > 5.0 then 'Long' 
    else 'test' end distance_tag,
    distance,
    case 
    when distance_final_distance >= distance then 'exceeded'
    else 'limit' end city_threshold_orders,
    
    spd_fraud_flag,ride_time,
    amount,amount_breakup_base_fare_total,actual_price
    
from orders.order_logs_snapshot 
inner join city_distance on city_name = city_distance.city
where order_status = 'dropped'
    and yyyymmdd  >= '{start_date}' --]] date_format(CURRENT_DATE - interval '5' day, '%Y%m%d')
    and yyyymmdd <= '{end_date}'  --]] date_format(CURRENT_DATE - interval '1' day, '%Y%m%d')
    and service_obj_service_name in ('Link', 'Auto')
)

select 
    date_format(DATE_TRUNC('month', date_parse(yyyymmdd, '%Y%m%d')), '%Y-%m-%d') order_month,
    count(distinct order_id) as Total_orders,
    count(distinct case when spd_fraud_flag = true then order_id end) as total_spd_orders,
    
    try(count(distinct case when spd_fraud_flag = true then order_id end)*100.00/count(distinct order_id)) "spd_orders_%",
    
    count(distinct case when distance_final_distance <= 0.2 then order_id end) as "distance<200m_orders",
    count(distinct case when distance_final_distance >= 0.2 and ride_distance - distance_final_distance <= 0.5  then order_id end) as "diff200-500mtrs",
    count(distinct case when distance_final_distance >= 0.2 and ride_distance - distance_final_distance > 0.5 and ride_distance - distance_final_distance <= 2  then order_id end) as "diff500mtrs-2kms",
    count(distinct case when distance_final_distance >= 0.2 and ride_distance - distance_final_distance > 2 and ride_distance - distance_final_distance <= 4  then order_id end) as "diff2-4kms",
    count(distinct case when distance_final_distance >= 0.2 and ride_distance - distance_final_distance > 4 and ride_distance - distance_final_distance <= 6  then order_id end) as "diff4-6kms",
    count(distinct case when distance_final_distance >= 0.2 and ride_distance - distance_final_distance > 6 and ride_distance - distance_final_distance <= 8  then order_id end) as "diff6-8kms",
    count(distinct case when distance_final_distance >= 0.2 and ride_distance - distance_final_distance > 8  then order_id end) as "diff>8kms",
    count(distinct case when ride_time <= 1 then order_id end) as "time<1_orders",
    count(distinct case when distance_final_distance*1.00/(ride_time*1.00/60) >= 250 then order_id end) as "speed>250kmph_orders",
    count(distinct case when city_threshold_orders = 'exceeded' then order_id end) as city_threshold_orders,
    sum( case when spd_fraud_flag = true then amount_breakup_base_fare_total end) as base_fare_total,
    sum( case when spd_fraud_flag = true then actual_price end) as estimated_fare,
    sum( case when spd_fraud_flag = true then 0.2*actual_price end) as expected_commission
from base
group by 1
order by 1, 12 desc


"""

In [8]:
df_code = pd.read_sql(code, conn)
df_code

,order_month,Total_orders,total_spd_orders,spd_orders_%,distance<200m_orders,diff200-500mtrs,diff500mtrs-2kms,diff2-4kms,diff4-6kms,diff6-8kms,diff>8kms,time<1_orders,speed>250kmph_orders,city_threshold_orders,base_fare_total,estimated_fare,expected_commission
0,2022-10-01,22165715,321861,1.45,235393,20908967,559499,166336,86250,64175,145427,242830,58661,2662,4619712.0,12224004.0,2.444801e+06
1,2022-11-01,23599480,368076,1.56,280748,22256635,570570,169405,91355,70264,160832,278917,57167,2683,5276560.5,13421082.0,2.684216e+06
2,2022-12-01,25307786,380490,1.50,309684,23835452,632470,184677,97046,74374,174455,275546,48816,2991,5327001.5,13601402.0,2.720280e+06
3,2023-01-01,23964426,353247,1.47,288387,21869946,1275992,210415,93265,68916,157920,255597,46389,2759,4790606.0,11920763.0,2.384153e+06

In [9]:
df_code.to_csv("partial offline taxi1.csv", index = False)