In [2]:
from pyhive import presto
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
import numpy as np
import time

from datetime import datetime, timedelta

import seaborn as sns

conn = presto.connect(
    host='presto.processing.yoda.run', 
    ## presto.processing.yoda.run
    ## bi-presto.serving.data.production.internal
    port=80,
    username='manoj.ravirajan@rapido.bike'
)

In [28]:
start_date = '2022-10-01'
end_date = '2022-10-31'

In [29]:
auto = f"""

WITH base_month_customer AS 
(
SELECT 
    DATE_FORMAT(DATE_TRUNC('month', date(run_date)), '%Y-%m-%d') AS month,
    customer_id,
    --MAX(auto_lifetime_last_ride_date) 
    auto_lifetime_last_ride_date,
    auto_lifetime_first_ride_date,
    --MAX(auto_lifetime_rides) 
    auto_lifetime_rides

FROM datasets.iallocator_customer_segments
WHERE 
    run_date BETWEEN DATE_FORMAT(DATE_TRUNC('month', cast('{start_date}' as date)), '%Y-%m-%d')
    AND DATE_FORMAT(DATE_TRUNC('month', cast('{end_date}' as date)) , '%Y-%m-%d') 
    AND run_date = DATE_FORMAT(DATE_TRUNC('month', date(run_date)), '%Y-%m-%d')
    AND (auto_lifetime_rides > 0 or auto_lifetime_rides is not null or auto_lifetime_last_ride_date is not null)

    AND auto_lifetime_rides BETWEEN 1 AND 4
--GROUP BY 1,2
),

base_month_segment AS
(
SELECT 
    DATE_FORMAT(DATE_TRUNC('month', DATE(month)) , '%Y-%m-%d') AS month,
    customer_id,
    CASE
    WHEN auto_lifetime_rides IS NULL OR DATE(month) = DATE(auto_lifetime_first_ride_date) THEN 'LTR =0'
    WHEN auto_lifetime_rides BETWEEN 1 AND 4 AND auto_lifetime_last_ride_date >= (DATE_TRUNC('month', DATE(month)) - INTERVAL '30' DAY) THEN 'LTR ' || cast(auto_lifetime_rides as varchar)
    WHEN auto_lifetime_rides BETWEEN 1 AND 4 THEN 'LTR 1-4'
    WHEN (auto_lifetime_rides BETWEEN 5 AND 20) AND (auto_lifetime_last_ride_date >= (DATE_TRUNC('month', DATE(month)) - INTERVAL '30' DAY)) THEN 'LTR 5-20'
    WHEN (auto_lifetime_rides BETWEEN 21 AND 50) AND (auto_lifetime_last_ride_date >= (DATE_TRUNC('month', DATE(month)) - INTERVAL '30' DAY)) THEN 'LTR 21-50'
    WHEN (auto_lifetime_rides > 50) AND (auto_lifetime_last_ride_date >= (DATE_TRUNC('month', DATE(month)) - INTERVAL '30' DAY)) THEN 'LTR 50+'
    WHEN auto_lifetime_rides >= 5 THEN 'LTR >=5'
    ELSE 'LTR =0'
    END ltr_auto,
    CASE 
    WHEN auto_lifetime_last_ride_date IS NULL OR DATE(month) = DATE(auto_lifetime_first_ride_date) THEN 'LTR=0'
    
    WHEN auto_lifetime_rides BETWEEN 1 AND 4 and auto_lifetime_last_ride_date BETWEEN (DATE_TRUNC('month', DATE(month)) - INTERVAL '7' DAY) AND (DATE_TRUNC('month', DATE(month)) - INTERVAL '0' DAY) THEN '1. 1_7_DAYS'
    WHEN auto_lifetime_rides BETWEEN 1 AND 4 and auto_lifetime_last_ride_date BETWEEN (DATE_TRUNC('month', DATE(month)) - INTERVAL '14' DAY) AND (DATE_TRUNC('month', DATE(month)) - INTERVAL '8' DAY) THEN '1. 8_14_DAYS'
    WHEN auto_lifetime_rides BETWEEN 1 AND 4 and auto_lifetime_last_ride_date BETWEEN (DATE_TRUNC('month', DATE(month)) - INTERVAL '21' DAY) AND (DATE_TRUNC('month', DATE(month)) - INTERVAL '15' DAY) THEN '1. 15_21_DAYS'
    WHEN auto_lifetime_rides BETWEEN 1 AND 4 and auto_lifetime_last_ride_date BETWEEN (DATE_TRUNC('month', DATE(month)) - INTERVAL '30' DAY) AND (DATE_TRUNC('month', DATE(month)) - INTERVAL '22' DAY) THEN '1. 22_30_DAYS'
    
    WHEN auto_lifetime_last_ride_date >= (DATE_TRUNC('month', DATE(month)) - INTERVAL '30' DAY) THEN '1. LAST_30_DAYS'
    WHEN auto_lifetime_last_ride_date BETWEEN (DATE_TRUNC('month', DATE(month)) - INTERVAL '45' DAY) AND (DATE_TRUNC('month', DATE(month)) - INTERVAL '31' DAY) THEN '2. 31_45_DAYS'
    WHEN auto_lifetime_last_ride_date BETWEEN (DATE_TRUNC('month', DATE(month)) - INTERVAL '60' DAY) AND (DATE_TRUNC('month', DATE(month)) - INTERVAL '46' DAY) THEN '3. 46_60_DAYS'
    WHEN auto_lifetime_last_ride_date BETWEEN (DATE_TRUNC('month', DATE(month)) - INTERVAL '90' DAY) AND (DATE_TRUNC('month', DATE(month)) - INTERVAL '61' DAY) THEN '4. 61_90_DAYS'
    WHEN auto_lifetime_last_ride_date BETWEEN (DATE_TRUNC('month', DATE(month)) - INTERVAL '180' DAY) AND (DATE_TRUNC('month', DATE(month)) - INTERVAL '91' DAY) THEN '5. 91_180_DAYS'
    WHEN auto_lifetime_last_ride_date BETWEEN (DATE_TRUNC('month', DATE(month)) - INTERVAL '365' DAY) AND (DATE_TRUNC('month', DATE(month)) - INTERVAL '181' DAY) THEN '6. 181_365_DAYS'
    WHEN auto_lifetime_last_ride_date < (DATE_TRUNC('month', DATE(month)) - INTERVAL '365' DAY) THEN '7. 365_ABOVE'
    ELSE 'LTR=0'
    END recency_auto
FROM base_month_customer
WHERE auto_lifetime_rides BETWEEN 1 AND 4
),

base_month_total AS
(
SELECT 
    DATE_FORMAT(DATE_TRUNC('month', DATE(month)) , '%Y-%m-%d') AS month,
    COUNT(DISTINCT customer_id) existing_custr_total 
FROM base_month_customer
GROUP BY 1
),

customer_rf_daily_kpi AS
(
SELECT 
    day,
    customerid,
    rr_sessions_unique_daily,
    net_rides_daily,
    ao_sessions_unique_daily,
    fe_sessions_unique_daily,
    discount_daily,
    subtotal_daily
        
FROM datasets.customer_rf_daily_kpi
WHERE 
    day BETWEEN DATE_FORMAT(DATE_TRUNC('month', cast('{start_date}' as date)), '%Y-%m-%d')
    AND DATE_FORMAT(DATE_TRUNC('month', cast('{end_date}' as date) + INTERVAL '28' DAY) - INTERVAL '1' DAY, '%Y-%m-%d')
    AND service_name = 'Auto'
    AND customerid IS NOT NULL
),

rr_net AS
(
SELECT 
    DATE_FORMAT(DATE_TRUNC('month', DATE(day)), '%Y-%m-%d') AS month,
    customerid as customer_id,
    SUM(rr_sessions_unique_daily) rr,
    SUM(net_rides_daily) net_rides,
    SUM(discount_daily) burn,
    SUM(subtotal_daily) subtotal
FROM customer_rf_daily_kpi
WHERE 
    day BETWEEN DATE_FORMAT(DATE_TRUNC('month', cast('{start_date}' as date)), '%Y-%m-%d') 
    AND DATE_FORMAT(DATE_TRUNC('month', cast('{end_date}' as date) + INTERVAL '28' DAY) - INTERVAL '1' DAY, '%Y-%m-%d')
GROUP BY 1,2
),

max_daily_ao AS
(
SELECT 
        day,
        customer_id,
        SUM(ao) AS ao,
        SUM(fe) AS fe
FROM
    (
    SELECT 
        customerid as customer_id,
        day,
        max(ao_sessions_unique_daily) AS ao,
        max(fe_sessions_unique_daily) AS fe
    FROM datasets.customer_rf_daily_kpi
    WHERE 
        day BETWEEN DATE_FORMAT(DATE_TRUNC('month', cast('{start_date}' as date)), '%Y-%m-%d') 
        AND DATE_FORMAT(DATE_TRUNC('month', cast('{end_date}' as date) + INTERVAL '28' DAY) - INTERVAL '1' DAY, '%Y-%m-%d')
        AND customerid IS NOT NULL
    GROUP BY 1,2
    )
GROUP BY 1,2
),

monthly_ao AS
(
SELECT  
    DATE_FORMAT(DATE_TRUNC('month', DATE(day)), '%Y-%m-%d') AS month,
    customer_id,
    SUM(ao) AS ao,
    SUM(fe) AS fe
FROM max_daily_ao
GROUP BY 1,2
),

base_current AS (
SELECT 
        COALESCE(b.month,c.month,r.month) month,
        -- b.month,
        COALESCE(b.customer_id,c.customer_id,r.customer_id) customers,
        b.customer_id bcustomer_id,
        COALESCE(b.ltr_auto,'NEW') ltr_auto,
        COALESCE(b.recency_auto, 'NEW') recency_auto,
        c.customer_id acustomer_id,
        r.customer_id rcustomer_id,
        CASE 
        WHEN c.ao = 0 AND r.net_rides > 0 THEN r.net_rides
        WHEN c.ao = 0 AND c.fe > 0 THEN c.fe
        WHEN c.ao = 0 AND r.rr > 0 THEN r.rr
        WHEN c.ao IS NULL THEN 0
        ELSE c.ao END ao,
        
        CASE
        WHEN c.fe = 0 AND r.net_rides > 0 THEN r.net_rides 
        WHEN c.fe = 0 AND r.rr > 0 THEN r.rr
        WHEN c.fe IS NULL THEN 0
        ELSE c.fe END fe,
        
        CASE
        WHEN r.rr = 0 AND r.net_rides > 0 THEN r.net_rides
        WHEN r.rr IS NULL THEN 0
        ELSE r.rr END rr,
        
        COALESCE(r.net_rides, 0) net_rides,
        COALESCE(r.burn, 0) burn,
        COALESCE(r.subtotal, 0) subtotal

FROM base_month_segment AS b
FULL JOIN monthly_ao AS c ON b.customer_id = c.customer_id AND b.month = c.month 
FULL JOIN rr_net AS r ON b.customer_id = r.customer_id AND c.month = r.month
),

detailed_view AS 
(
SELECT 
        c.month,
        ltr_auto,
        case 
        when ltr_auto in ('LTR 1', 'LTR 2', 'LTR 3', 'LTR 4') then 1
        when ltr_auto = 'LTR 1-4' then 2
        when ltr_auto = 'LTR 5-20' then 3
        when ltr_auto = 'LTR 21-50' then 4
        when ltr_auto = 'LTR 50+' then 5
        when ltr_auto = 'LTR >=5' then 6
        when ltr_auto = 'LTR =0' then 7
        when ltr_auto = 'NEW' then 8
        end row_order,
        recency_auto,
        COUNT(DISTINCT bcustomer_id) existing_custr_count,
        COUNT(DISTINCT CASE WHEN ao > 0 THEN acustomer_id END) ao_users,
        COUNT(DISTINCT CASE WHEN fe > 0 THEN acustomer_id END) fe_users,
        COUNT(DISTINCT CASE WHEN rr > 0 THEN rcustomer_id END) rr_users,
        COUNT(DISTINCT CASE WHEN net_rides > 0 THEN rcustomer_id END) net_users,
        SUM(net_rides) net_rides,
        SUM(burn) discount,
        SUM(subtotal) subtotal
        
FROM base_current c
GROUP BY 1,2,3,4
),

summary_view AS (
SELECT 
        c.month,
        COUNT(DISTINCT CASE WHEN net_rides > 0 THEN c.customers END) net_users,
        SUM(net_rides) net_rides,
        SUM(burn) discount,
        SUM(subtotal) subtotal
FROM base_current c
GROUP BY 1
),

a as 
(
SELECT  
        a.month,
        a.row_order,
        a.ltr_auto,
        a.recency_auto,
        a.existing_custr_count,
        COALESCE(try(a.existing_custr_count*100.00/b.existing_custr_total), 0) existing_custr_distr,
        a.ao_users,
        COALESCE(try(a.ao_users*100.00/a.existing_custr_count), 0) ao_conversion, 
        a.fe_users,
        COALESCE(try(a.fe_users*100.00/a.existing_custr_count), 0) fe_conversion, 
        a.rr_users,
        COALESCE(try(a.rr_users*100.00/a.existing_custr_count), 0) rr_conversion,
        COALESCE(try(a.rr_users*100.00/a.fe_users), 0) fe_rr,
        a.net_users,
        COALESCE(try(a.net_users*100.00/a.existing_custr_count), 0) net_conversion,
        COALESCE(try(a.net_users*100.00/a.rr_users), 0) rr_net,
        COALESCE(try(a.net_users*100.00/c.net_users), 0) net_users_distr,
        a.net_rides,
        COALESCE(try(a.net_rides*100.00/c.net_rides), 0) net_rides_distr,
        COALESCE(try(a.net_rides*1.00/a.net_users), 0) rpc,
        a.discount,
        a.subtotal
        
FROM detailed_view a
LEFT JOIN base_month_total b ON a.month = b.month
LEFT JOIN summary_view c ON a.month = c.month
ORDER BY 1,2,3
),

b as 
(
SELECT
        month,
        8 row_order,
        'TOTAL' ltr_auto,
        '' recency_auto,
        SUM(existing_custr_count) existing_custr_count,
        100.00 existing_custr_distr,
        SUM(ao_users) ao_users,
        COALESCE(try(SUM(ao_users)*100.00/SUM(existing_custr_count)), 0) ao_conversion,
        SUM(fe_users) fe_users,
        COALESCE(try(SUM(fe_users)*100.00/SUM(existing_custr_count)), 0) fe_conversion,
        SUM(rr_users) rr_users,
        COALESCE(try(SUM(rr_users)*100.00/SUM(existing_custr_count)), 0) rr_conversion,
        COALESCE(try(SUM(rr_users)*100.00/SUM(fe_users)), 0) fe_rr,
        SUM(net_users) net_users,
        COALESCE(try(SUM(net_users)*100.00/SUM(existing_custr_count)), 0) net_conversion,
        COALESCE(try(SUM(net_users)*100.00/SUM(rr_users)), 0) rr_net,
        100.00 net_users_distr,
        SUM(net_rides) net_rides,
        100.00 net_rides_distr,
        COALESCE(try(SUM(net_rides)*1.0/SUM(net_users)), 0) rpc,
        SUM(discount) discount,
        SUM(subtotal) subtotal
FROM a
GROUP BY 1
),

final as 
(
select * from a
union
select * from b
)
select 
        month,
        ltr_auto,recency_auto,
        existing_custr_count,existing_custr_distr,
        ao_users,ao_conversion,
        fe_users,fe_conversion,
        rr_users,rr_conversion,fe_rr "fe_rr(users)",
        net_users,net_conversion, rr_net "rr_net(users)", net_users_distr,
        net_rides,net_rides_distr,
        rpc,
        discount,
        subtotal,
        COALESCE(TRY(discount*100.0/subtotal),0) discount_perc,
        COALESCE(TRY(discount*1.0/net_rides),0) dpr
from final
order by 1,row_order,3

"""

In [30]:
df_auto = pd.read_sql(auto, conn)
df_auto

,month,ltr_auto,recency_auto,existing_custr_count,existing_custr_distr,ao_users,ao_conversion,fe_users,fe_conversion,rr_users,...,net_conversion,rr_net(users),net_users_distr,net_rides,net_rides_distr,rpc,discount,subtotal,discount_perc,dpr
0,2022-10-01,LTR 1,1. 15_21_DAYS,129501,1.73,82056,63.36,73184,56.51,39008,...,16.94,56.22,0.73,38321,0.51,1.75,125949.0,5.311239e+06,2.371368,3.286684
1,2022-10-01,LTR 4,1. 15_21_DAYS,41198,0.55,31871,77.36,30122,73.12,20302,...,31.60,64.12,0.44,25488,0.34,1.96,63274.0,3.507398e+06,1.804015,2.482502
2,2022-10-01,LTR 3,1. 15_21_DAYS,59514,0.79,40495,68.04,37899,63.68,24544,...,25.83,62.62,0.52,29244,0.39,1.90,75592.0,3.984902e+06,1.896960,2.584872
3,2022-10-01,LTR 2,1. 15_21_DAYS,75504,1.01,53792,71.24,49775,65.92,30189,...,24.09,60.25,0.61,33336,0.44,1.83,97170.0,4.573761e+06,2.124510,2.914867
4,2022-10-01,LTR 2,1. 1_7_DAYS,117965,1.57,100097,84.85,95267,80.76,71557,...,45.34,74.75,1.79,117569,1.55,2.20,294194.0,1.592802e+07,1.847022,2.502309
5,2022-10-01,LTR 1,1. 1_7_DAYS,152126,2.03,115336,75.82,105019,69.03,63704,...,25.64,61.22,1.31,81504,1.08,2.09,220796.0,1.104792e+07,1.998531,2.709020
6,2022-10-01,LTR 4,1. 1_7_DAYS,76166,1.02,67802,89.02,65719,86.28,53441,...,55.06,78.47,1.41,108690,1.44,2.59,236691.0,1.456212e+07,1.625388,2.177670
7,2022-10-01,LTR 3,1. 1_7_DAYS,94781,1.26,81002,85.46,77923,82.21,61617,...,50.14,77.13,1.59,115216,1.52,2.42,258743.0,1.553047e+07,1.666035,2.245721
8,2022-10-01,LTR 1,1. 22_30_DAYS,158416,2.11,92942,58.67,82498,52.08,42597,...,14.64,54.46,0.78,39468,0.52,1.70,128593.0,5.518922e+06,2.330038,3.258159
9,2022-10-01,LTR 3,1. 22_30_DAYS,72179,0.96,44186,61.22,41094,56.93,25545,...,21.49,60.72,0.52,28145,0.37,1.81,70328.0,3.864284e+06,1.819949,2.498774
10,2022-10-01,LTR 2,1. 22_30_DAYS,88192,1.18,59740,67.74,54843,62.19,31949,...,20.75,57.28,0.61,32135,0.42,1.76,88983.0,4.428064e+06,2.009524,2.769037
11,2022-10-01,LTR 4,1. 22_30_DAYS,47053,0.63,34058,72.38,31997,68.00,20810,...,27.54,62.27,0.43,24142,0.32,1.86,57078.0,3.317969e+06,1.720269,2.364261
12,2022-10-01,LTR 2,1. 8_14_DAYS,83543,1.11,63416,75.91,59015,70.64,37728,...,28.43,62.95,0.80,46706,0.62,1.97,124377.0,6.348393e+06,1.959189,2.662977
13,2022-10-01,LTR 4,1. 8_14_DAYS,47881,0.64,38604,80.62,36728,76.71,26295,...,36.77,66.95,0.59,37601,0.50,2.14,89118.0,5.115857e+06,1.741996,2.370097
14,2022-10-01,LTR 3,1. 8_14_DAYS,65562,0.87,48017,73.24,45286,69.07,30984,...,30.65,64.87,0.67,41817,0.55,2.08,101179.0,5.692251e+06,1.777487,2.419566
15,2022-10-01,LTR 1,1. 8_14_DAYS,134719,1.80,92116,68.38,83017,61.62,46234,...,19.71,57.42,0.89,49329,0.65,1.86,146921.0,6.717685e+06,2.187078,2.978390
16,2022-10-01,LTR 1-4,2. 31_45_DAYS,514111,6.86,297804,57.93,268697,52.26,146218,...,15.90,55.89,2.74,137246,1.81,1.68,411149.0,1.911654e+07,2.150750,2.995708
17,2022-10-01,LTR 1-4,3. 46_60_DAYS,540076,7.20,294431,54.52,262711,48.64,135176,...,13.61,54.39,2.46,118210,1.56,1.61,364348.0,1.668439e+07,2.183765,3.082210
18,2022-10-01,LTR 1-4,4. 61_90_DAYS,868365,11.58,425483,49.00,376402,43.35,175677,...,10.41,51.45,3.03,139985,1.85,1.55,419193.0,1.968408e+07,2.129604,2.994557
19,2022-10-01,LTR 1-4,5. 91_180_DAYS,1809109,24.13,695271,38.43,606504,33.53,252944,...,6.86,49.07,4.16,186379,2.46,1.50,559040.0,2.633804e+07,2.122557,2.999480
20,2022-10-01,LTR 1-4,6. 181_365_DAYS,1466169,19.56,397987,27.14,349503,23.84,120577,...,3.95,47.99,1.94,85203,1.13,1.47,282659.0,1.200501e+07,2.354509,3.317477
21,2022-10-01,LTR 1-4,7. 365_ABOVE,823296,10.98,171769,20.86,151121,18.36,43710,...,2.40,45.13,0.66,28851,0.38,1.46,115845.0,4.047786e+06,2.861935,4.015285
22,2022-10-01,LTR =0,LTR=0,31653,0.42,31653,100.00,31653,100.00,31653,...,100.00,100.00,1.06,63066,0.83,1.99,317117.0,8.682258e+06,3.652472,5.028335
23,2022-10-01,TOTAL,,7497079,100.00,12772044,170.36,11189673,149.25,4849064,...,39.81,61.54,100.00,7566475,100.00,2.50,24915571.0,1.002972e+09,2.484173,3.292890
24,2022-10-01,NEW,NEW,0,0.00,9412116,0.00,8173696,0.00,3316605,...,0.00,63.22,70.26,5958824,78.75,2.84,20267234.0,7.809651e+08,2.595152,3.401214

In [31]:
df_auto.to_csv("oct-auto-ltr_1-4.csv", index = False)

In [21]:
df_auto.to_csv("nov-auto-ltr_1-4.csv", index = False)