In [2]:
from pyhive import presto
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
import numpy as np
import time

from datetime import datetime, timedelta

import seaborn as sns

conn = presto.connect(
    host='presto.processing.yoda.run', 
    ## presto.processing.yoda.run
    ## bi-presto.serving.data.production.internal
    port=80,
    username='manoj.ravirajan@rapido.bike'
)

In [3]:
start_date = '20221001'
end_date = '20230131'

In [7]:
code = f"""


"""

In [8]:
df_code = pd.read_sql(code, conn)
df_code

,order_month,Total_orders,total_spd_orders,spd_orders_%,distance<200m_orders,diff200-500mtrs,diff500mtrs-2kms,diff2-4kms,diff4-6kms,diff6-8kms,diff>8kms,time<1_orders,speed>250kmph_orders,city_threshold_orders,base_fare_total,estimated_fare,expected_commission
0,2022-10-01,22165715,321861,1.45,235393,20908967,559499,166336,86250,64175,145427,242830,58661,2662,4619712.0,12224004.0,2.444801e+06
1,2022-11-01,23599480,368076,1.56,280748,22256635,570570,169405,91355,70264,160832,278917,57167,2683,5276560.5,13421082.0,2.684216e+06
2,2022-12-01,25307786,380490,1.50,309684,23835452,632470,184677,97046,74374,174455,275546,48816,2991,5327001.5,13601402.0,2.720280e+06
3,2023-01-01,23964426,353247,1.47,288387,21869946,1275992,210415,93265,68916,157920,255597,46389,2759,4790606.0,11920763.0,2.384153e+06

In [9]:
df_code.to_csv("partial offline taxi1.csv", index = False)