In [3]:
## Import libraries

import warnings
import pandas as pd
import numpy as np

from pyhive import presto
from h3 import h3
from IPython.core.interactiveshell import InteractiveShell
from datetime import date,datetime,timedelta

InteractiveShell.ast_node_interactivity = "all"
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

In [4]:
pd.set_option('display.max_columns', 200)
pd.set_option('display.max_rows', 200)

In [5]:
## Connection

connection = presto.connect(
        host='presto-gateway.serving.data.production.internal',
        port=80,
        protocol='http',
        catalog='hive',
        username='manoj.ravirajan@rapido.bike',
    )

In [6]:
## Filter

yyyymmdd_from = '20230508'
yyyymmdd_to = '20230512'

In [7]:
## datasets.supplycursory_history

def get_captian_duration(yyyymmdd_from):
    
    hex_duration_qery = f"""
        SELECT
            *
        FROM
        (
            SELECT
                *,
                row_number() OVER (PARTITION BY yyyymmdd,captain_id,quarter_hour ORDER BY idle_duration DESC) AS max_idle_duration
            FROM
            (
                SELECT
                    yyyymmdd,
                    captain_id,
                    hex_id,
                    quarter_hour,
                    SUM(CASE WHEN status = 'idle' THEN duration ELSE 0 END) AS idle_duration,
                    SUM(CASE WHEN status = 'diff_status' THEN duration ELSE 0 END) AS others_duration,
                    SUM(CASE WHEN status = 'offline' THEN duration ELSE 0 END) AS offline_duration,
                    MAX(CASE WHEN rnk=1 THEN status END) AS last_status
                    --COUNT(hex_id) OVER(PARTITION BY yyyymmdd,captain_id,quarter_hour) AS total_hex
                FROM
                (
                    SELECT 
                        *, 
                        row_number() OVER (PARTITION BY yyyymmdd,captain_id,hex_id,quarter_hour ORDER BY hhmm DESC) AS rnk
                    FROM
                    (
                    SELECT
                        yyyymmdd,
                        captain_id,
                        location AS hex_id,
                        quarter_hour,
                        CASE 
                            WHEN status IN (4,5,9) THEN 'offline' 
                            WHEN status IN (2) THEN 'idle' 
                            ELSE 'in_order' 
                        END AS status,
                        hhmm,
                        SUM(duration) AS duration
                    FROM
                        hive.datasets.supplycursory_history
                    WHERE 
                        yyyymmdd >= '{yyyymmdd_from}'
                        AND yyyymmdd <= '{yyyymmdd_to}'
                        AND servicedetailid = '5ef2bc5b85846b775f97d170'
                        AND substr(quarter_hour,1,2)  not in ('22','23','00','01','02','03','04','05')
                    GROUP BY 1,2,3,4,5,6
                    )
                    ORDER BY 1,2,3,4,5,6
                )
                GROUP BY 1,2,3,4
                ORDER BY 1,2,3,4
            )
        )
        WHERE 
            idle_duration > 0
            AND max_idle_duration = 1
    """

    hex_duration_df = pd.read_sql(hex_duration_qery, connection)
    
    return hex_duration_df

In [8]:
df_supplycursory_history_backup = get_captian_duration(yyyymmdd_from)
df_supplycursory_history = df_supplycursory_history_backup

In [9]:
df_supplycursory_history.head()

,yyyymmdd,captain_id,hex_id,quarter_hour,idle_duration,others_duration,offline_duration,last_status,max_idle_duration
0,20230508,5f22886001c5e913ce194bd9,8860a24a1dfffff,0845,876,0,0,idle,1
1,20230508,62774c275488a3b9106f1af7,8860a25b2bfffff,1500,33,0,158,in_order,1
2,20230509,5cb5f59e54bc7263ff3d0889,8860b52f4dfffff,1015,133,0,647,idle,1
3,20230509,5cc53a5554bc7263ff53acca,8860a25831fffff,1515,247,0,6,idle,1
4,20230510,5f6312f4baac866b52b4234c,8860b52733fffff,1700,900,0,0,idle,1

In [10]:
### Outliers

df_supplycursory_history['total_duration'] = df_supplycursory_history['idle_duration'] + df_supplycursory_history['others_duration'] +df_supplycursory_history['offline_duration'] 
df_supplycursory_history = df_supplycursory_history[df_supplycursory_history['total_duration'] <= 900]

In [11]:
### Sec to Min function

def get_duration_bucket(duration):
    if duration >0 and duration <= 60:
        return 1
    elif duration > 60 and duration < 120:
        return 2
    else:
        return np.int(duration/60)

In [12]:
df_1 = df_supplycursory_history

In [13]:
df_1['idle_duration'] = df_1.idle_duration.apply(lambda x :get_duration_bucket(x))
df_1['offline_duration'] = df_1.offline_duration.apply(lambda x :get_duration_bucket(x))
df_1.head()

,yyyymmdd,captain_id,hex_id,quarter_hour,idle_duration,others_duration,offline_duration,last_status,max_idle_duration,total_duration
0,20230508,5f22886001c5e913ce194bd9,8860a24a1dfffff,0845,14,0,0,idle,1,876
1,20230508,62774c275488a3b9106f1af7,8860a25b2bfffff,1500,1,0,2,in_order,1,191
2,20230509,5cb5f59e54bc7263ff3d0889,8860b52f4dfffff,1015,2,0,10,idle,1,780
3,20230509,5cc53a5554bc7263ff53acca,8860a25831fffff,1515,4,0,1,idle,1,253
4,20230510,5f6312f4baac866b52b4234c,8860b52733fffff,1700,15,0,0,idle,1,900

In [14]:
## AOR data

def get_order_logs_immutable(yyyymmdd_from):
    
    order_logs_immutable = f"""
        WITH order_stats AS (

            SELECT
                yyyymmdd,
                captain_id,
                pickup_location_hex_8 AS hex_id,
                quarter_hour,
                COUNT(DISTINCT(order_id)) AS order_requested,
                COUNT(DISTINCT(CASE WHEN event_type = 'accepted' THEN order_id END)) AS accepted_orders
            FROM
                (    
                SELECT 
                    date_format(date_parse(yyyymmdd, '%Y%m%d'),'%W') AS week_period,
                    yyyymmdd,
                    captain_id,
                    quarter_hour,
                    order_id,
                    city_name,
                    order_status,
                    event_type,
                    pickup_location_hex_8,
                    captain_location_hex_8
                FROM 
                    orders.order_logs_immutable
                WHERE 
                    yyyymmdd >= '{yyyymmdd_from}'
                    AND yyyymmdd <= '{yyyymmdd_to}'
                    AND service_detail_id = '5ef2bc5b85846b775f97d170'
                    AND city_name = 'Hyderabad'
                    AND service_obj_service_name = 'Auto'
                )
            GROUP BY 1,2,3,4
        )

        SELECT * FROM order_stats
    """

    order_logs_immutable_df = pd.read_sql(order_logs_immutable, connection)
    
    return order_logs_immutable_df

In [15]:
df_order_logs_immutable_backup = get_order_logs_immutable(yyyymmdd_from)
df_order_logs_immutable = df_order_logs_immutable_backup

In [16]:
df_order_logs_immutable.head()

,yyyymmdd,captain_id,hex_id,quarter_hour,order_requested,accepted_orders
0,20230509,5f2965704b3a1541e7c5b255,8860a25a07fffff,2330,8,0
1,20230512,605017141630b45d553b75b1,8860a2591dfffff,1330,2,0
2,20230511,6132f63a0a1f1b86f5f77299,8860a25a2bfffff,0800,1,0
3,20230511,5c49361b4a267149c7794575,8860a25b55fffff,1800,1,0
4,20230512,5f8166584002048a5b5739d3,8860b52d43fffff,1315,1,0

In [17]:
## Join Idle time & AOR

df_merge = pd.merge(df_1, df_order_logs_immutable,  how='left', 
                    left_on=['yyyymmdd','captain_id','hex_id','quarter_hour'], 
                    right_on = ['yyyymmdd','captain_id','hex_id','quarter_hour'])
df_merge = df_merge.fillna(0)
df_merge

,yyyymmdd,captain_id,hex_id,quarter_hour,idle_duration,others_duration,offline_duration,last_status,max_idle_duration,total_duration,order_requested,accepted_orders
0,20230508,5f22886001c5e913ce194bd9,8860a24a1dfffff,0845,14,0,0,idle,1,876,3.0,0.0
1,20230508,62774c275488a3b9106f1af7,8860a25b2bfffff,1500,1,0,2,in_order,1,191,14.0,0.0
2,20230509,5cb5f59e54bc7263ff3d0889,8860b52f4dfffff,1015,2,0,10,idle,1,780,0.0,0.0
3,20230509,5cc53a5554bc7263ff53acca,8860a25831fffff,1515,4,0,1,idle,1,253,1.0,0.0
4,20230510,5f6312f4baac866b52b4234c,8860b52733fffff,1700,15,0,0,idle,1,900,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1596906,20230511,62b6afee6a3d0d661b33af7c,8860a25865fffff,1400,1,0,11,offline,1,708,0.0,0.0
1596907,20230511,62c660d417af9a2d856c06bc,8860a258abfffff,1830,6,0,1,in_order,1,406,0.0,0.0
1596908,20230512,625c3f586bcdc3ebe4554c8d,8860a2595bfffff,1715,1,0,1,in_order,1,60,7.0,0.0
1596909,20230512,6337fe1fe90ec6025b7ba695,8860b52c07fffff,0800,15,0,0,idle,1,900,0.0,0.0
1596910,20230508,5f3e69b029fc1f818d22cd6d,8860b19445fffff,1930,10,0,1,idle,1,696,7.0,0.0

In [18]:
# df_merge['time_bucket'] = 	np.where(df_merge['quarter_hour'].str[:2].isin(['00','01','02','03','04','05','06','07']) , 'rest_morning', 	
#                            np.where(df_merge['quarter_hour'].str[:2].isin(['08','09','10','11']) , 'morning_peak', 	
#                            np.where(df_merge['quarter_hour'].str[:2].isin(['12','13','14','15','16']) , 'afternoon', 
#                            np.where(df_merge['quarter_hour'].str[:2].isin(['17','18','19','20','21']) , 'evening_peak', 'rest_evening'))))
#

In [19]:
df_2 = df_merge.groupby(['yyyymmdd','quarter_hour','idle_duration', 'offline_duration']).agg({'captain_id':'count', 'order_requested':'sum', 'accepted_orders':'sum' }).reset_index()
df_2

,yyyymmdd,quarter_hour,idle_duration,offline_duration,captain_id,order_requested,accepted_orders
0,20230508,0600,1,0,70,24.0,17.0
1,20230508,0600,1,1,16,21.0,4.0
2,20230508,0600,1,2,13,6.0,1.0
3,20230508,0600,1,3,3,3.0,2.0
4,20230508,0600,1,4,3,0.0,0.0
...,...,...,...,...,...,...,...
35486,20230512,2145,13,1,6,3.0,1.0
35487,20230512,2145,13,2,6,1.0,0.0
35488,20230512,2145,14,0,34,8.0,0.0
35489,20230512,2145,14,1,15,3.0,0.0
35490,20230512,2145,15,0,68,0.0,0.0

In [20]:
df_quarter_hour_total_captains = df_1.groupby(['yyyymmdd','quarter_hour']).captain_id.nunique().reset_index(name='all_captains')
df_quarter_hour_total_captains.head()

   yyyymmdd quarter_hour  all_captains
0  20230508         0600          2612
1  20230508         0615          2631
2  20230508         0630          2848
3  20230508         0645          3124
4  20230508         0700          3574

In [21]:
df_refined_data = pd.merge(df_2, df_quarter_hour_total_captains,  how='left', 
                    left_on=['yyyymmdd', 'quarter_hour'], 
                    right_on = ['yyyymmdd', 'quarter_hour'])
df_refined_data

,yyyymmdd,quarter_hour,idle_duration,offline_duration,captain_id,order_requested,accepted_orders,all_captains
0,20230508,0600,1,0,70,24.0,17.0,2612
1,20230508,0600,1,1,16,21.0,4.0,2612
2,20230508,0600,1,2,13,6.0,1.0,2612
3,20230508,0600,1,3,3,3.0,2.0,2612
4,20230508,0600,1,4,3,0.0,0.0,2612
...,...,...,...,...,...,...,...,...
35486,20230512,2145,13,1,6,3.0,1.0,2960
35487,20230512,2145,13,2,6,1.0,0.0,2960
35488,20230512,2145,14,0,34,8.0,0.0,2960
35489,20230512,2145,14,1,15,3.0,0.0,2960
35490,20230512,2145,15,0,68,0.0,0.0,2960

In [22]:
df_refined_data['distribution'] = 100*df_refined_data['captain_id']/df_refined_data['all_captains']
df_refined_data['aor'] = 100*df_refined_data['accepted_orders']/df_refined_data['order_requested']
df_refined_data.fillna(0)

,yyyymmdd,quarter_hour,idle_duration,offline_duration,captain_id,order_requested,accepted_orders,all_captains,distribution,aor
0,20230508,0600,1,0,70,24.0,17.0,2612,2.679939,70.833333
1,20230508,0600,1,1,16,21.0,4.0,2612,0.612557,19.047619
2,20230508,0600,1,2,13,6.0,1.0,2612,0.497703,16.666667
3,20230508,0600,1,3,3,3.0,2.0,2612,0.114855,66.666667
4,20230508,0600,1,4,3,0.0,0.0,2612,0.114855,0.000000
...,...,...,...,...,...,...,...,...,...,...
35486,20230512,2145,13,1,6,3.0,1.0,2960,0.202703,33.333333
35487,20230512,2145,13,2,6,1.0,0.0,2960,0.202703,0.000000
35488,20230512,2145,14,0,34,8.0,0.0,2960,1.148649,0.000000
35489,20230512,2145,14,1,15,3.0,0.0,2960,0.506757,0.000000
35490,20230512,2145,15,0,68,0.0,0.0,2960,2.297297,0.000000

In [23]:
##df_refined_data[df_refined_data['quarter_hour'] == '0900']

In [24]:
# df_refined_data.to_csv("quarter_hour_20230514.csv", index= False)

In [25]:
df_v1 = df_refined_data.groupby(['yyyymmdd','idle_duration', 'offline_duration']).agg({'distribution':'mean', 'aor':'mean'}).reset_index()
df_v2 = df_v1[df_v1['idle_duration'] + df_v1['offline_duration'] == 15]
df_v2.head()

    yyyymmdd  idle_duration  offline_duration  distribution       aor
14  20230508              1                14      2.987359  4.161406
28  20230508              2                13      1.280754  3.252076
41  20230508              3                12      0.026277       NaN
53  20230508              4                11      0.027388       NaN
64  20230508              5                10      0.020966       NaN

In [26]:
df_v2.pivot(index = 'idle_duration' , columns ='yyyymmdd', values =['distribution', 'aor']).fillna(0)

              distribution                                                aor  \
yyyymmdd          20230508  20230509  20230510  20230511  20230512   20230508
idle_duration
1                 2.987359  2.855818  2.884388  2.914177  2.960824   4.161406
2                 1.280754  1.488792  1.180991  1.086863  1.009892   3.252076
3                 0.026277  0.024281  0.026309  0.020473  0.026205   0.000000
4                 0.027388  0.018819  0.027030  0.026420  0.024668   0.000000
5                 0.020966  0.023541  0.027217  0.031514  0.028485   0.000000
6                 0.021484  0.022117  0.032808  0.023866  0.027568   0.000000
7                 0.025185  0.017831  0.022346  0.025445  0.020757   0.000000
8                 0.023091  0.020495  0.033316  0.025042  0.023649   0.000000
9                 0.023011  0.021940  0.021281  0.023468  0.022464   0.000000
10                0.020067  0.020135  0.026231  0.024352  0.023301   0.000000
11                0.020467  0.021756  0.027197  0.026201  0.020963   0.000000
12                0.026037  0.020928  0.019680  0.029311  0.031390   0.000000
13                0.382244  0.446941  0.337621  0.317774  0.363596   5.113636
14                1.056932  1.283176  1.037803  0.847593  0.806154   6.589308
15                4.231306  5.027808  4.228831  3.026121  3.548899  37.500000


yyyymmdd       20230509   20230510  20230511  20230512
idle_duration
1              3.730198   4.195790  3.479216  2.971596
2              2.120401   0.000000  2.827381  7.514368
3              0.000000   0.000000  0.000000  0.000000
4              0.000000   0.000000  0.000000  0.000000
5              0.000000   0.000000  0.000000  0.000000
6              0.000000   0.000000  0.000000  0.000000
7              0.000000   0.000000  0.000000  0.000000
8              0.000000   0.000000  0.000000  0.000000
9              0.000000   0.000000  0.000000  0.000000
10             0.000000   0.000000  0.000000  0.000000
11             0.000000   0.000000  0.000000  0.000000
12             0.000000   0.000000  0.000000  0.000000
13             2.133333   0.000000  1.562500  3.571429
14             8.598423   8.186499  7.330805  8.156836
15             0.000000  33.333333  0.000000  0.000000

In [27]:
df_v3 = pd.pivot_table(df_v1, values= ['distribution', 'aor'] , index=['idle_duration', 'offline_duration'],
                       columns=['yyyymmdd']).reset_index()
df_v3

         idle_duration offline_duration        aor                        \
yyyymmdd                                  20230508   20230509   20230510
0                    1                0  29.211972  33.916411  31.650142
1                    1                1  10.088643  12.688900  13.520154
2                    1                2   8.564362  11.175651  10.006869
3                    1                3  12.301921   9.453877   7.649813
4                    1                4   9.695521  10.452565   8.119973
5                    1                5   6.542313   9.811350   6.517625
6                    1                6   6.938497  11.178568   9.881249
7                    1                7   8.357475  11.500189   5.765322
8                    1                8   6.382045   6.581391   5.522401
9                    1                9   5.531337   8.172036   8.037857
10                   1               10   6.608325   3.644180   4.054646
11                   1               11   4.124507   4.221341   3.656614
12                   1               12   4.910256   6.717930   6.642858
13                   1               13   4.790316   4.162351   6.296641
14                   1               14   4.161406   3.730198   4.195790
15                   2                0  21.690904  24.801051  24.855917
16                   2                1   8.050267  11.395998  10.152659
17                   2                2   6.423507   6.594637   7.342704
18                   2                3   7.804016   6.943137   6.838761
19                   2                4   8.156838  10.798066   9.539920
20                   2                5   6.643941   6.596992   6.295238
21                   2                6   5.388379   8.160493  10.367359
22                   2                7   9.332579   7.956192   8.139125
23                   2                8   6.228832   4.821460   9.525138
24                   2                9   4.280646   6.437939   6.838825
25                   2               10   7.207597   3.591308   3.732545
26                   2               11   8.156659   4.043538   4.202840
27                   2               12   2.621827   2.312081   3.161756
28                   2               13   3.252076   2.120401   0.000000
29                   3                0  19.590326  22.424671  21.572328
30                   3                1  10.339148   9.254102  10.259151
31                   3                2   8.291058   9.281378  13.085571
32                   3                3  13.561517  11.857860  10.786263
33                   3                4  14.838240   8.373637   9.007046
34                   3                5   4.980527   9.846724   9.369775
35                   3                6   5.377841   7.574924  10.503434
36                   3                7   7.459079   6.099392   3.590394
37                   3                8  13.073053  12.339045   6.323842
38                   3                9  12.226209   6.467505   2.638641
39                   3               10   3.050644   3.333180   3.243079
40                   3               11   5.069444   1.254252   6.332418
41                   3               12        NaN        NaN        NaN
42                   4                0  19.215568  21.424691  19.816510
43                   4                1   8.070534  10.389779  10.486338
44                   4                2   8.139858   9.131077   8.191827
45                   4                3  11.167112  10.082753   4.850560
46                   4                4   5.941184  13.690204   6.508269
47                   4                5   4.285052  12.080585   6.779176
48                   4                6   7.649257  10.950419   3.226862
49                   4                7  11.424242   5.116686   8.709094
50                   4                8   7.392657  10.394075   6.129870
51                   4                9   1.486077   3.304598   7.530303
52                   4               10   2.068966   2.753968   2.786221
53                   4               11        NaN        NaN        NaN
54                   5                0  19.108081  19.673452  19.382256
55                   5                1   8.413131   9.228114  10.849800
56                   5                2   7.675507   9.780869   7.813653
57                   5                3   7.490443  15.226989  12.363206
58                   5                4   8.047709  10.079680   5.367258
59                   5                5   9.319609   9.129343   4.375796
60                   5                6   7.227669  14.070457   7.903547
61                   5                7   3.920565   8.665501   4.203110
62                   5                8   4.361111   1.479982   1.722222
63                   5                9   0.943396   1.637931   3.038194
64                   5               10        NaN        NaN        NaN
65                   6                0  16.765358  21.731118  19.973082
66                   6                1   8.103221   8.826774   9.584056
67                   6                2   6.940010   7.770236   6.329547
68                   6                3   4.924242   5.838949   7.320943
69                   6                4   9.418513  11.919990   8.508820
70                   6                5   4.539213   8.010259   9.750000
71                   6                6   3.955556   4.350517   4.194004
72                   6                7   4.406499   4.443812   5.749919
73                   6                8   3.921569   0.862069   2.272727
74                   6                9        NaN        NaN        NaN
75                   7                0  16.091120  18.579644  18.758191
76                   7                1   7.813501   9.035479  11.248316
77                   7                2   4.813658   7.838277   8.605082
78                   7                3   9.341045  10.446579   4.121032
79                   7                4   5.439400   3.946687  11.196581
80                   7                5  10.767196   7.925345   3.127706
81                   7                6   2.755102   1.481481   7.033800
82                   7                7   0.000000   0.000000   3.953488
83                   7                8        NaN        NaN        NaN
84                   8                0  16.504691  18.809231  16.748744
85                   8                1   7.648000   9.521013   7.344237
86                   8                2   7.866467   9.686154   8.356729
87                   8                3   5.495169   8.510662   9.813520
88                   8                4   5.749288   7.954545   9.264421
89                   8                5   0.958042   0.303030   4.088050
90                   8                6   0.000000   0.909091   5.128205
91                   8                7        NaN        NaN        NaN
92                   9                0  17.090655  18.335072  16.032810
93                   9                1   8.419783   7.532705   8.776758
94                   9                2   5.051948   9.378515   9.719849
95                   9                3  13.975694  12.273595   9.447279
96                   9                4   5.019841   6.215177   1.826923
97                   9                5   2.727273   2.666667   1.857143
98                   9                6        NaN        NaN        NaN
99                  10                0  15.260870  16.709457  15.276952
100                 10                1   8.962867   8.643466   8.045070
101                 10                2   8.916159   7.124539   8.724746
102                 10                3   4.489469   6.764706   5.820106
103                 10                4   4.583333   3.191358   2.192982
104                 10                5        NaN        NaN        NaN
105                 11                0  17.942397  14.777985  14.828652
106                 11                1   7.772979  10.648205   8.435281
107                 11                2   5.423130   3.898116   6.933964
108                 11                3   0.000000   0.000000   0.000000
109                 11                4        NaN        NaN        NaN
110                 12                0  12.844291  13.614103  15.246802
111                 12                1   8.770025   6.616976   8.349520
112                 12                2   4.117725   6.104090   3.442647
113                 12                3        NaN        NaN        NaN
114                 13                0   9.059037  10.309053  11.369671
115                 13                1   7.725416   8.032313   6.456746
116                 13                2   5.113636   2.133333   0.000000
117                 14                0   5.421273   6.477936   7.126962
118                 14                1   6.589308   8.598423   8.186499
119                 15                0  37.500000   0.000000  33.333333

                               distribution                                 \
yyyymmdd   20230511   20230512     20230508  20230509  20230510   20230511
0         28.182791  27.800080     8.702217  7.231098  8.209783   8.205302
1          9.273110  10.029686     7.075856  5.087936  9.336442  11.318868
2          6.863913   7.473819     1.834534  1.456429  2.391685   2.770135
3         11.058948   8.985710     0.690891  0.537861  0.826432   0.923788
4          7.889605   7.485502     0.637621  0.491651  0.783838   0.825245
5          7.306819   9.610330     0.616327  0.501905  0.732762   0.804961
6          5.725383   7.376569     0.613214  0.486183  0.700440   0.793075
7          9.554226   8.582761     0.633896  0.460295  0.692291   0.821834
8          6.287683   6.517910     0.613477  0.502307  0.719832   0.791913
9          4.088548   4.399927     0.615674  0.498048  0.704879   0.797129
10         5.498563   5.807653     0.641480  0.530303  0.734390   0.798597
11         5.710912   3.032596     0.689653  0.568902  0.797123   0.873171
12         3.504192   4.673526     0.790317  0.651488  0.925035   1.033207
13         4.460249   2.741848     1.125712  0.928136  1.257531   1.379787
14         3.479216   2.971596     2.987359  2.855818  2.884388   2.914177
15        22.766662  23.669650     8.703498  8.213874  8.057178   7.872623
16         8.393568   9.053697     3.108445  2.726176  3.510009   3.651239
17         5.171237   5.299948     0.987049  0.866051  1.167650   1.234641
18         6.773571   5.744150     0.346333  0.318584  0.371143   0.388650
19         5.499258   7.837265     0.305945  0.280494  0.340468   0.357199
20         5.998063   7.542227     0.298855  0.265200  0.317838   0.320951
21         7.532418   7.705659     0.297441  0.279746  0.309995   0.314698
22         5.345915   7.331302     0.309246  0.283229  0.300024   0.320822
23         7.482292   5.438100     0.312267  0.283023  0.328728   0.311062
24         3.636284   6.131075     0.341736  0.326738  0.345103   0.344258
25         5.674334   5.826980     0.435158  0.408161  0.411796   0.408151
26         5.120773   6.477433     0.564852  0.536837  0.546509   0.553127
27         4.635735   3.876354     1.473791  1.567183  1.396717   1.270294
28         2.827381   7.514368     1.280754  1.488792  1.180991   1.086863
29        22.603732  20.308139     3.810889  3.687679  3.390247   3.390038
30         9.557765   9.865124     0.960191  0.888877  1.026991   1.014875
31         5.520049   6.737183     0.311759  0.300836  0.308429   0.326077
32         6.346938  12.077694     0.128756  0.114040  0.128381   0.116432
33         7.209796  11.863886     0.112524  0.117973  0.126517   0.113857
34         5.236158   7.854207     0.115535  0.117791  0.108702   0.128224
35         7.623357  14.936169     0.114924  0.117540  0.116753   0.109150
36         4.699200   7.750175     0.124266  0.130216  0.119472   0.129807
37         3.702456   4.350646     0.147312  0.177288  0.155083   0.147295
38         5.178571   2.619949     0.167147  0.154971  0.167852   0.159687
39         3.697318   2.171717     0.264780  0.264393  0.244806   0.241657
40         1.212121   0.775194     0.884149  0.972020  0.848425   0.683103
41              NaN        NaN     0.026277  0.024281  0.026309   0.020473
42        21.133285  22.192887     3.260521  3.367901  2.843298   2.940655
43        10.876479   8.521795     0.769317  0.754507  0.802227   0.792567
44         7.554429   8.247572     0.266984  0.252976  0.260574   0.266603
45        15.771691  10.666017     0.107026  0.108672  0.093373   0.088458
46         6.330310  11.137306     0.106951  0.107751  0.107647   0.097444
47         8.805708   8.844045     0.097825  0.098834  0.102815   0.093766
48         4.317315   5.727273     0.117975  0.132549  0.117493   0.111051
49         8.828571   7.067992     0.121552  0.126542  0.123970   0.121328
50         8.218765   1.205674     0.145814  0.156309  0.136776   0.126077
51         3.456790   4.487179     0.212796  0.232426  0.208694   0.207418
52         4.621212   0.531915     0.739422  0.857190  0.690324   0.591827
53              NaN        NaN     0.027388  0.018819  0.027030   0.026420
54        20.086467  19.348649     2.928685  3.146202  2.617810   2.623094
55        10.649302   8.671775     0.666039  0.666838  0.673213   0.659058
56         6.959762   6.370179     0.228045  0.225686  0.222148   0.237738
57         3.628118   4.042986     0.097514  0.104105  0.090621   0.087999
58         7.857023   9.293260     0.110821  0.110149  0.096567   0.094613
59         3.891667   8.962963     0.113677  0.106362  0.117200   0.098785
60        15.703704   9.174765     0.102481  0.121828  0.106634   0.095000
61        10.346729   8.194004     0.121166  0.125675  0.116936   0.113134
62         6.712121   3.049645     0.198719  0.206020  0.181233   0.173271
63         1.762821   0.833333     0.656286  0.755041  0.598923   0.513280
64              NaN        NaN     0.020966  0.023541  0.027217   0.031514
65        19.608756  19.782030     2.564080  2.829645  2.312717   2.278721
66         8.571660   9.685766     0.596461  0.602797  0.587935   0.585109
67         8.272468  10.249532     0.226196  0.222800  0.206375   0.194311
68         8.226950   8.208333     0.082979  0.094330  0.089545   0.090025
69        11.338815   9.935606     0.082458  0.096725  0.088003   0.074644
70         5.746914  11.463415     0.086478  0.094955  0.085042   0.084766
71         3.523035   9.715762     0.108058  0.107769  0.097530   0.092445
72         6.882716   2.265432     0.168504  0.186164  0.156185   0.156228
73         4.263566   2.666667     0.581838  0.681351  0.515348   0.464814
74              NaN        NaN     0.021484  0.022117  0.032808   0.023866
75        20.559232  17.052822     2.368858  2.648727  2.130036   2.162748
76         8.769088   9.769155     0.539247  0.533742  0.498688   0.527062
77        12.740458  10.511554     0.184901  0.204001  0.184836   0.175205
78        11.661376   7.671670     0.082193  0.081374  0.085814   0.068591
79        12.380185  10.614217     0.078225  0.077122  0.085042   0.078301
80         9.265873   7.936508     0.082562  0.106416  0.085067   0.089369
81         3.740741   6.274510     0.163976  0.165488  0.154139   0.131770
82         0.757576   0.625000     0.507897  0.578025  0.478822   0.442363
83              NaN        NaN     0.025185  0.017831  0.022346   0.025445
84        18.807039  20.086355     1.988841  2.276676  1.817872   1.750852
85         8.891836   8.305173     0.467951  0.479504  0.439530   0.434422
86         8.953660   5.902721     0.169516  0.175287  0.154247   0.148128
87        10.202020   8.163265     0.073070  0.077538  0.076558   0.068379
88         7.238095   6.666667     0.077742  0.088757  0.077179   0.073316
89         9.271137   4.242424     0.147525  0.168251  0.151205   0.130901
90         0.000000   2.857143     0.477897  0.561016  0.407737   0.375168
91              NaN        NaN     0.023091  0.020495  0.033316   0.025042
92        17.020213  19.797836     1.695548  1.868247  1.519201   1.448962
93         6.944951   7.996642     0.380048  0.412343  0.381805   0.379912
94         8.386371   7.554897     0.144934  0.153583  0.149072   0.133016
95         6.306306   6.837607     0.083427  0.078591  0.069265   0.064289
96         3.455285   4.059829     0.136385  0.155952  0.123577   0.121782
97         0.980392   0.675676     0.415469  0.475513  0.388393   0.316962
98              NaN        NaN     0.023011  0.021940  0.021281   0.023468
99        16.021729  18.420154     1.472495  1.620643  1.346353   1.288828
100        9.671765   6.732206     0.340352  0.368861  0.351057   0.330826
101        8.566260   6.570918     0.141463  0.168427  0.124526   0.134176
102        4.288889   7.709487     0.132112  0.131991  0.108733   0.109975
103        3.125000   0.000000     0.378052  0.465491  0.364168   0.298499
104             NaN        NaN     0.020067  0.020135  0.026231   0.024352
105       15.664110  13.831227     1.296551  1.494611  1.157207   1.149039
106        7.940073   9.514521     0.315978  0.356243  0.316746   0.301771
107        5.565998   5.564553     0.194023  0.234640  0.184774   0.165242
108        0.000000   1.190476     0.343385  0.466422  0.332382   0.268800
109             NaN        NaN     0.020467  0.021756  0.027197   0.026201
110       13.243547  11.464602     1.242125  1.445921  1.158693   1.096367
111        7.072854   8.257629     0.293431  0.365221  0.313486   0.290767
112        2.647059  13.299320     0.474038  0.569189  0.442229   0.358781
113             NaN        NaN     0.026037  0.020928  0.019680   0.029311
114       10.271322   8.021157     1.474458  1.779981  1.368106   1.392756
115        8.264648   6.905828     0.371852  0.432866  0.373602   0.377923
116        1.562500   3.571429     0.382244  0.446941  0.337621   0.317774
117        7.867655   5.288480     5.768167  7.631508  5.611709   4.952758
118        7.330805   8.156836     1.056932  1.283176  1.037803   0.847593
119        0.000000   0.000000     4.231306  5.027808  4.228831   3.026121


yyyymmdd   20230512
0          8.442710
1         12.365078
2          3.174974
3          0.998284
4          0.959435
5          0.891970
6          0.833757
7          0.825652
8          0.853539
9          0.877483
10         0.883730
11         0.935740
12         1.077637
13         1.436744
14         2.960824
15         7.742373
16         3.604398
17         1.210476
18         0.388383
19         0.361966
20         0.336329
21         0.310309
22         0.314742
23         0.319727
24         0.322525
25         0.417984
26         0.533249
27         1.250478
28         1.009892
29         3.238872
30         1.009706
31         0.324563
32         0.112328
33         0.107216
34         0.105904
35         0.111082
36         0.117102
37         0.131202
38         0.160925
39         0.230083
40         0.638324
41         0.026205
42         2.806757
43         0.812949
44         0.254738
45         0.091023
46         0.101948
47         0.093956
48         0.110007
49         0.109214
50         0.127582
51         0.182948
52         0.579953
53         0.024668
54         2.368205
55         0.647441
56         0.219779
57         0.086671
58         0.089871
59         0.088319
60         0.101281
61         0.102138
62         0.181528
63         0.508975
64         0.028485
65         2.117492
66         0.553108
67         0.193476
68         0.083754
69         0.077545
70         0.080200
71         0.085272
72         0.143151
73         0.440710
74         0.027568
75         1.943034
76         0.493988
77         0.178583
78         0.077023
79         0.070400
80         0.089170
81         0.145215
82         0.384961
83         0.020757
84         1.592424
85         0.435094
86         0.148757
87         0.068676
88         0.078691
89         0.132203
90         0.366694
91         0.023649
92         1.343545
93         0.353596
94         0.130536