## <center> Packages & Connection </center>

In [2]:
import h3 as h3
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from scipy import stats
from pyhive import presto
from keplergl import KeplerGl
from datetime import datetime, timedelta

import warnings
warnings.filterwarnings('ignore')

In [3]:
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 300)

In [5]:
raw_list_hex_8 = pd.read_csv('/Users/rapido/local-datasets/affluence/processed/income_and _density_signal_list_hex_8.csv')
raw_fare_estimates_enriched = pd.read_csv('/Users/rapido/local-datasets/affluence/raw/raw_fare_estimates_enriched_10to16.csv')

In [6]:
df_fee_main_data = raw_fare_estimates_enriched.copy(deep=True)
print(df_fee_main_data.shape)
df_fee_main_data.head(2)

(15117222, 17)

,yyyymmdd,city,service_name,quarter_hour,time_bucket,pickup_cluster,pickup_hex_8,drop_cluster,drop_hex_8,customer_id,fare_estimate_id,surge_strategy,surge_percentage,dynamic_surge,dynamic_fare,sub_total,discount_amount
0,20230710,Bangalore,Auto,2015,Evening_Peak,Bellandur,8861892569fffff,Varthur,88618920ebfffff,5e591dcc1275a31e1e5833c9,64ac1af42a70c7ac0b2b56f8,surge_dashboard_rule,10.204082,0.00,10.0,108.0,0.0
1,20230710,Bangalore,Link,1800,Evening_Peak,Basavanagudi,8861892597fffff,Cambridge Layout Ulsoor,8861892ed1fffff,62c843ef0eef7f6e35f11140,64abfc344f76e21a1142b7dc,rain,39.517694,42.77,0.0,151.0,10.0

In [7]:
df_list_hex_8 = raw_list_hex_8.copy(deep=True)
print(df_list_hex_8.shape)
df_list_hex_8.head(2)

(2684, 3)

      pickup_hex_8 income_signal density_signal
0  88618920a3fffff   High Income        High FE
1  8861892581fffff   High Income        High FE

##

In [8]:
df_fee_main_data.service_name.describe()

count     15117222
unique           2
top           Auto
freq       7575099
Name: service_name, dtype: object

In [9]:
df_fee = df_fee_main_data[df_fee_main_data['service_name'].isin(['Link'])]
df_fee.head(2)

,yyyymmdd,city,service_name,quarter_hour,time_bucket,pickup_cluster,pickup_hex_8,drop_cluster,drop_hex_8,customer_id,fare_estimate_id,surge_strategy,surge_percentage,dynamic_surge,dynamic_fare,sub_total,discount_amount
1,20230710,Bangalore,Link,1800,Evening_Peak,Basavanagudi,8861892597fffff,Cambridge Layout Ulsoor,8861892ed1fffff,62c843ef0eef7f6e35f11140,64abfc344f76e21a1142b7dc,rain,39.517694,42.77,0.0,151.0,10.0
4,20230710,Bangalore,Link,1015,Morning_Peak,Basaveshwar Nagar,886014586bfffff,Yeshwanthpur,886014595bfffff,6399734853245a499edb0326,64ab8e968d1303f14c3e0cf9,no_surge,0.000000,0.00,0.0,47.0,0.0

In [10]:
#df_fee['time_period'] = np.where(df_fee)

In [11]:
df_fee_with_signal = pd.merge(
                            df_fee, 
                            df_list_hex_8,
                            how = 'left',
                            left_on = ['pickup_hex_8'],
                            right_on = ['pickup_hex_8']
                            )
df_fee_with_signal.head(2)

,yyyymmdd,city,service_name,quarter_hour,time_bucket,pickup_cluster,pickup_hex_8,drop_cluster,drop_hex_8,customer_id,fare_estimate_id,surge_strategy,surge_percentage,dynamic_surge,dynamic_fare,sub_total,discount_amount,income_signal,density_signal
0,20230710,Bangalore,Link,1800,Evening_Peak,Basavanagudi,8861892597fffff,Cambridge Layout Ulsoor,8861892ed1fffff,62c843ef0eef7f6e35f11140,64abfc344f76e21a1142b7dc,rain,39.517694,42.77,0.0,151.0,10.0,High Income,High FE
1,20230710,Bangalore,Link,1015,Morning_Peak,Basaveshwar Nagar,886014586bfffff,Yeshwanthpur,886014595bfffff,6399734853245a499edb0326,64ab8e968d1303f14c3e0cf9,no_surge,0.000000,0.00,0.0,47.0,0.0,High Income,Low FE

In [12]:
df_fee_with_signal.surge_strategy.unique()

array(['rain', 'no_surge', 'hot_cold_surge', 'mismatch_generic',
       'mismatch_gradient', 'surge_dashboard_rule', 'circuit_broken'],
      dtype=object)

In [13]:
df_fee_with_signal_v1 = df_fee_with_signal[df_fee_with_signal['density_signal'].isin(['High FE']) 
                                           #&
                                           #df_fee_with_signal['surge_strategy'].isin(['surge_dashboard_rule'])
                                          ]

In [14]:
df_fee_with_signal_v1.groupby(['yyyymmdd', 'quarter_hour','income_signal','density_signal', 'surge_strategy']).agg({
    'fare_estimate_id' : 'count',
    'dynamic_surge' : 'sum',
    'dynamic_fare' : 'sum',
    'sub_total' : 'sum'
})

                                                                   fare_estimate_id  \
yyyymmdd quarter_hour income_signal density_signal surge_strategy
20230710 0            High Income   High FE        no_surge                    3069
                      Low Income    High FE        hot_cold_surge                 1
                                                   no_surge                     478
         15           High Income   High FE        no_surge                    2537
                      Low Income    High FE        no_surge                     368
...                                                                             ...
20230716 2330         High Income   High FE        no_surge                    3740
                      Low Income    High FE        no_surge                     453
         2345         High Income   High FE        hot_cold_surge                 1
                                                   no_surge                    3179
                      Low Income    High FE        no_surge                     466

                                                                   dynamic_surge  \
yyyymmdd quarter_hour income_signal density_signal surge_strategy
20230710 0            High Income   High FE        no_surge                 0.00
                      Low Income    High FE        hot_cold_surge          70.03
                                                   no_surge                 0.00
         15           High Income   High FE        no_surge                 0.00
                      Low Income    High FE        no_surge                 0.00
...                                                                          ...
20230716 2330         High Income   High FE        no_surge                 0.00
                      Low Income    High FE        no_surge                 0.00
         2345         High Income   High FE        hot_cold_surge          70.38
                                                   no_surge                 0.00
                      Low Income    High FE        no_surge                 0.00

                                                                   dynamic_fare  \
yyyymmdd quarter_hour income_signal density_signal surge_strategy
20230710 0            High Income   High FE        no_surge                 0.0
                      Low Income    High FE        hot_cold_surge           0.0
                                                   no_surge                 0.0
         15           High Income   High FE        no_surge                 0.0
                      Low Income    High FE        no_surge                 0.0
...                                                                         ...
20230716 2330         High Income   High FE        no_surge                 0.0
                      Low Income    High FE        no_surge                 0.0
         2345         High Income   High FE        hot_cold_surge           0.0
                                                   no_surge                 0.0
                      Low Income    High FE        no_surge                 0.0

                                                                   sub_total
yyyymmdd quarter_hour income_signal density_signal surge_strategy
20230710 0            High Income   High FE        no_surge         392246.0
                      Low Income    High FE        hot_cold_surge      200.0
                                                   no_surge          78891.0
         15           High Income   High FE        no_surge         317457.0
                      Low Income    High FE        no_surge          67366.0
...                                                                      ...
20230716 2330         High Income   High FE        no_surge         458176.0
                      Low Income    High FE        no_surge          69526.0
         2345         High Income   High FE        hot_cold_surge      267.0
                                                   no_surge         392118.0
                      Low Income    High FE        no_surge          73443.0

[4893 rows x 4 columns]

In [15]:
df_analysis1 = df_fee_with_signal_v1.groupby(['yyyymmdd','income_signal','density_signal', 'surge_strategy']).agg({
    'fare_estimate_id' : 'count',
    'dynamic_surge' : 'sum',
    'dynamic_fare' : 'sum',
    'sub_total' : 'sum'
}).reset_index()
df_analysis1

,yyyymmdd,income_signal,density_signal,surge_strategy,fare_estimate_id,dynamic_surge,dynamic_fare,sub_total
0,20230710,High Income,High FE,circuit_broken,11543,0.00,0.0,1341258.0
1,20230710,High Income,High FE,hot_cold_surge,94865,3033675.25,0.0,12987703.0
2,20230710,High Income,High FE,mismatch_generic,76187,925556.06,0.0,7171772.0
3,20230710,High Income,High FE,mismatch_gradient,62880,1786348.03,0.0,7064839.0
4,20230710,High Income,High FE,no_surge,400808,0.00,0.0,36301833.0
5,20230710,High Income,High FE,rain,433283,12793023.67,0.0,47741700.0
6,20230710,High Income,High FE,surge_dashboard_rule,33307,796570.53,0.0,2899596.0
7,20230710,Low Income,High FE,circuit_broken,1093,0.00,0.0,163383.0
8,20230710,Low Income,High FE,hot_cold_surge,7857,287047.53,0.0,1329962.0
9,20230710,Low Income,High FE,mismatch_generic,6802,104229.72,0.0,806143.0
10,20230710,Low Income,High FE,mismatch_gradient,2657,90426.93,0.0,356728.0
11,20230710,Low Income,High FE,no_surge,29543,0.00,0.0,3898201.0
12,20230710,Low Income,High FE,rain,19395,671140.40,0.0,2498177.0
13,20230710,Low Income,High FE,surge_dashboard_rule,1238,27909.62,0.0,106641.0
14,20230711,High Income,High FE,circuit_broken,9668,0.00,0.0,1183713.0
15,20230711,High Income,High FE,hot_cold_surge,54382,1815791.02,0.0,7866395.0
16,20230711,High Income,High FE,mismatch_generic,58029,725557.67,0.0,5619520.0
17,20230711,High Income,High FE,mismatch_gradient,74700,2172060.78,0.0,8642971.0
18,20230711,High Income,High FE,no_surge,508540,0.00,0.0,45330538.0
19,20230711,High Income,High FE,rain,196888,4731545.79,0.0,20700649.0
20,20230711,High Income,High FE,surge_dashboard_rule,37820,915453.93,0.0,3332778.0
21,20230711,Low Income,High FE,circuit_broken,854,0.00,0.0,120633.0
22,20230711,Low Income,High FE,hot_cold_surge,3842,147546.24,0.0,664593.0
23,20230711,Low Income,High FE,mismatch_generic,3581,54760.52,0.0,423689.0
24,20230711,Low Income,High FE,mismatch_gradient,4292,109054.00,0.0,555811.0
25,20230711,Low Income,High FE,no_surge,33146,0.00,0.0,4152541.0
26,20230711,Low Income,High FE,rain,6279,175850.72,0.0,768364.0
27,20230711,Low Income,High FE,surge_dashboard_rule,1246,27939.25,0.0,109800.0
28,20230712,High Income,High FE,circuit_broken,10881,0.00,0.0,1376108.0
29,20230712,High Income,High FE,hot_cold_surge,56847,1936988.32,0.0,8834612.0
30,20230712,High Income,High FE,mismatch_generic,45004,572589.78,0.0,4527510.0
31,20230712,High Income,High FE,mismatch_gradient,116234,4143113.47,0.0,14360003.0
32,20230712,High Income,High FE,no_surge,533614,0.00,0.0,50222372.0
33,20230712,High Income,High FE,rain,44668,1109174.89,0.0,5321535.0
34,20230712,High Income,High FE,surge_dashboard_rule,36930,902913.51,0.0,3280794.0
35,20230712,Low Income,High FE,circuit_broken,1098,0.00,0.0,166863.0
36,20230712,Low Income,High FE,hot_cold_surge,4085,153427.88,0.0,746779.0
37,20230712,Low Income,High FE,mismatch_generic,3161,48673.23,0.0,382845.0
38,20230712,Low Income,High FE,mismatch_gradient,4677,197191.86,0.0,683196.0
39,20230712,Low Income,High FE,no_surge,30863,0.00,0.0,3920676.0
40,20230712,Low Income,High FE,rain,4957,141519.12,0.0,662732.0
41,20230712,Low Income,High FE,surge_dashboard_rule,1213,27706.65,0.0,107907.0
42,20230713,High Income,High FE,circuit_broken,10140,0.00,0.0,1260228.0
43,20230713,High Income,High FE,hot_cold_surge,50607,1607927.91,0.0,7631398.0
44,20230713,High Income,High FE,mismatch_generic,27823,351991.64,0.0,2954694.0
45,20230713,High Income,High FE,mismatch_gradient,63017,2448207.95,0.0,8350483.0
46,20230713,High Income,High FE,no_surge,455930,0.00,0.0,44961623.0
47,20230713,High Income,High FE,rain,361131,8646959.52,0.0,40890658.0
48,20230713,High Income,High FE,surge_dashboard_rule,30698,754250.35,0.0,2956527.0
49,20230713,Low Income,High FE,circuit_broken,784,0.00,0.0,111259.0
50,20230713,Low Income,High FE,hot_cold_surge,2999,113765.84,0.0,564270.0
51,20230713,Low Income,High FE,mismatch_generic,1900,26476.56,0.0,222248.0
52,20230713,Low Income,High FE,mismatch_gradient,1939,83052.53,0.0,315224.0
53,20230713,Low Income,High FE,no_surge,29228,0.00,0.0,3909255.0
54,20230713,Low Income,High FE,rain,16423,448104.16,0.0,2093897.0
55,20230713,Low Income,High FE,surge_dashboard_rule,1095,23643.41,0.0,103721.0
56,20230714,High Income,High FE,circuit_broken,12202,0.00,0.0,1677537.0
57,20230714,High Income,High FE,hot_cold_surge,72622,2331984.68,0.0,11142444.0
58,20230714,High Income,High FE,mismatch_generic,5939,71985.32,0.0,614316.0
59,20230714,High Income,High FE,mismatch_gradient,53898,2119824.69,0.0,6895488.0
60,20230714,High Income,High FE,no_surge,618558,0.00,0.0,59953409.0
61,20230714,High Income,High FE,rain,47612,1222830.11,0.0,5925262.0
62,20230714,Low Income,High FE,circuit_broken,1029,0.00,0.0,157935.0
63,20230714,Low Income,High FE,hot_cold_surge,5151,183467.81,0.0,887787.0
64,20230714,Low Income,High FE,mismatch_generic,1642,23578.60,0.0,195706.0
65,20230714,Low Income,High FE,mismatch_gradient,2835,108908.95,0.0,410194.0
66,20230714,Low Income,High FE,no_surge,33595,0.00,0.0,4280957.0
67,20230714,Low Income,High FE,rain,4535,128302.84,0.0,601875.0
68,20230715,High Income,High FE,circuit_broken,36788,0.00,0.0,4195188.0
69,20230715,High Income,High FE,hot_cold_surge,246905,5185737.52,0.0,31123625.0
70,20230715,High Income,High FE,mismatch_generic,2263,26635.65,0.0,226611.0
71,20230715,High Income,High FE,mismatch_gradient,8005,267997.10,0.0,981137.0
72,20230715,High Income,High FE,no_surge,536342,0.00,0.0,53684050.0
73,20230715,High Income,High FE,rain,93623,2360957.62,0.0,11307511.0
74,20230715,Low Income,High FE,circuit_broken,2859,0.00,0.0,410969.0
75,20230715,Low Income,High FE,hot_cold_surge,13942,355605.59,0.0,2114321.0
76,20230715,Low Income,High FE,mismatch_generic,596,8262.07,0.0,66482.0
77,20230715,Low Income,High FE,mismatch_gradient,1117,42022.68,0.0,151768.0
78,20230715,Low Income,High FE,no_surge,35664,0.00,0.0,4421861.0
79,20230715,Low Income,High FE,rain,4379,128905.86,0.0,586971.0
80,20230716,High Income,High FE,circuit_broken,21788,0.00,0.0,2749715.0
81,20230716,High Income,High FE,hot_cold_surge,122513,3167893.18,0.0,17202525.0
82,20230716,High Income,High FE,mismatch_generic,2232,24663.77,0.0,211291.0
83,20230716,High Income,High FE,mismatch_gradient,2583,59644.29,0.0,278117.0
84,20230716,High Income,High FE,no_surge,522895,0.00,0.0,52211007.0
85,20230716,High Income,High FE,rain,17597,456513.18,0.0,2246831.0
86,20230716,Low Income,High FE,circuit_broken,2327,0.00,0.0,339707.0
87,20230716,Low Income,High FE,hot_cold_surge,10361,320901.96,0.0,1646073.0
88,20230716,Low Income,High FE,mismatch_generic,504,7352.19,0.0,56854.0
89,20230716,Low Income,High FE,mismatch_gradient,925,28649.23,0.0,119310.0
90,20230716,Low Income,High FE,no_surge,39974,0.00,0.0,5017433.0
91,20230716,Low Income,High FE,rain,2466,69868.27,0.0,335687.0

In [16]:
df_analysis3 = df_fee_with_signal_v1.groupby(['yyyymmdd','income_signal', 
                                              'density_signal', 'surge_strategy', 'time_bucket']).agg({
    'fare_estimate_id' : 'count',
    'dynamic_surge' : 'sum',
    'dynamic_fare' : 'sum',
    'sub_total' : 'sum'
}).reset_index()
df_analysis3

,yyyymmdd,income_signal,density_signal,surge_strategy,time_bucket,fare_estimate_id,dynamic_surge,dynamic_fare,sub_total
0,20230710,High Income,High FE,circuit_broken,Afternoon,2250,0.00,0.0,316535.0
1,20230710,High Income,High FE,circuit_broken,Evening_Peak,4579,0.00,0.0,504596.0
2,20230710,High Income,High FE,circuit_broken,Morning_Peak,4240,0.00,0.0,456187.0
3,20230710,High Income,High FE,circuit_broken,Rest_Morning,474,0.00,0.0,63940.0
4,20230710,High Income,High FE,hot_cold_surge,Afternoon,13672,421757.01,0.0,2009837.0
...,...,...,...,...,...,...,...,...,...
354,20230716,Low Income,High FE,no_surge,Morning_Peak,7609,0.00,0.0,942407.0
355,20230716,Low Income,High FE,no_surge,Rest_Evening,4640,0.00,0.0,694376.0
356,20230716,Low Income,High FE,no_surge,Rest_Morning,7097,0.00,0.0,1118482.0
357,20230716,Low Income,High FE,rain,Afternoon,1191,32372.24,0.0,157412.0
358,20230716,Low Income,High FE,rain,Evening_Peak,1275,37496.03,0.0,178275.0

In [18]:
df_analysis1['surge_percentage'] = round((df_analysis1['dynamic_surge']+df_analysis1['dynamic_fare'])*100/(df_analysis1['sub_total'] - (df_analysis1['dynamic_surge']+df_analysis1['dynamic_fare'])), 2)
#df_analysis2['surge_percentage'] = round((df_analysis2['dynamic_surge']+df_analysis2['dynamic_fare'])*100/(df_analysis2['sub_total'] - (df_analysis2['dynamic_surge']+df_analysis2['dynamic_fare'])), 2)
df_analysis3['surge_percentage'] = round((df_analysis3['dynamic_surge']+df_analysis3['dynamic_fare'])*100/(df_analysis3['sub_total'] - (df_analysis3['dynamic_surge']+df_analysis3['dynamic_fare'])), 2)

In [ ]:
#dynamic_surge+dynamic_fare/(sub_total-(dynamic_surge+dynamic_fare))

In [19]:
df_analysis_1 = df_analysis1.groupby(['yyyymmdd','income_signal','density_signal']).agg({'fare_estimate_id' : 'sum'}).reset_index()
df_analysis_1.rename(columns = {'fare_estimate_id' : 'total_fe'}, inplace = True)
df_analysis_1

    yyyymmdd income_signal density_signal  total_fe
0   20230710   High Income        High FE   1112873
1   20230710    Low Income        High FE     68585
2   20230711   High Income        High FE    940027
3   20230711    Low Income        High FE     53240
4   20230712   High Income        High FE    844178
5   20230712    Low Income        High FE     50054
6   20230713   High Income        High FE    999346
7   20230713    Low Income        High FE     54368
8   20230714   High Income        High FE    810831
9   20230714    Low Income        High FE     48787
10  20230715   High Income        High FE    923926
11  20230715    Low Income        High FE     58557
12  20230716   High Income        High FE    689608
13  20230716    Low Income        High FE     56557

In [20]:
df_analysis1 = pd.merge(df_analysis1, \
                        df_analysis_1, \
                        how = 'left', \
                        left_on = ['yyyymmdd', 'income_signal','density_signal'], \
                        right_on = ['yyyymmdd','income_signal', 'density_signal']
                        )
df_analysis1['surged_fe_distr'] = round(df_analysis1['fare_estimate_id']*100.00/df_analysis1['total_fe'], 2)

In [21]:
df_analysis1.head(5)

,yyyymmdd,income_signal,density_signal,surge_strategy,fare_estimate_id,dynamic_surge,dynamic_fare,sub_total,surge_percentage,total_fe,surged_fe_distr
0,20230710,High Income,High FE,circuit_broken,11543,0.00,0.0,1341258.0,0.00,1112873,1.04
1,20230710,High Income,High FE,hot_cold_surge,94865,3033675.25,0.0,12987703.0,30.48,1112873,8.52
2,20230710,High Income,High FE,mismatch_generic,76187,925556.06,0.0,7171772.0,14.82,1112873,6.85
3,20230710,High Income,High FE,mismatch_gradient,62880,1786348.03,0.0,7064839.0,33.84,1112873,5.65
4,20230710,High Income,High FE,no_surge,400808,0.00,0.0,36301833.0,0.00,1112873,36.02

In [22]:
df_analysis_3 = df_analysis3.groupby(['yyyymmdd','income_signal','density_signal', 'time_bucket']).agg({'fare_estimate_id' : 'sum'}).reset_index()
df_analysis_3.rename(columns = {'fare_estimate_id' : 'total_fe'}, inplace = True)
df_analysis_3

    yyyymmdd income_signal density_signal   time_bucket  total_fe
0   20230710   High Income        High FE     Afternoon    180796
1   20230710   High Income        High FE  Evening_Peak    555323
2   20230710   High Income        High FE  Morning_Peak    261542
3   20230710   High Income        High FE  Rest_Evening     31513
4   20230710   High Income        High FE  Rest_Morning     83699
5   20230710    Low Income        High FE     Afternoon     14146
6   20230710    Low Income        High FE  Evening_Peak     21747
7   20230710    Low Income        High FE  Morning_Peak     16852
8   20230710    Low Income        High FE  Rest_Evening      2889
9   20230710    Low Income        High FE  Rest_Morning     12951
10  20230711   High Income        High FE     Afternoon    162216
11  20230711   High Income        High FE  Evening_Peak    419227
12  20230711   High Income        High FE  Morning_Peak    270216
13  20230711   High Income        High FE  Rest_Evening     30667
14  20230711   High Income        High FE  Rest_Morning     57701
15  20230711    Low Income        High FE     Afternoon     12031
16  20230711    Low Income        High FE  Evening_Peak     16304
17  20230711    Low Income        High FE  Morning_Peak     13681
18  20230711    Low Income        High FE  Rest_Evening      2634
19  20230711    Low Income        High FE  Rest_Morning      8590
20  20230712   High Income        High FE     Afternoon    175999
21  20230712   High Income        High FE  Evening_Peak    310675
22  20230712   High Income        High FE  Morning_Peak    272289
23  20230712   High Income        High FE  Rest_Evening     32085
24  20230712   High Income        High FE  Rest_Morning     53130
25  20230712    Low Income        High FE     Afternoon     12715
26  20230712    Low Income        High FE  Evening_Peak     14512
27  20230712    Low Income        High FE  Morning_Peak     13937
28  20230712    Low Income        High FE  Rest_Evening      2658
29  20230712    Low Income        High FE  Rest_Morning      6232
30  20230713   High Income        High FE     Afternoon    169476
31  20230713   High Income        High FE  Evening_Peak    510609
32  20230713   High Income        High FE  Morning_Peak    234224
33  20230713   High Income        High FE  Rest_Evening     33907
34  20230713   High Income        High FE  Rest_Morning     51130
35  20230713    Low Income        High FE     Afternoon     12820
36  20230713    Low Income        High FE  Evening_Peak     19471
37  20230713    Low Income        High FE  Morning_Peak     13009
38  20230713    Low Income        High FE  Rest_Evening      2805
39  20230713    Low Income        High FE  Rest_Morning      6263
40  20230714   High Income        High FE     Afternoon    172626
41  20230714   High Income        High FE  Evening_Peak    348063
42  20230714   High Income        High FE  Morning_Peak    195902
43  20230714   High Income        High FE  Rest_Evening     43072
44  20230714   High Income        High FE  Rest_Morning     51168
45  20230714    Low Income        High FE     Afternoon     12786
46  20230714    Low Income        High FE  Evening_Peak     15395
47  20230714    Low Income        High FE  Morning_Peak     11960
48  20230714    Low Income        High FE  Rest_Evening      3102
49  20230714    Low Income        High FE  Rest_Morning      5544
50  20230715   High Income        High FE     Afternoon    280685
51  20230715   High Income        High FE  Evening_Peak    398150
52  20230715   High Income        High FE  Morning_Peak    139469
53  20230715   High Income        High FE  Rest_Evening     42702
54  20230715   High Income        High FE  Rest_Morning     62920
55  20230715    Low Income        High FE     Afternoon     17067
56  20230715    Low Income        High FE  Evening_Peak     20869
57  20230715    Low Income        High FE  Morning_Peak     11063
58  20230715    Low Income        High FE  Rest_Evening      3501
59  20230715    Low Income        High FE  Rest_Morning      6057
60  20230716   High Income        High FE     Afternoon    219035
61  20230716   High Income        High FE  Evening_Peak    259985
62  20230716   High Income        High FE  Morning_Peak    105544
63  20230716   High Income        High FE  Rest_Evening     49548
64  20230716   High Income        High FE  Rest_Morning     55496
65  20230716    Low Income        High FE     Afternoon     16020
66  20230716    Low Income        High FE  Evening_Peak     19167
67  20230716    Low Income        High FE  Morning_Peak      9337
68  20230716    Low Income        High FE  Rest_Evening      4647
69  20230716    Low Income        High FE  Rest_Morning      7386

In [23]:
df_analysis3 = pd.merge(df_analysis3, \
                        df_analysis_3, \
                        how = 'left', \
                        left_on = ['yyyymmdd','income_signal','density_signal', 'time_bucket'], \
                        right_on = ['yyyymmdd','income_signal','density_signal', 'time_bucket']
                        )
df_analysis3['surged_fe_distr'] = round(df_analysis3['fare_estimate_id']*100.00/df_analysis3['total_fe'], 2)

In [24]:
df_analysis3.head(5)

,yyyymmdd,income_signal,density_signal,surge_strategy,time_bucket,fare_estimate_id,dynamic_surge,dynamic_fare,sub_total,surge_percentage,total_fe,surged_fe_distr
0,20230710,High Income,High FE,circuit_broken,Afternoon,2250,0.00,0.0,316535.0,0.00,180796,1.24
1,20230710,High Income,High FE,circuit_broken,Evening_Peak,4579,0.00,0.0,504596.0,0.00,555323,0.82
2,20230710,High Income,High FE,circuit_broken,Morning_Peak,4240,0.00,0.0,456187.0,0.00,261542,1.62
3,20230710,High Income,High FE,circuit_broken,Rest_Morning,474,0.00,0.0,63940.0,0.00,83699,0.57
4,20230710,High Income,High FE,hot_cold_surge,Afternoon,13672,421757.01,0.0,2009837.0,26.56,180796,7.56

## surge_strategy

In [25]:
pd.pivot_table(df_analysis1, \
               values= ['surge_percentage','surged_fe_distr'] , index=['income_signal', 'density_signal', 'surge_strategy'],
                       columns=['yyyymmdd'])

                                                  surge_percentage           \
yyyymmdd                                                  20230710 20230711
income_signal density_signal surge_strategy
High Income   High FE        circuit_broken                   0.00     0.00
                             hot_cold_surge                  30.48    30.01
                             mismatch_generic                14.82    14.83
                             mismatch_gradient               33.84    33.57
                             no_surge                         0.00     0.00
                             rain                            36.61    29.63
                             surge_dashboard_rule            37.88    37.87
Low Income    High FE        circuit_broken                   0.00     0.00
                             hot_cold_surge                  27.52    28.54
                             mismatch_generic                14.85    14.84
                             mismatch_gradient               33.96    24.41
                             no_surge                         0.00     0.00
                             rain                            36.73    29.68
                             surge_dashboard_rule            35.45    34.13

                                                                              \
yyyymmdd                                          20230712 20230713 20230714
income_signal density_signal surge_strategy
High Income   High FE        circuit_broken           0.00     0.00     0.00
                             hot_cold_surge          28.08    26.69    26.47
                             mismatch_generic        14.48    13.52    13.27
                             mismatch_gradient       40.55    41.48    44.39
                             no_surge                 0.00     0.00     0.00
                             rain                    26.33    26.82    26.00
                             surge_dashboard_rule    37.97    34.25      NaN
Low Income    High FE        circuit_broken           0.00     0.00     0.00
                             hot_cold_surge          25.86    25.25    26.05
                             mismatch_generic        14.57    13.52    13.70
                             mismatch_gradient       40.57    35.77    36.15
                             no_surge                 0.00     0.00     0.00
                             rain                    27.15    27.23    27.09
                             surge_dashboard_rule    34.55    29.53      NaN

                                                                     \
yyyymmdd                                          20230715 20230716
income_signal density_signal surge_strategy
High Income   High FE        circuit_broken           0.00     0.00
                             hot_cold_surge          19.99    22.57
                             mismatch_generic        13.32    13.22
                             mismatch_gradient       37.58    27.30
                             no_surge                 0.00     0.00
                             rain                    26.39    25.50
                             surge_dashboard_rule      NaN      NaN
Low Income    High FE        circuit_broken           0.00     0.00
                             hot_cold_surge          20.22    24.22
                             mismatch_generic        14.19    14.85
                             mismatch_gradient       38.29    31.60
                             no_surge                 0.00     0.00
                             rain                    28.14    26.28
                             surge_dashboard_rule      NaN      NaN

                                                  surged_fe_distr           \
yyyymmdd                                                 20230710 20230711
income_signal density_signal surge_strategy
High Income   High FE        circuit_broken                  1.04     1.03
                             hot_cold_surge                  8.52     5.79
                             mismatch_generic                6.85     6.17
                             mismatch_gradient               5.65     7.95
                             no_surge                       36.02    54.10
                             rain                           38.93    20.94
                             surge_dashboard_rule            2.99     4.02
Low Income    High FE        circuit_broken                  1.59     1.60
                             hot_cold_surge                 11.46     7.22
                             mismatch_generic                9.92     6.73
                             mismatch_gradient               3.87     8.06
                             no_surge                       43.08    62.26
                             rain                           28.28    11.79
                             surge_dashboard_rule            1.81     2.34

                                                                              \
yyyymmdd                                          20230712 20230713 20230714
income_signal density_signal surge_strategy
High Income   High FE        circuit_broken           1.29     1.01     1.50
                             hot_cold_surge           6.73     5.06     8.96
                             mismatch_generic         5.33     2.78     0.73
                             mismatch_gradient       13.77     6.31     6.65
                             no_surge                63.21    45.62    76.29
                             rain                     5.29    36.14     5.87
                             surge_dashboard_rule     4.37     3.07      NaN
Low Income    High FE        circuit_broken           2.19     1.44     2.11
                             hot_cold_surge           8.16     5.52    10.56
                             mismatch_generic         6.32     3.49     3.37
                             mismatch_gradient        9.34     3.57     5.81
                             no_surge                61.66    53.76    68.86
                             rain                     9.90    30.21     9.30
                             surge_dashboard_rule     2.42     2.01      NaN


yyyymmdd                                          20230715 20230716
income_signal density_signal surge_strategy
High Income   High FE        circuit_broken           3.98     3.16
                             hot_cold_surge          26.72    17.77
                             mismatch_generic         0.24     0.32
                             mismatch_gradient        0.87     0.37
                             no_surge                58.05    75.82
                             rain                    10.13     2.55
                             surge_dashboard_rule      NaN      NaN
Low Income    High FE        circuit_broken           4.88     4.11
                             hot_cold_surge          23.81    18.32
                             mismatch_generic         1.02     0.89
                             mismatch_gradient        1.91     1.64
                             no_surge                60.90    70.68
                             rain                     7.48     4.36
                             surge_dashboard_rule      NaN      NaN

## Peak view vs surge_strategy

In [26]:
pd.pivot_table(df_analysis3, values= ['surge_percentage', 'surged_fe_distr'] , index=['income_signal','time_bucket','surge_strategy'],
                       columns=['yyyymmdd'])

                                                surge_percentage           \
yyyymmdd                                                20230710 20230711
income_signal time_bucket  surge_strategy
High Income   Afternoon    circuit_broken                   0.00     0.00
                           hot_cold_surge                  26.56    26.33
                           mismatch_generic                14.80    14.81
                           mismatch_gradient               46.27    23.38
                           no_surge                         0.00     0.00
                           rain                            39.53    29.86
                           surge_dashboard_rule              NaN      NaN
              Evening_Peak circuit_broken                   0.00     0.00
                           hot_cold_surge                  33.22    31.01
                           mismatch_generic                14.81    14.82
                           mismatch_gradient               35.26    33.57
                           no_surge                         0.00     0.00
                           rain                            36.18    29.63
              Morning_Peak circuit_broken                   0.00     0.00
                           hot_cold_surge                  29.26    32.38
                           mismatch_generic                14.82    14.83
                           mismatch_gradient               33.30    33.94
                           no_surge                         0.00     0.00
                           rain                            39.46      NaN
                           surge_dashboard_rule            37.88    37.87
              Rest_Evening circuit_broken                    NaN     0.00
                           hot_cold_surge                  26.46    24.98
                           mismatch_generic                13.61    15.40
                           mismatch_gradient               20.02    23.56
                           no_surge                         0.00     0.00
                           rain                            29.61    27.83
              Rest_Morning circuit_broken                   0.00     0.00
                           hot_cold_surge                  33.22    26.50
                           mismatch_generic                14.82    14.83
                           mismatch_gradient               22.21    22.27
                           no_surge                         0.00     0.00
                           rain                              NaN      NaN
Low Income    Afternoon    circuit_broken                   0.00     0.00
                           hot_cold_surge                  24.47    28.63
                           mismatch_generic                14.83    14.83
                           mismatch_gradient               46.23    24.50
                           no_surge                         0.00     0.00
                           rain                            39.53      NaN
              Evening_Peak circuit_broken                   0.00     0.00
                           hot_cold_surge                  23.59    27.62
                           mismatch_generic                14.80    14.82
                           mismatch_gradient               32.92    23.99
                           no_surge                         0.00     0.00
                           rain                            35.85    29.68
              Morning_Peak circuit_broken                   0.00     0.00
                           hot_cold_surge                  26.29    27.63
                           mismatch_generic                14.86    14.86
                           mismatch_gradient               31.27    25.16
                           no_surge                         0.00     0.00
                           surge_dashboard_rule            35.45    34.13
              Rest_Evening circuit_broken                    NaN      NaN
                           hot_cold_surge                  16.36    33.98
                           mismatch_generic                  NaN    14.18
                           mismatch_gradient               21.41    24.55
                           no_surge                         0.00     0.00
                           rain                            34.34      NaN
              Rest_Morning circuit_broken                   0.00     0.00
                           hot_cold_surge                  38.13    36.18
                           mismatch_generic                14.85    14.84
                           mismatch_gradient               22.31    22.29
                           no_surge                         0.00     0.00

                                                                            \
yyyymmdd                                        20230712 20230713 20230714
income_signal time_bucket  surge_strategy
High Income   Afternoon    circuit_broken           0.00     0.00     0.00
                           hot_cold_surge          24.09    22.85    22.33
                           mismatch_generic        13.39    13.58    12.62
                           mismatch_gradient       34.44    42.06    34.81
                           no_surge                 0.00     0.00     0.00
                           rain                    25.85    25.61    25.01
                           surge_dashboard_rule    27.22      NaN      NaN
              Evening_Peak circuit_broken           0.00     0.00     0.00
                           hot_cold_surge          28.75    28.28    28.44
                           mismatch_generic        14.13    14.07    13.47
                           mismatch_gradient       37.34    47.41    43.86
                           no_surge                 0.00     0.00     0.00
                           rain                    26.85    26.96    26.09
              Morning_Peak circuit_broken           0.00     0.00     0.00
                           hot_cold_surge          31.70    29.33    28.00
                           mismatch_generic        14.84    13.37    13.35
                           mismatch_gradient       44.28    38.57    46.10
                           no_surge                 0.00     0.00     0.00
                           rain                      NaN      NaN      NaN
                           surge_dashboard_rule    37.97    34.25      NaN
              Rest_Evening circuit_broken           0.00     0.00     0.00
                           hot_cold_surge          20.65    27.25    22.75
                           mismatch_generic        16.94    11.69    13.19
                           mismatch_gradient       21.72    48.75    26.52
                           no_surge                 0.00     0.00     0.00
                           rain                    27.92    25.75    28.72
              Rest_Morning circuit_broken           0.00     0.00     0.00
                           hot_cold_surge          27.93    24.22    22.66
                           mismatch_generic        14.82    12.28      NaN
                           mismatch_gradient         NaN    19.22      NaN
                           no_surge                 0.00     0.00     0.00
                           rain                      NaN      NaN    20.00
Low Income    Afternoon    circuit_broken           0.00     0.00     0.00
                           hot_cold_surge          25.95    23.42    24.07
                           mismatch_generic        13.80    13.10    13.18
                           mismatch_gradient       38.04    19.41    38.09
                           no_surge                 0.00     0.00     0.00
                           rain                    26.00    25.89    25.83
              Evening_Peak circuit_broken           0.00     0.00     0.00
                           hot_cold_surge          23.89    23.32    27.00
                           mismatch_generic        14.38    14.61    14.84
                           mismatch_gradient       44.41    22.94    34.21
                           no_surge                 0.00     0.00     0.00
                           rain                    28.39    27.78    27.19
              Morning_Peak circuit_broken           0.00     0.00     0.00
                           hot_cold_surge          30.45    28.27    27.22
                           mismatch_generic        14.86    13.30    13.08
                           mismatch_gradient       38.06    39.79    36.17
                           no_surge                 0.00     0.00     0.00
                           surge_dashboard_rule    34.55    29.53      NaN
              Rest_Evening circuit_broken           0.00      NaN      NaN
                           hot_cold_surge          17.72    15.48    28.87
                           mismatch_generic          NaN      NaN    15.19
                           mismatch_gradient         NaN      NaN    23.00
                           no_surge                 0.00     0.00     0.00
                           rain                    28.28    26.88      NaN
              Rest_Morning circuit_broken           0.00     0.00     0.00
                           hot_cold_surge          29.98    29.26    27.57
                           mismatch_generic        14.86    13.54      NaN
                           mismatch_gradient         NaN    20.19      NaN
                           no_surge                 0.00     0.00     0.00

                                                                   \
yyyymmdd                                        20230715 20230716
income_signal time_bucket  surge_strategy
High Income   Afternoon    circuit_broken           0.00     0.00
                           hot_cold_surge          20.62    20.99
                           mismatch_generic        12.45      NaN
                           mismatch_gradient       41.71      NaN
                           no_surge                 0.00     0.00
                           rain                      NaN    25.48
                           surge_dashboard_rule      NaN      NaN
              Evening_Peak circuit_broken           0.00     0.00
                           hot_cold_surge          19.23    23.25
                           mismatch_generic        14.04    13.22
                           mismatch_gradient       36.26    27.30
                           no_surge                 0.00     0.00
                           rain                    26.39    25.52
              Morning_Peak circuit_broken           0.00     0.00
                           hot_cold_surge          26.76    25.34
                           mismatch_generic        13.16      NaN
                           mismatch_gradient       30.59      NaN
                           no_surge                 0.00     0.00
                           rain                      NaN      NaN
                           surge_dashboard_rule      NaN      NaN
              Rest_Evening circuit_broken           0.00     0.00
                           hot_cold_surge          17.79    22.25
                           mismatch_generic          NaN    12.44
                           mismatch_gradient         NaN      NaN
                           no_surge                 0.00     0.00
                           rain                    26.36    15.43
              Rest_Morning circuit_broken           0.00     0.00
                           hot_cold_surge          24.50    22.92
                           mismatch_generic          NaN      NaN
                           mismatch_gradient         NaN      NaN
                           no_surge                 0.00     0.00
                           rain                      NaN      NaN
Low Income    Afternoon    circuit_broken           0.00     0.00
                           hot_cold_surge          19.90    20.39
                           mismatch_generic        13.11      NaN
                           mismatch_gradient       36.68      NaN
                           no_surge                 0.00     0.00
                           rain                      NaN    25.89
              Evening_Peak circuit_broken           0.00     0.00
                           hot_cold_surge          19.48    26.24
                           mismatch_generic        14.80    14.85
                           mismatch_gradient       40.18    31.60
                           no_surge                 0.00     0.00
                           rain                    28.15    26.63
              Morning_Peak circuit_broken           0.00     0.00
                           hot_cold_surge          26.49    25.86
                           mismatch_generic        13.33      NaN
                           mismatch_gradient       32.86      NaN
                           no_surge                 0.00     0.00
                           surge_dashboard_rule      NaN      NaN
              Rest_Evening circuit_broken           0.00     0.00
                           hot_cold_surge          18.91    20.10
                           mismatch_generic        13.48      NaN
                           mismatch_gradient         NaN      NaN
                           no_surge                 0.00     0.00
                           rain                    25.72      NaN
              Rest_Morning circuit_broken           0.00     0.00
                           hot_cold_surge          26.75    25.17
                           mismatch_generic          NaN      NaN
                           mismatch_gradient         NaN      NaN
                           no_surge                 0.00     0.00

                                                surged_fe_distr           \
yyyymmdd                                               20230710 20230711
income_signal time_bucket  surge_strategy
High Income   Afternoon    circuit_broken                  1.24     1.32
                           hot_cold_surge                  7.56     7.29
                           mismatch_generic                4.15     3.65
                           mismatch_gradient               0.31     1.00
                           no_surge                       57.57    86.74
                           rain                           29.17     0.00
                           surge_dashboard_rule             NaN      NaN
              Evening_Peak circuit_broken                  0.82     0.95
                           hot_cold_surge                  6.47     6.33
                           mismatch_generic                3.30     4.65
                           mismatch_gradient               3.26     5.28
                           no_surge                       17.75    35.83
                           rain                           68.39    46.95
              Morning_Peak circuit_broken                  1.62     1.14
                           hot_cold_surge                 15.90     4.92
                           mismatch_generic               17.91    11.91
                           mismatch_gradient              16.67    18.78
                           no_surge                       34.94    49.25
                           rain                            0.22      NaN
                           surge_dashboard_rule           12.73    14.00
              Rest_Evening circuit_broken                   NaN     0.02
                           hot_cold_surge                  0.06     0.13
                           mismatch_generic                0.02     0.08
                           mismatch_gradient               0.01     0.02
                           no_surge                       99.37    99.56
                           rain                            0.53     0.18
              Rest_Morning circuit_broken                  0.57     0.82
                           hot_cold_surge                  4.41     4.64
                           mismatch_generic                4.16     0.70
                           mismatch_gradient               0.73     0.28
                           no_surge                       90.13    93.55
                           rain                             NaN      NaN
Low Income    Afternoon    circuit_broken                  1.63     1.55
                           hot_cold_surge                  7.84     7.10
                           mismatch_generic                8.34     9.08
                           mismatch_gradient               3.08     9.42
                           no_surge                       44.51    72.85
                           rain                           34.59      NaN
              Evening_Peak circuit_broken                  1.82     2.17
                           hot_cold_surge                  9.09    11.08
                           mismatch_generic                0.97     3.21
                           mismatch_gradient               1.01     6.38
                           no_surge                       20.46    38.65
                           rain                           66.66    38.51
              Morning_Peak circuit_broken                  2.23     1.81
                           hot_cold_surge                 19.55     6.63
                           mismatch_generic               23.30    11.72
                           mismatch_gradient              11.82    12.29
                           no_surge                       35.75    58.45
                           surge_dashboard_rule            7.35     9.11
              Rest_Evening circuit_broken                   NaN      NaN
                           hot_cold_surge                  0.07     0.23
                           mismatch_generic                 NaN     0.08
                           mismatch_gradient               0.03     0.11
                           no_surge                       99.69    99.58
                           rain                            0.21      NaN
              Rest_Morning circuit_broken                  0.70     0.78
                           hot_cold_surge                 11.40     3.12
                           mismatch_generic               11.46     4.19
                           mismatch_gradient               0.07     5.06
                           no_surge                       76.37    86.85

                                                                            \
yyyymmdd                                        20230712 20230713 20230714
income_signal time_bucket  surge_strategy
High Income   Afternoon    circuit_broken           1.35     1.44     2.05
                           hot_cold_surge           7.51     8.93    11.21
                           mismatch_generic         1.68     1.54     0.59
                           mismatch_gradient        2.20     1.50     0.97
                           no_surge                74.33    66.13    82.92
                           rain                    12.93    20.46     2.26
                           surge_dashboard_rule     0.00      NaN      NaN
              Evening_Peak circuit_broken           1.51     0.69     1.76
                           hot_cold_surge          10.00     4.18    10.86
                           mismatch_generic         5.46     1.22     0.73
                           mismatch_gradient       18.37     4.29     9.25
                           no_surge                57.62    25.71    64.84
                           rain                     7.04    63.91    12.56
              Morning_Peak circuit_broken           1.27     1.65     1.09
                           hot_cold_surge           3.79     5.09     6.55
                           mismatch_generic         9.18     8.08     1.21
                           mismatch_gradient       20.30    16.44    10.22
                           no_surge                51.90    55.63    80.93
                           rain                      NaN      NaN      NaN

#

In [27]:
df_analysis1['surge_strategy'].unique()

array(['circuit_broken', 'hot_cold_surge', 'mismatch_generic',
       'mismatch_gradient', 'no_surge', 'rain', 'surge_dashboard_rule'],
      dtype=object)

In [28]:
pd.pivot_table(df_analysis1[df_analysis1['surge_strategy'].isin(['circuit_broken', 'hot_cold_surge', 'mismatch_generic',
       'mismatch_gradient', 'rain', 'surge_dashboard_rule']) ], \
               values= ['surge_percentage','surged_fe_distr'], \
               index=['income_signal', 'density_signal', 'surge_strategy'], \
               columns=['yyyymmdd']
              ).describe()

         surge_percentage                                              \
yyyymmdd         20230710   20230711   20230712   20230713   20230714
count           12.000000  12.000000  12.000000  12.000000  10.000000
mean            25.178333  23.125833  24.175833  22.838333  21.312000
std             14.137517  12.856771  14.211303  13.356571  14.484457
min              0.000000   0.000000   0.000000   0.000000   0.000000
25%             14.842500  14.837500  14.547500  13.520000  13.377500
50%             32.160000  29.085000  26.740000  26.755000  26.025000
75%             35.740000  30.900000  35.405000  30.710000  26.935000
max             37.880000  37.870000  40.570000  41.480000  44.390000

                               surged_fe_distr                        \
yyyymmdd   20230715   20230716        20230710   20230711   20230712
count     10.000000  10.000000       12.000000  12.000000  12.000000
mean      19.812000  18.554000       10.075833   6.970000   6.259167
std       13.452574  11.222663       11.712505   5.367869   3.622655
min        0.000000   0.000000        1.040000   1.030000   1.290000
25%       13.537500  13.627500        2.695000   3.600000   3.882500
50%       20.105000  23.395000        6.250000   6.450000   5.825000
75%       27.702500  26.085000       10.305000   7.977500   8.455000
max       38.290000  31.600000       38.930000  20.940000  13.770000


yyyymmdd   20230713  20230714   20230715  20230716
count     12.000000  10.00000  10.000000  10.00000
mean       8.384167   5.48600   8.104000   5.34900
std       11.756294   3.46972   9.590803   6.84258
min        1.010000   0.73000   0.240000   0.32000
25%        2.587500   2.42500   1.242500   1.07750
50%        3.530000   5.84000   4.430000   2.85500
75%        5.717500   8.38250   9.467500   4.29750
max       36.140000  10.56000  26.720000  18.32000

In [29]:
pd.pivot_table(df_analysis3[df_analysis3['surge_strategy'] \
                            .isin(['circuit_broken', 'hot_cold_surge', 'mismatch_generic', \
                                   'mismatch_gradient', 'rain', 'surge_dashboard_rule']) ], \
               values= ['surge_percentage','surged_fe_distr'] , \
               index=['income_signal','surge_strategy'], \
               columns=['time_bucket']
              ).describe()

            surge_percentage                                         \
time_bucket        Afternoon Evening_Peak Morning_Peak Rest_Evening
count              11.000000    10.000000    11.000000    10.000000
mean               20.907870    20.821714    24.189535    17.880590
std                12.570093    13.110422    14.732839    10.674627
min                 0.000000     0.000000     0.000000     0.000000
25%                13.708333    14.242143    14.055000    13.979583
50%                23.832857    25.951429    28.967143    22.309048
75%                28.592333    28.879643    35.438750    25.249643
max                37.111667    37.285714    39.460000    28.805000

                         surged_fe_distr                            \
time_bucket Rest_Morning       Afternoon Evening_Peak Morning_Peak
count           9.000000       11.000000    10.000000    11.000000
mean           16.440794        6.734636    12.137857     7.707922
std            10.598560        6.294671    12.344011     4.589936
min             0.000000        0.000000     2.295714     0.220000
25%            14.187500        2.056071     2.797500     4.831429
50%            20.000000        4.620000     5.665714     8.395000
75%            21.596667       11.878333    17.060357    10.037262
max            30.434286       19.716000    34.104286    13.940000


time_bucket Rest_Evening Rest_Morning
count          10.000000     9.000000
mean            0.120490     2.118360
std             0.091083     2.014930
min             0.028000     0.000000
25%             0.047917     0.598571
50%             0.075000     1.280000
75%             0.216607     3.944286
max             0.251429     5.720000

##

Mean value of q1, q2, q3 from day and peak-wise 

- Decrease surge percentage  Q1 -> ~14%
- BAU surge percentage Q2 -> ~26%
- Increase surge percentage Q3 -> ~31%

In [139]:
## Check weekly surge % : important