In [1]:
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

import ast
from datetime import datetime,timedelta,date
import glob
import json
import uuid
import time

import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_colwidth', 200)

import matplotlib.pyplot as plt
import seaborn as sns

from tqdm.notebook import tqdm
tqdm.pandas()

from h3 import h3

In [49]:
from pyhive import presto
presto_connection = presto.connect(
            host='presto-gateway.serving.data.production.internal',
            port=80,
            protocol='http',
            catalog='hive',
            username='manoj.ravirajan@rapido.bike')

In [3]:
from ast import literal_eval

In [34]:
affluence_cb_hex_8_data = pd.read_csv('exp_affluence_bangalore_link_circuit_break_hex_8_list_v1.csv')

In [35]:
affluence_cb_hex_8_data_summary = affluence_cb_hex_8_data.groupby(['affluence_tag', 'group_tc']).agg({'pickup_hex_8' : 'count', \
                                                          'fe_count' : 'sum', \
                                                          'gross_orders' : 'sum', \
                                                          'net_orders' : 'sum', \
                                                          'surged_fe' : 'sum', \
                                                          'fe_customer_count' : 'sum'
                                                         })
affluence_cb_hex_8_data_summary['fe2rr'] = affluence_cb_hex_8_data_summary['gross_orders']*100.0/affluence_cb_hex_8_data_summary['fe_count']
affluence_cb_hex_8_data_summary['g2n'] = affluence_cb_hex_8_data_summary['net_orders']*100.0/affluence_cb_hex_8_data_summary['gross_orders']
affluence_cb_hex_8_data_summary['fe2net'] = affluence_cb_hex_8_data_summary['net_orders']*100.0/affluence_cb_hex_8_data_summary['fe_count']
affluence_cb_hex_8_data_summary

                         pickup_hex_8  fe_count  gross_orders  net_orders  \
affluence_tag  group_tc
High Affluence control             12    151683       27142.0       11284
               test                13    229973       38081.0       14760
Low Affluence  control             22    188181       32635.0       12546
               test                23    193892       31985.0       12466

                         surged_fe  fe_customer_count      fe2rr        g2n  \
affluence_tag  group_tc
High Affluence control       65428              40526  17.893897  41.573944
               test          99338              61531  16.558900  38.759486
Low Affluence  control       75303              58673  17.342346  38.443389
               test          81135              64661  16.496297  38.974519

                           fe2net
affluence_tag  group_tc
High Affluence control   7.439199
               test      6.418145
Low Affluence  control   6.666986
               test      6.429352

In [36]:
affluence_cb_hex_8_data.columns

Index(['pickup_cluster', 'pickup_hex_8', 'fe_count', 'gross_orders',
       'net_orders', 'surged_fe', 'surge_percentage', 'discount_amount_fe',
       'discount_gross', 'sub_total_fe', 'fe_customer_count',
       'mean_geo_distance', 'max_geo_distance', 'fe2rr', 'fe2net', 'g2n',
       'income_signal', 'group_tc', 'affluence_tag'],
      dtype='object')

In [37]:
affluence_cb_hex_8_data = affluence_cb_hex_8_data[affluence_cb_hex_8_data['group_tc'] == 'test']

affluence_cb_hex_8_data['city'] = 'Bangalore'
affluence_cb_hex_8_data['start_time'] = '0'
affluence_cb_hex_8_data['end_time'] = '2359'
affluence_cb_hex_8_data['pickup_hex8'] = affluence_cb_hex_8_data['pickup_hex_8'] 
affluence_cb_hex_8_data['drop_cluster'] = 'ALL'
affluence_cb_hex_8_data['drop_hex8'] = 'ALL'
affluence_cb_hex_8_data = affluence_cb_hex_8_data[['city','pickup_cluster','drop_cluster','start_time','end_time','pickup_hex8','drop_hex8']]
affluence_cb_hex_8_data['k'] = 1
affluence_cb_hex_8_data['l'] = 1
affluence_cb_hex_8_data

,city,pickup_cluster,drop_cluster,start_time,end_time,pickup_hex8,drop_hex8,k,l
0,Bangalore,St Johns Signal,ALL,0,2359,88618925c7fffff,ALL,1,1
2,Bangalore,BTM 2nd Stage,ALL,0,2359,8861892433fffff,ALL,1,1
4,Bangalore,Arekere,ALL,0,2359,88618924e9fffff,ALL,1,1
6,Bangalore,Bommanahali,ALL,0,2359,886189243dfffff,ALL,1,1
8,Bangalore,R T Nagar CBI Road,ALL,0,2359,8861892cd3fffff,ALL,1,1
10,Bangalore,Arekere Lake,ALL,0,2359,8861892413fffff,ALL,1,1
12,Bangalore,Mavalli,ALL,0,2359,88618925b9fffff,ALL,1,1
14,Bangalore,Varthur,ALL,0,2359,88618920e5fffff,ALL,1,1
16,Bangalore,Thanisandra,ALL,0,2359,8861892cbdfffff,ALL,1,1
18,Bangalore,Electronic City Phase 2,ALL,0,2359,8861892661fffff,ALL,1,1
20,Bangalore,Mysore rd,ALL,0,2359,8860145a07fffff,ALL,1,1
22,Bangalore,Kengeri,ALL,0,2359,8860145a11fffff,ALL,1,1
24,Bangalore,Basaveshwar Nagar,ALL,0,2359,886014586dfffff,ALL,1,1
25,Bangalore,Yeshwanthpur - Mathikere,ALL,0,2359,886014594bfffff,ALL,1,1
27,Bangalore,Thanisandra,ALL,0,2359,8861892ca3fffff,ALL,1,1
29,Bangalore,Mysore rd,ALL,0,2359,8860145a05fffff,ALL,1,1
31,Bangalore,Mathikere Lake,ALL,0,2359,8860145943fffff,ALL,1,1
33,Bangalore,Vijayanagar,ALL,0,2359,886014584dfffff,ALL,1,1
35,Bangalore,Neelasandra,ALL,0,2359,88618925a9fffff,ALL,1,1
37,Bangalore,Horamavu,ALL,0,2359,8861892c0bfffff,ALL,1,1
39,Bangalore,BGS Kengeri,ALL,0,2359,8860145ad1fffff,ALL,1,1
41,Bangalore,Yelahanka Traffic Police Station,ALL,0,2359,886016966bfffff,ALL,1,1
43,Bangalore,Bommasandra Industrial Area,ALL,0,2359,8861892645fffff,ALL,1,1
45,Bangalore,Nagavara,ALL,0,2359,8861892ccbfffff,ALL,1,1
47,Bangalore,Horamavu,ALL,0,2359,8861892f13fffff,ALL,1,1
49,Bangalore,Kurudusonnehalli,ALL,0,2359,88618921e3fffff,ALL,1,1
51,Bangalore,K R Puram,ALL,0,2359,8861892e2bfffff,ALL,1,1
53,Bangalore,R T Nagar,ALL,0,2359,8860145b67fffff,ALL,1,1
55,Bangalore,Bagalur,ALL,0,2359,8861892db5fffff,ALL,1,1
57,Bangalore,Yelanhanka,ALL,0,2359,8861892db7fffff,ALL,1,1
59,Bangalore,Sahakara Nagar,ALL,0,2359,8861892c95fffff,ALL,1,1
61,Bangalore,HBR Layout,ALL,0,2359,8861892eb7fffff,ALL,1,1
63,Bangalore,Majestic,ALL,0,2359,8860145b53fffff,ALL,1,1
65,Bangalore,Majestic,ALL,0,2359,8860145b55fffff,ALL,1,1
67,Bangalore,Banaswadi,ALL,0,2359,8861892e85fffff,ALL,1,1
69,Bangalore,Yelahanka Traffic Police Station,ALL,0,2359,8860169663fffff,ALL,1,1

In [38]:
affluence_cb_hex_8_data.shape

(36, 9)

In [4]:
hh_routes_data = pd.read_csv('CB_auto_kalyan_west.csv')
hh_routes_data = hh_routes_data[hh_routes_data['Expt'] == 'Control']

hh_routes_data['city'] = 'Bangalore'
hh_routes_data['start_time'] = '0'
hh_routes_data['end_time'] = '2359'
hh_routes_data['pickup_hex8'] = 'ALL'
hh_routes_data['drop_hex8'] = hh_routes_data['dc_hex_id']
hh_routes_data = hh_routes_data[['city','pickup_cluster','drop_cluster','start_time','end_time','pickup_hex8','drop_hex8','eligible_strategy']]
hh_routes_data['k'] = 1

hh_routes_data

,city,pickup_cluster,drop_cluster,start_time,end_time,pickup_hex8,drop_hex8,eligible_strategy,k
11,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1100,1700,ALL,88608a24b3fffff,surge_dashboard_rule,1
13,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1100,1700,ALL,88608b5129fffff,surge_dashboard_rule,1
15,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1100,1700,ALL,88608b5163fffff,surge_dashboard_rule,1
17,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1100,1700,ALL,88608b5165fffff,surge_dashboard_rule,1
19,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1100,1700,ALL,88608a24bbfffff,surge_dashboard_rule,1
21,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1700,2100,ALL,88608a24b3fffff,surge_dashboard_rule,1
23,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1700,2100,ALL,88608b5161fffff,surge_dashboard_rule,1
25,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1700,2100,ALL,88608b5167fffff,surge_dashboard_rule,1
27,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1700,2100,ALL,88608a24bbfffff,surge_dashboard_rule,1

In [39]:
df_eligible_strategy = pd.DataFrame({'l': [1,1,1], 'eligible_strategy': ['hot_cold_surge', \
                                                                                 'surge_dashboard_rule', \
                                                                                 'mismatch']})

df_eligible_strategy

   l     eligible_strategy
0  1        hot_cold_surge
1  1  surge_dashboard_rule
2  1              mismatch

In [40]:
df_week = pd.DataFrame({'k': [1,1,1,1,1,1,1], 'week_period': ['Monday','Tuesday',
                                                              'Wednesday','Thursday',
                                                              'Friday','Saturday','Sunday']})

df_week

   k week_period
0  1      Monday
1  1     Tuesday
2  1   Wednesday
3  1    Thursday
4  1      Friday
5  1    Saturday
6  1      Sunday

In [41]:
affluence_cb_hex_8_data = affluence_cb_hex_8_data.merge(df_eligible_strategy,on='l').drop(columns = 'l',axis =1)
affluence_cb_hex_8_data.shape

(108, 9)

In [42]:
36*3

108

In [43]:
affluence_cb_hex_8_data = affluence_cb_hex_8_data.merge(df_week,on='k').drop(columns = 'k',axis =1)
affluence_cb_hex_8_data.shape

(756, 9)

In [44]:
108*7

756

In [45]:
affluence_cb_hex_8_data

,city,pickup_cluster,drop_cluster,start_time,end_time,pickup_hex8,drop_hex8,eligible_strategy,week_period
0,Bangalore,St Johns Signal,ALL,0,2359,88618925c7fffff,ALL,hot_cold_surge,Monday
1,Bangalore,St Johns Signal,ALL,0,2359,88618925c7fffff,ALL,hot_cold_surge,Tuesday
2,Bangalore,St Johns Signal,ALL,0,2359,88618925c7fffff,ALL,hot_cold_surge,Wednesday
3,Bangalore,St Johns Signal,ALL,0,2359,88618925c7fffff,ALL,hot_cold_surge,Thursday
4,Bangalore,St Johns Signal,ALL,0,2359,88618925c7fffff,ALL,hot_cold_surge,Friday
...,...,...,...,...,...,...,...,...,...
751,Bangalore,Yelahanka Traffic Police Station,ALL,0,2359,8860169663fffff,ALL,mismatch,Wednesday
752,Bangalore,Yelahanka Traffic Police Station,ALL,0,2359,8860169663fffff,ALL,mismatch,Thursday
753,Bangalore,Yelahanka Traffic Police Station,ALL,0,2359,8860169663fffff,ALL,mismatch,Friday
754,Bangalore,Yelahanka Traffic Police Station,ALL,0,2359,8860169663fffff,ALL,mismatch,Saturday
755,Bangalore,Yelahanka Traffic Police Station,ALL,0,2359,8860169663fffff,ALL,mismatch,Sunday

In [6]:
hh_routes_data = hh_routes_data.merge(df_week,on='k').drop(columns = 'k',axis =1)
hh_routes_data

,city,pickup_cluster,drop_cluster,start_time,end_time,pickup_hex8,drop_hex8,eligible_strategy,week_period
0,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1100,1700,ALL,88608a24b3fffff,surge_dashboard_rule,Monday
1,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1100,1700,ALL,88608a24b3fffff,surge_dashboard_rule,Tuesday
2,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1100,1700,ALL,88608a24b3fffff,surge_dashboard_rule,Wednesday
3,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1100,1700,ALL,88608a24b3fffff,surge_dashboard_rule,Thursday
4,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1100,1700,ALL,88608a24b3fffff,surge_dashboard_rule,Friday
5,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1100,1700,ALL,88608a24b3fffff,surge_dashboard_rule,Saturday
6,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1100,1700,ALL,88608a24b3fffff,surge_dashboard_rule,Sunday
7,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1100,1700,ALL,88608b5129fffff,surge_dashboard_rule,Monday
8,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1100,1700,ALL,88608b5129fffff,surge_dashboard_rule,Tuesday
9,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1100,1700,ALL,88608b5129fffff,surge_dashboard_rule,Wednesday
10,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1100,1700,ALL,88608b5129fffff,surge_dashboard_rule,Thursday
11,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1100,1700,ALL,88608b5129fffff,surge_dashboard_rule,Friday
12,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1100,1700,ALL,88608b5129fffff,surge_dashboard_rule,Saturday
13,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1100,1700,ALL,88608b5129fffff,surge_dashboard_rule,Sunday
14,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1100,1700,ALL,88608b5163fffff,surge_dashboard_rule,Monday
15,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1100,1700,ALL,88608b5163fffff,surge_dashboard_rule,Tuesday
16,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1100,1700,ALL,88608b5163fffff,surge_dashboard_rule,Wednesday
17,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1100,1700,ALL,88608b5163fffff,surge_dashboard_rule,Thursday
18,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1100,1700,ALL,88608b5163fffff,surge_dashboard_rule,Friday
19,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1100,1700,ALL,88608b5163fffff,surge_dashboard_rule,Saturday
20,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1100,1700,ALL,88608b5163fffff,surge_dashboard_rule,Sunday
21,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1100,1700,ALL,88608b5165fffff,surge_dashboard_rule,Monday
22,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1100,1700,ALL,88608b5165fffff,surge_dashboard_rule,Tuesday
23,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1100,1700,ALL,88608b5165fffff,surge_dashboard_rule,Wednesday
24,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1100,1700,ALL,88608b5165fffff,surge_dashboard_rule,Thursday
25,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1100,1700,ALL,88608b5165fffff,surge_dashboard_rule,Friday
26,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1100,1700,ALL,88608b5165fffff,surge_dashboard_rule,Saturday
27,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1100,1700,ALL,88608b5165fffff,surge_dashboard_rule,Sunday
28,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1100,1700,ALL,88608a24bbfffff,surge_dashboard_rule,Monday
29,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1100,1700,ALL,88608a24bbfffff,surge_dashboard_rule,Tuesday
30,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1100,1700,ALL,88608a24bbfffff,surge_dashboard_rule,Wednesday
31,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1100,1700,ALL,88608a24bbfffff,surge_dashboard_rule,Thursday
32,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1100,1700,ALL,88608a24bbfffff,surge_dashboard_rule,Friday
33,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1100,1700,ALL,88608a24bbfffff,surge_dashboard_rule,Saturday
34,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1100,1700,ALL,88608a24bbfffff,surge_dashboard_rule,Sunday
35,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1700,2100,ALL,88608a24b3fffff,surge_dashboard_rule,Monday
36,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1700,2100,ALL,88608a24b3fffff,surge_dashboard_rule,Tuesday
37,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1700,2100,ALL,88608a24b3fffff,surge_dashboard_rule,Wednesday
38,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1700,2100,ALL,88608a24b3fffff,surge_dashboard_rule,Thursday
39,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1700,2100,ALL,88608a24b3fffff,surge_dashboard_rule,Friday
40,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1700,2100,ALL,88608a24b3fffff,surge_dashboard_rule,Saturday
41,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1700,2100,ALL,88608a24b3fffff,surge_dashboard_rule,Sunday
42,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1700,2100,ALL,88608b5161fffff,surge_dashboard_rule,Monday
43,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1700,2100,ALL,88608b5161fffff,surge_dashboard_rule,Tuesday
44,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1700,2100,ALL,88608b5161fffff,surge_dashboard_rule,Wednesday
45,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1700,2100,ALL,88608b5161fffff,surge_dashboard_rule,Thursday
46,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1700,2100,ALL,88608b5161fffff,surge_dashboard_rule,Friday
47,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1700,2100,ALL,88608b5161fffff,surge_dashboard_rule,Saturday
48,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1700,2100,ALL,88608b5161fffff,surge_dashboard_rule,Sunday
49,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1700,2100,ALL,88608b5167fffff,surge_dashboard_rule,Monday
50,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1700,2100,ALL,88608b5167fffff,surge_dashboard_rule,Tuesday
51,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1700,2100,ALL,88608b5167fffff,surge_dashboard_rule,Wednesday
52,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1700,2100,ALL,88608b5167fffff,surge_dashboard_rule,Thursday
53,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1700,2100,ALL,88608b5167fffff,surge_dashboard_rule,Friday
54,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1700,2100,ALL,88608b5167fffff,surge_dashboard_rule,Saturday
55,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1700,2100,ALL,88608b5167fffff,surge_dashboard_rule,Sunday
56,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1700,2100,ALL,88608a24bbfffff,surge_dashboard_rule,Monday
57,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1700,2100,ALL,88608a24bbfffff,surge_dashboard_rule,Tuesday
58,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1700,2100,ALL,88608a24bbfffff,surge_dashboard_rule,Wednesday
59,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1700,2100,ALL,88608a24bbfffff,surge_dashboard_rule,Thursday
60,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1700,2100,ALL,88608a24bbfffff,surge_dashboard_rule,Friday
61,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1700,2100,ALL,88608a24bbfffff,surge_dashboard_rule,Saturday
62,Mumbai,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,1700,2100,ALL,88608a24bbfffff,surge_dashboard_rule,Sunday

In [7]:
city_name = hh_routes_data['city'].unique()[0]

In [46]:
city_name = affluence_cb_hex_8_data['city'].unique()[0]

In [52]:
'''
query = """

        SELECT 
            service_detail_id
        FROM 
            datasets.service_mapping
        WHERE 
            city_display_name = '{city}' 
            AND service_level = 'Link'

        """.format(city = city_name)

service_mapping = pd.read_sql(query, presto_connection).iloc[0]
city_service_detail_id = service_mapping[0]
'''

'\nquery = """\n\n        SELECT \n            service_detail_id\n        FROM \n            datasets.service_mapping\n        WHERE \n            city_display_name = \'{city}\' \n            AND service_level = \'Link\'\n\n        """.format(city = city_name)\n\nservice_mapping = pd.read_sql(query, presto_connection).iloc[0]\ncity_service_detail_id = service_mapping[0]\n'

In [53]:
city_service_detail_id = '57370b61a6855d70057417d1'

In [ ]:
# Bangalore | Link | service_detail_id = 57370b61a6855d70057417d1

In [54]:
CITY = city_name                                    # FORMAT: 'CITY_NAME', As per record
START_DATE = '20230818'                             # FORMAT: 'YYYYMMDD'
END_DATE = '20230907'                               # FORMAT: 'YYYYMMDD'
SERVICE_DETAIL_ID = city_service_detail_id          # FORMAT: 'SERVICE_DETAIL_ID', As per record
CAPTAIN_PAYOUT = 0                                  # FORMAT: In Rupees

In [55]:
sample = {
    "service_detail_id": "57370b61a6855d70057417d1",
    "end_date": "20220401",
    "city": "Bangalore",
    "run_date": "20220331",
    "updated_at": 1645675999,
    "recommendation_date": "20220401",
    "pickup_cluster": "Paltan Bazaar",
    "drop_cluster": "Paltan Bazaar",
    "end_time": "1030",
    "type": "order_acceptance",
    "captain_payout": 23,
    "start_date": "20220401",
    "created_at": 1645675999,
    "period": "",
    "updated_by": "manoj.ravirajan@rapido.bike",
    "start_time": "1000",
    "pickup_hex8":"88619aa4d9fffff",
    "drop_hex8":"88619aa4d9fffff",
    "start_distance":0,
    "end_distance":100,
    "rule_id": "d2e843de-a3bd-4de9-a2e5-22e41953d8d0",
    "eligible_strategy":'surge_dashboard_rule'
}

In [56]:
config_format = json.loads(json.dumps(sample))
config_format = pd.DataFrame(config_format, index=[0])

In [13]:
configuration = hh_routes_data.copy()

In [57]:
configuration = affluence_cb_hex_8_data.copy()

In [58]:
configuration['service_detail_id'] = SERVICE_DETAIL_ID
configuration['start_date'] = START_DATE
configuration['end_date'] = END_DATE
configuration['run_date'] = date.today().strftime('%Y%m%d')
configuration['start_time'] = configuration['start_time']
configuration['created_at'] = int(time.time())
configuration['updated_at'] = int(time.time())
configuration['period'] = ''
configuration['captain_payout'] = CAPTAIN_PAYOUT
configuration['type'] = 'order_acceptance'
configuration['updated_by'] = 'manoj.ravirajan@rapido.bike'
configuration['city'] = CITY
configuration['start_distance'] = 0
configuration['end_distance'] = 100

In [59]:
def rule(configuration):
    rule_id = str(uuid.uuid4())
    return rule_id

configuration['rule_id'] = configuration.apply(rule,axis=1)

In [60]:
def recommend_date(configuration):
    
    firstDay = datetime.strptime(configuration['start_date'], '%Y%m%d') 
    lastDay = datetime.strptime(configuration['end_date'], '%Y%m%d')
    weekDay = configuration['week_period']
    dates = [firstDay + timedelta(days=x) for x in range((lastDay-firstDay).days + 1) if (firstDay + timedelta(days=x)).weekday() == time.strptime(weekDay, '%A').tm_wday]
    r_date = dates[0].strftime("%Y%m%d")
    return r_date

configuration['recommendation_date'] = configuration.apply(recommend_date,axis=1)
configuration['start_date'] = configuration['recommendation_date'].copy()
configuration['end_date'] = configuration['recommendation_date'].copy()

In [61]:
configuration.shape

(756, 23)

In [62]:
configuration.head()

,city,pickup_cluster,drop_cluster,start_time,end_time,pickup_hex8,drop_hex8,eligible_strategy,week_period,service_detail_id,start_date,end_date,run_date,created_at,updated_at,period,captain_payout,type,updated_by,start_distance,end_distance,rule_id,recommendation_date
0,Bangalore,St Johns Signal,ALL,0,2359,88618925c7fffff,ALL,hot_cold_surge,Monday,57370b61a6855d70057417d1,20230821,20230821,20230817,1692279793,1692279793,,0,order_acceptance,manoj.ravirajan@rapido.bike,0,100,8e353870-e99e-446a-8f24-3f6983bbb516,20230821
1,Bangalore,St Johns Signal,ALL,0,2359,88618925c7fffff,ALL,hot_cold_surge,Tuesday,57370b61a6855d70057417d1,20230822,20230822,20230817,1692279793,1692279793,,0,order_acceptance,manoj.ravirajan@rapido.bike,0,100,e570aa2f-5386-4d7a-92bd-cdc5b1a76419,20230822
2,Bangalore,St Johns Signal,ALL,0,2359,88618925c7fffff,ALL,hot_cold_surge,Wednesday,57370b61a6855d70057417d1,20230823,20230823,20230817,1692279793,1692279793,,0,order_acceptance,manoj.ravirajan@rapido.bike,0,100,a3ea5257-76cc-4373-836b-4690046a2332,20230823
3,Bangalore,St Johns Signal,ALL,0,2359,88618925c7fffff,ALL,hot_cold_surge,Thursday,57370b61a6855d70057417d1,20230824,20230824,20230817,1692279793,1692279793,,0,order_acceptance,manoj.ravirajan@rapido.bike,0,100,a748b221-27bb-4c15-8aff-ae506f98ead1,20230824
4,Bangalore,St Johns Signal,ALL,0,2359,88618925c7fffff,ALL,hot_cold_surge,Friday,57370b61a6855d70057417d1,20230818,20230818,20230817,1692279793,1692279793,,0,order_acceptance,manoj.ravirajan@rapido.bike,0,100,d8732547-88a5-4a00-8ab6-d0a48f0418cc,20230818

In [63]:
configuration.shape

(756, 23)

In [64]:
configuration['recommendation_date'].unique()

array(['20230821', '20230822', '20230823', '20230824', '20230818',
       '20230819', '20230820'], dtype=object)

In [65]:
week1 = configuration.copy()

In [66]:
week_all = pd.concat([week1]).reset_index(drop=True)

In [67]:
week_all

,city,pickup_cluster,drop_cluster,start_time,end_time,pickup_hex8,drop_hex8,eligible_strategy,week_period,service_detail_id,start_date,end_date,run_date,created_at,updated_at,period,captain_payout,type,updated_by,start_distance,end_distance,rule_id,recommendation_date
0,Bangalore,St Johns Signal,ALL,0,2359,88618925c7fffff,ALL,hot_cold_surge,Monday,57370b61a6855d70057417d1,20230821,20230821,20230817,1692279793,1692279793,,0,order_acceptance,manoj.ravirajan@rapido.bike,0,100,8e353870-e99e-446a-8f24-3f6983bbb516,20230821
1,Bangalore,St Johns Signal,ALL,0,2359,88618925c7fffff,ALL,hot_cold_surge,Tuesday,57370b61a6855d70057417d1,20230822,20230822,20230817,1692279793,1692279793,,0,order_acceptance,manoj.ravirajan@rapido.bike,0,100,e570aa2f-5386-4d7a-92bd-cdc5b1a76419,20230822
2,Bangalore,St Johns Signal,ALL,0,2359,88618925c7fffff,ALL,hot_cold_surge,Wednesday,57370b61a6855d70057417d1,20230823,20230823,20230817,1692279793,1692279793,,0,order_acceptance,manoj.ravirajan@rapido.bike,0,100,a3ea5257-76cc-4373-836b-4690046a2332,20230823
3,Bangalore,St Johns Signal,ALL,0,2359,88618925c7fffff,ALL,hot_cold_surge,Thursday,57370b61a6855d70057417d1,20230824,20230824,20230817,1692279793,1692279793,,0,order_acceptance,manoj.ravirajan@rapido.bike,0,100,a748b221-27bb-4c15-8aff-ae506f98ead1,20230824
4,Bangalore,St Johns Signal,ALL,0,2359,88618925c7fffff,ALL,hot_cold_surge,Friday,57370b61a6855d70057417d1,20230818,20230818,20230817,1692279793,1692279793,,0,order_acceptance,manoj.ravirajan@rapido.bike,0,100,d8732547-88a5-4a00-8ab6-d0a48f0418cc,20230818
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,Bangalore,Yelahanka Traffic Police Station,ALL,0,2359,8860169663fffff,ALL,mismatch,Wednesday,57370b61a6855d70057417d1,20230823,20230823,20230817,1692279793,1692279793,,0,order_acceptance,manoj.ravirajan@rapido.bike,0,100,2556aa92-a882-45c8-8100-21f541377e13,20230823
752,Bangalore,Yelahanka Traffic Police Station,ALL,0,2359,8860169663fffff,ALL,mismatch,Thursday,57370b61a6855d70057417d1,20230824,20230824,20230817,1692279793,1692279793,,0,order_acceptance,manoj.ravirajan@rapido.bike,0,100,38dce592-e4a8-4360-9965-26525cf0f6ed,20230824
753,Bangalore,Yelahanka Traffic Police Station,ALL,0,2359,8860169663fffff,ALL,mismatch,Friday,57370b61a6855d70057417d1,20230818,20230818,20230817,1692279793,1692279793,,0,order_acceptance,manoj.ravirajan@rapido.bike,0,100,03310f6f-b03c-48c5-b887-703e0fb45174,20230818
754,Bangalore,Yelahanka Traffic Police Station,ALL,0,2359,8860169663fffff,ALL,mismatch,Saturday,57370b61a6855d70057417d1,20230819,20230819,20230817,1692279793,1692279793,,0,order_acceptance,manoj.ravirajan@rapido.bike,0,100,8ca3981b-9af3-4896-9ff0-282df30ddab7,20230819
755,Bangalore,Yelahanka Traffic Police Station,ALL,0,2359,8860169663fffff,ALL,mismatch,Sunday,57370b61a6855d70057417d1,20230820,20230820,20230817,1692279793,1692279793,,0,order_acceptance,manoj.ravirajan@rapido.bike,0,100,3766422d-db95-4c92-9161-01204f52551d,20230820

In [68]:
week_all['city'].unique()

array(['Bangalore'], dtype=object)

In [69]:
week_all['recommendation_date'].unique()

array(['20230821', '20230822', '20230823', '20230824', '20230818',
       '20230819', '20230820'], dtype=object)

In [70]:
batch = week_all.copy()

In [71]:
all_city_df2 = pd.concat([batch]).reset_index(drop=True)

In [72]:
all_city_df2

,city,pickup_cluster,drop_cluster,start_time,end_time,pickup_hex8,drop_hex8,eligible_strategy,week_period,service_detail_id,start_date,end_date,run_date,created_at,updated_at,period,captain_payout,type,updated_by,start_distance,end_distance,rule_id,recommendation_date
0,Bangalore,St Johns Signal,ALL,0,2359,88618925c7fffff,ALL,hot_cold_surge,Monday,57370b61a6855d70057417d1,20230821,20230821,20230817,1692279793,1692279793,,0,order_acceptance,manoj.ravirajan@rapido.bike,0,100,8e353870-e99e-446a-8f24-3f6983bbb516,20230821
1,Bangalore,St Johns Signal,ALL,0,2359,88618925c7fffff,ALL,hot_cold_surge,Tuesday,57370b61a6855d70057417d1,20230822,20230822,20230817,1692279793,1692279793,,0,order_acceptance,manoj.ravirajan@rapido.bike,0,100,e570aa2f-5386-4d7a-92bd-cdc5b1a76419,20230822
2,Bangalore,St Johns Signal,ALL,0,2359,88618925c7fffff,ALL,hot_cold_surge,Wednesday,57370b61a6855d70057417d1,20230823,20230823,20230817,1692279793,1692279793,,0,order_acceptance,manoj.ravirajan@rapido.bike,0,100,a3ea5257-76cc-4373-836b-4690046a2332,20230823
3,Bangalore,St Johns Signal,ALL,0,2359,88618925c7fffff,ALL,hot_cold_surge,Thursday,57370b61a6855d70057417d1,20230824,20230824,20230817,1692279793,1692279793,,0,order_acceptance,manoj.ravirajan@rapido.bike,0,100,a748b221-27bb-4c15-8aff-ae506f98ead1,20230824
4,Bangalore,St Johns Signal,ALL,0,2359,88618925c7fffff,ALL,hot_cold_surge,Friday,57370b61a6855d70057417d1,20230818,20230818,20230817,1692279793,1692279793,,0,order_acceptance,manoj.ravirajan@rapido.bike,0,100,d8732547-88a5-4a00-8ab6-d0a48f0418cc,20230818
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,Bangalore,Yelahanka Traffic Police Station,ALL,0,2359,8860169663fffff,ALL,mismatch,Wednesday,57370b61a6855d70057417d1,20230823,20230823,20230817,1692279793,1692279793,,0,order_acceptance,manoj.ravirajan@rapido.bike,0,100,2556aa92-a882-45c8-8100-21f541377e13,20230823
752,Bangalore,Yelahanka Traffic Police Station,ALL,0,2359,8860169663fffff,ALL,mismatch,Thursday,57370b61a6855d70057417d1,20230824,20230824,20230817,1692279793,1692279793,,0,order_acceptance,manoj.ravirajan@rapido.bike,0,100,38dce592-e4a8-4360-9965-26525cf0f6ed,20230824
753,Bangalore,Yelahanka Traffic Police Station,ALL,0,2359,8860169663fffff,ALL,mismatch,Friday,57370b61a6855d70057417d1,20230818,20230818,20230817,1692279793,1692279793,,0,order_acceptance,manoj.ravirajan@rapido.bike,0,100,03310f6f-b03c-48c5-b887-703e0fb45174,20230818
754,Bangalore,Yelahanka Traffic Police Station,ALL,0,2359,8860169663fffff,ALL,mismatch,Saturday,57370b61a6855d70057417d1,20230819,20230819,20230817,1692279793,1692279793,,0,order_acceptance,manoj.ravirajan@rapido.bike,0,100,8ca3981b-9af3-4896-9ff0-282df30ddab7,20230819
755,Bangalore,Yelahanka Traffic Police Station,ALL,0,2359,8860169663fffff,ALL,mismatch,Sunday,57370b61a6855d70057417d1,20230820,20230820,20230817,1692279793,1692279793,,0,order_acceptance,manoj.ravirajan@rapido.bike,0,100,3766422d-db95-4c92-9161-01204f52551d,20230820

In [73]:
all_city_df2.shape

(756, 23)

# Saving the file in parquet format

In [79]:
import os
os.getcwd()

'/Users/rapido/Documents/code-repository/PRICING/Affluence/experiment_documents'

In [80]:
configurations_directory = '/Users/rapido/Documents/code-repository/PRICING/Affluence/experiment_documents'

!rm -R {configurations_directory}
!mkdir {configurations_directory}

all_city_df2.to_parquet(configurations_directory, partition_cols=['run_date', 'city', 'recommendation_date'])

# Doing sanity checks

In [81]:
df = pd.read_parquet('/Users/rapido/Documents/code-repository/PRICING/Affluence/experiment_documents')
df

,pickup_cluster,drop_cluster,start_time,end_time,pickup_hex8,drop_hex8,eligible_strategy,week_period,service_detail_id,start_date,end_date,created_at,updated_at,period,captain_payout,type,updated_by,start_distance,end_distance,rule_id,run_date,city,recommendation_date
0,St Johns Signal,ALL,0,2359,88618925c7fffff,ALL,hot_cold_surge,Friday,57370b61a6855d70057417d1,20230818,20230818,1692279793,1692279793,,0,order_acceptance,manoj.ravirajan@rapido.bike,0,100,d8732547-88a5-4a00-8ab6-d0a48f0418cc,20230817,Bangalore,20230818
1,St Johns Signal,ALL,0,2359,88618925c7fffff,ALL,surge_dashboard_rule,Friday,57370b61a6855d70057417d1,20230818,20230818,1692279793,1692279793,,0,order_acceptance,manoj.ravirajan@rapido.bike,0,100,52874cec-f570-4578-b24e-b4ced14e484e,20230817,Bangalore,20230818
2,St Johns Signal,ALL,0,2359,88618925c7fffff,ALL,mismatch,Friday,57370b61a6855d70057417d1,20230818,20230818,1692279793,1692279793,,0,order_acceptance,manoj.ravirajan@rapido.bike,0,100,3447b176-8646-40a7-b7d9-7934faf9cf91,20230817,Bangalore,20230818
3,BTM 2nd Stage,ALL,0,2359,8861892433fffff,ALL,hot_cold_surge,Friday,57370b61a6855d70057417d1,20230818,20230818,1692279793,1692279793,,0,order_acceptance,manoj.ravirajan@rapido.bike,0,100,64a20b22-a93a-4888-b2bb-7ba157243c10,20230817,Bangalore,20230818
4,BTM 2nd Stage,ALL,0,2359,8861892433fffff,ALL,surge_dashboard_rule,Friday,57370b61a6855d70057417d1,20230818,20230818,1692279793,1692279793,,0,order_acceptance,manoj.ravirajan@rapido.bike,0,100,fc672a8b-c781-4989-bf3f-223709d17d0f,20230817,Bangalore,20230818
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,Banaswadi,ALL,0,2359,8861892e85fffff,ALL,surge_dashboard_rule,Thursday,57370b61a6855d70057417d1,20230824,20230824,1692279793,1692279793,,0,order_acceptance,manoj.ravirajan@rapido.bike,0,100,6341c53b-9a27-42bc-8df1-a32719b3eec2,20230817,Bangalore,20230824
752,Banaswadi,ALL,0,2359,8861892e85fffff,ALL,mismatch,Thursday,57370b61a6855d70057417d1,20230824,20230824,1692279793,1692279793,,0,order_acceptance,manoj.ravirajan@rapido.bike,0,100,a963f5de-50e2-4934-9607-0327a39e6d2a,20230817,Bangalore,20230824
753,Yelahanka Traffic Police Station,ALL,0,2359,8860169663fffff,ALL,hot_cold_surge,Thursday,57370b61a6855d70057417d1,20230824,20230824,1692279793,1692279793,,0,order_acceptance,manoj.ravirajan@rapido.bike,0,100,39cfa460-edea-4a41-a741-f3e746c4fd86,20230817,Bangalore,20230824
754,Yelahanka Traffic Police Station,ALL,0,2359,8860169663fffff,ALL,surge_dashboard_rule,Thursday,57370b61a6855d70057417d1,20230824,20230824,1692279793,1692279793,,0,order_acceptance,manoj.ravirajan@rapido.bike,0,100,520b5e1a-318f-4088-b294-bc03d10c9b64,20230817,Bangalore,20230824
755,Yelahanka Traffic Police Station,ALL,0,2359,8860169663fffff,ALL,mismatch,Thursday,57370b61a6855d70057417d1,20230824,20230824,1692279793,1692279793,,0,order_acceptance,manoj.ravirajan@rapido.bike,0,100,38dce592-e4a8-4360-9965-26525cf0f6ed,20230817,Bangalore,20230824

In [33]:
df.groupby(['pickup_cluster','drop_cluster']).agg({'eligible_strategy':set})

                                                eligible_strategy
pickup_cluster       drop_cluster
MUM_AUKD_Kalyan West MUM_AUKD_Kalyan West  {surge_dashboard_rule}

In [34]:
df.groupby(['pickup_cluster','drop_cluster','start_date','start_time']).agg({'pickup_hex8':set,
                                                  'drop_hex8':set})

                                                                pickup_hex8  \
pickup_cluster       drop_cluster         start_date start_time
MUM_AUKD_Kalyan West MUM_AUKD_Kalyan West 20230809   1100             {ALL}
                                                     1700             {ALL}
                                          20230810   1100             {ALL}
                                                     1700             {ALL}
                                          20230811   1100             {ALL}
                                                     1700             {ALL}
                                          20230812   1100             {ALL}
                                                     1700             {ALL}
                                          20230813   1100             {ALL}
                                                     1700             {ALL}
                                          20230814   1100             {ALL}
                                                     1700             {ALL}
                                          20230815   1100             {ALL}
                                                     1700             {ALL}

                                                                                                                                             drop_hex8
pickup_cluster       drop_cluster         start_date start_time
MUM_AUKD_Kalyan West MUM_AUKD_Kalyan West 20230809   1100        {88608a24bbfffff, 88608a24b3fffff, 88608b5165fffff, 88608b5163fffff, 88608b5129fffff}
                                                     1700                         {88608a24bbfffff, 88608a24b3fffff, 88608b5161fffff, 88608b5167fffff}
                                          20230810   1100        {88608a24bbfffff, 88608a24b3fffff, 88608b5165fffff, 88608b5163fffff, 88608b5129fffff}
                                                     1700                         {88608a24bbfffff, 88608a24b3fffff, 88608b5161fffff, 88608b5167fffff}
                                          20230811   1100        {88608a24bbfffff, 88608a24b3fffff, 88608b5165fffff, 88608b5163fffff, 88608b5129fffff}
                                                     1700                         {88608a24bbfffff, 88608a24b3fffff, 88608b5161fffff, 88608b5167fffff}
                                          20230812   1100        {88608a24bbfffff, 88608a24b3fffff, 88608b5165fffff, 88608b5163fffff, 88608b5129fffff}
                                                     1700                         {88608a24bbfffff, 88608a24b3fffff, 88608b5161fffff, 88608b5167fffff}
                                          20230813   1100        {88608a24bbfffff, 88608a24b3fffff, 88608b5165fffff, 88608b5163fffff, 88608b5129fffff}
                                                     1700                         {88608a24bbfffff, 88608a24b3fffff, 88608b5161fffff, 88608b5167fffff}
                                          20230814   1100        {88608a24bbfffff, 88608a24b3fffff, 88608b5165fffff, 88608b5163fffff, 88608b5129fffff}
                                                     1700                         {88608a24bbfffff, 88608a24b3fffff, 88608b5161fffff, 88608b5167fffff}
                                          20230815   1100        {88608a24bbfffff, 88608a24b3fffff, 88608b5165fffff, 88608b5163fffff, 88608b5129fffff}
                                                     1700                         {88608a24bbfffff, 88608a24b3fffff, 88608b5161fffff, 88608b5167fffff}

In [35]:
hh_ = pd.read_csv('CB_auto_kalyan_west.csv')

hh_.groupby(['pickup_cluster','drop_cluster','peak']).agg({'dc_hex_id':set})

                                                                                                                                                                                                                      dc_hex_id
pickup_cluster       drop_cluster         peak
MUM_AUKD_Kalyan West MUM_AUKD_Kalyan West afternoon  {88608b5a5bfffff, 88608a24b3fffff, 88608b5105fffff, 88608a24bbfffff, 88608b5165fffff, 88608b5161fffff, 88608b5163fffff, 88608b5129fffff, 88608b516dfffff, 88608b5167fffff}
                                          evening                     {88608a24bbfffff, 88608a24b3fffff, 88608b5105fffff, 88608b5165fffff, 88608b5161fffff, 88608b5163fffff, 88608b5129fffff, 88608b516dfffff, 88608b5167fffff}
                                          morning    {88608b5a5bfffff, 88608a24b3fffff, 88608a24bbfffff, 88608b5105fffff, 88608b5165fffff, 88608b5161fffff, 88608b5163fffff, 88608b5129fffff, 88608b516dfffff, 88608b5167fffff}

In [36]:
hh_[hh_['peak'] == 'afternoon']

,city,service,dc_hex_id,peak,route,Expt,pickup_cluster,drop_cluster,expt_type,eligible_strategy
10,Mumbai,Auto,88608b5a5bfffff,afternoon,MUM_AUKD_Kalyan West_MUM_AUKD_Kalyan West,Test,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,Surge_Dashboard_Rule,surge_dashboard_rule
11,Mumbai,Auto,88608a24b3fffff,afternoon,MUM_AUKD_Kalyan West_MUM_AUKD_Kalyan West,Control,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,Surge_Dashboard_Rule,surge_dashboard_rule
12,Mumbai,Auto,88608b5161fffff,afternoon,MUM_AUKD_Kalyan West_MUM_AUKD_Kalyan West,Test,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,Surge_Dashboard_Rule,surge_dashboard_rule
13,Mumbai,Auto,88608b5129fffff,afternoon,MUM_AUKD_Kalyan West_MUM_AUKD_Kalyan West,Control,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,Surge_Dashboard_Rule,surge_dashboard_rule
14,Mumbai,Auto,88608b5167fffff,afternoon,MUM_AUKD_Kalyan West_MUM_AUKD_Kalyan West,Test,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,Surge_Dashboard_Rule,surge_dashboard_rule
15,Mumbai,Auto,88608b5163fffff,afternoon,MUM_AUKD_Kalyan West_MUM_AUKD_Kalyan West,Control,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,Surge_Dashboard_Rule,surge_dashboard_rule
16,Mumbai,Auto,88608b516dfffff,afternoon,MUM_AUKD_Kalyan West_MUM_AUKD_Kalyan West,Test,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,Surge_Dashboard_Rule,surge_dashboard_rule
17,Mumbai,Auto,88608b5165fffff,afternoon,MUM_AUKD_Kalyan West_MUM_AUKD_Kalyan West,Control,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,Surge_Dashboard_Rule,surge_dashboard_rule
18,Mumbai,Auto,88608b5105fffff,afternoon,MUM_AUKD_Kalyan West_MUM_AUKD_Kalyan West,Test,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,Surge_Dashboard_Rule,surge_dashboard_rule
19,Mumbai,Auto,88608a24bbfffff,afternoon,MUM_AUKD_Kalyan West_MUM_AUKD_Kalyan West,Control,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,Surge_Dashboard_Rule,surge_dashboard_rule

In [37]:
hh_[hh_['peak'] == 'evening']

,city,service,dc_hex_id,peak,route,Expt,pickup_cluster,drop_cluster,expt_type,eligible_strategy
20,Mumbai,Auto,88608b516dfffff,evening,MUM_AUKD_Kalyan West_MUM_AUKD_Kalyan West,Test,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,Surge_Dashboard_Rule,surge_dashboard_rule
21,Mumbai,Auto,88608a24b3fffff,evening,MUM_AUKD_Kalyan West_MUM_AUKD_Kalyan West,Control,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,Surge_Dashboard_Rule,surge_dashboard_rule
22,Mumbai,Auto,88608b5165fffff,evening,MUM_AUKD_Kalyan West_MUM_AUKD_Kalyan West,Test,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,Surge_Dashboard_Rule,surge_dashboard_rule
23,Mumbai,Auto,88608b5161fffff,evening,MUM_AUKD_Kalyan West_MUM_AUKD_Kalyan West,Control,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,Surge_Dashboard_Rule,surge_dashboard_rule
24,Mumbai,Auto,88608b5129fffff,evening,MUM_AUKD_Kalyan West_MUM_AUKD_Kalyan West,Test,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,Surge_Dashboard_Rule,surge_dashboard_rule
25,Mumbai,Auto,88608b5167fffff,evening,MUM_AUKD_Kalyan West_MUM_AUKD_Kalyan West,Control,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,Surge_Dashboard_Rule,surge_dashboard_rule
26,Mumbai,Auto,88608b5105fffff,evening,MUM_AUKD_Kalyan West_MUM_AUKD_Kalyan West,Test,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,Surge_Dashboard_Rule,surge_dashboard_rule
27,Mumbai,Auto,88608a24bbfffff,evening,MUM_AUKD_Kalyan West_MUM_AUKD_Kalyan West,Control,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,Surge_Dashboard_Rule,surge_dashboard_rule
28,Mumbai,Auto,88608b5163fffff,evening,MUM_AUKD_Kalyan West_MUM_AUKD_Kalyan West,Test,MUM_AUKD_Kalyan West,MUM_AUKD_Kalyan West,Surge_Dashboard_Rule,surge_dashboard_rule