<div style="display:block">
    <div style="width: 20%; display: inline-block; text-align: left;">
        <div class="crop">
            <img src="https://image4.owler.com/logo/rapido_owler_20190125_062402_original.png" style="height:75px; margin-left:0px" />
        </div>
    </div>
    <div style="width: 59%; display: inline-block">
            <h1  style="text-align: center">SRuD Setup</h1><br>
        <div style="width: 90%; text-align: center; display: inline-block;"><i>By:</i> <strong>Ritik Prakash</strong> </div>
    </div>
    <div style="width: 20%; text-align: right; display: inline-block;">
        <div style="width: 100%; text-align: left; display: inline-block;">
            <i>Created: </i>
            <time datetime="Enter Date" pubdate>28th March, 2022</time>
        </div>
    </div>
</div>

___
___

<div class="alert alert-block alert-danger">

# Configs
</div>

<div class="alert alert-block alert-warning">
    
### Enter Configs To Run The Notebook
Comment or Edit the changes in Similar Format
</div>

In [1]:
CITY = 'Hyderabad'

In [22]:
START_DATE = '20230612'                    
END_DATE = '20230625'

In [23]:
X_PERCENT_TOP = 100

<div class="alert alert-block alert-danger">

</div>

___

<div class="alert alert-block alert-info">

# Importing Packages
</div>

___

In [24]:
import pandas as pd
import numpy as np
import h3
from datetime import datetime
from pyhive import presto
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta
from sklearn.metrics.pairwise import cosine_similarity
from numpy import array, reshape
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [25]:
pd.set_option('display.max_columns', 600)
pd.set_option('display.max_rows', 600)

In [26]:
conn = presto.connect(
    host='presto-gateway.serving.data.plectrum.dev',
    port=443,
    protocol='https',
    catalog='hive',
    username='ritik.prakash@rapido.bike')

___

<div class="alert alert-block alert-info">

# Download Data
</div>

___

In [35]:
START_DATE = '20230612'                    
END_DATE = '20230618'

In [39]:
fe_data = '''
        
        WITH fe AS (
    
                SELECT
                    city,
                    fare_estimate_id,
                    date_format(date_parse(yyyymmdd,'%Y%m%d'),'%Y-%m-%d') AS orderdate,
                    substr(quarter_hour,1,2) AS hour,
                    quarter_hour,
                    date_format(date_parse(yyyymmdd,'%Y%m%d'), '%W') AS week_period,
                    pickup_location_hex_8 AS pickup_hex,
                    drop_location_hex_8 AS drop_hex,
                    COALESCE(actual_ride_time,estimated_ride_time) AS ride_time,
                    CAST(dynamic_surge AS DOUBLE)+CAST(dynamic_fare AS DOUBLE) AS surge,
                    price_increase_strategy AS strategy,
                    1 AS fe_count
                FROM
                    hive.pricing.fare_estimates_enriched AS ench
                WHERE
                    yyyymmdd >= '{start_date}' 
                    AND yyyymmdd <= '{end_date}'
                    AND service_name = 'Link'
                    AND city = '{city}'
            )

        SELECT * FROM fe

        '''.format(
            city = CITY,
            start_date = START_DATE,
            end_date = END_DATE)

In [41]:
fe_df1 = pd.read_sql(fe_data, conn)

___

In [56]:
START_DATE = '20230619'                    
END_DATE = '20230622'

In [57]:
fe_data = '''
        
        WITH fe AS (
    
                SELECT
                    city,
                    fare_estimate_id,
                    date_format(date_parse(yyyymmdd,'%Y%m%d'),'%Y-%m-%d') AS orderdate,
                    substr(quarter_hour,1,2) AS hour,
                    quarter_hour,
                    date_format(date_parse(yyyymmdd,'%Y%m%d'), '%W') AS week_period,
                    pickup_location_hex_8 AS pickup_hex,
                    drop_location_hex_8 AS drop_hex,
                    COALESCE(actual_ride_time,estimated_ride_time) AS ride_time,
                    CAST(dynamic_surge AS DOUBLE)+CAST(dynamic_fare AS DOUBLE) AS surge,
                    price_increase_strategy AS strategy,
                    1 AS fe_count
                FROM
                    hive.pricing.fare_estimates_enriched AS ench
                WHERE
                    yyyymmdd >= '{start_date}' 
                    AND yyyymmdd <= '{end_date}'
                    AND service_name = 'Link'
                    AND city = '{city}'
            )

        SELECT * FROM fe

        '''.format(
            city = CITY,
            start_date = START_DATE,
            end_date = END_DATE)

In [58]:
fe_df21 = pd.read_sql(fe_data, conn)

/Users/apple/opt/anaconda3/lib/python3.8/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [59]:
START_DATE = '20230623'                    
END_DATE = '20230625'

In [60]:
fe_data = '''
        
        WITH fe AS (
    
                SELECT
                    city,
                    fare_estimate_id,
                    date_format(date_parse(yyyymmdd,'%Y%m%d'),'%Y-%m-%d') AS orderdate,
                    substr(quarter_hour,1,2) AS hour,
                    quarter_hour,
                    date_format(date_parse(yyyymmdd,'%Y%m%d'), '%W') AS week_period,
                    pickup_location_hex_8 AS pickup_hex,
                    drop_location_hex_8 AS drop_hex,
                    COALESCE(actual_ride_time,estimated_ride_time) AS ride_time,
                    CAST(dynamic_surge AS DOUBLE)+CAST(dynamic_fare AS DOUBLE) AS surge,
                    price_increase_strategy AS strategy,
                    1 AS fe_count
                FROM
                    hive.pricing.fare_estimates_enriched AS ench
                WHERE
                    yyyymmdd >= '{start_date}' 
                    AND yyyymmdd <= '{end_date}'
                    AND service_name = 'Link'
                    AND city = '{city}'
            )

        SELECT * FROM fe

        '''.format(
            city = CITY,
            start_date = START_DATE,
            end_date = END_DATE)

In [61]:
fe_df22 = pd.read_sql(fe_data, conn)

/Users/apple/opt/anaconda3/lib/python3.8/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

___

In [46]:
START_DATE = '20230626'                    
END_DATE = '20230702'

In [47]:
fe_data = '''
        
        WITH fe AS (
    
                SELECT
                    city,
                    fare_estimate_id,
                    date_format(date_parse(yyyymmdd,'%Y%m%d'),'%Y-%m-%d') AS orderdate,
                    substr(quarter_hour,1,2) AS hour,
                    quarter_hour,
                    date_format(date_parse(yyyymmdd,'%Y%m%d'), '%W') AS week_period,
                    pickup_location_hex_8 AS pickup_hex,
                    drop_location_hex_8 AS drop_hex,
                    COALESCE(actual_ride_time,estimated_ride_time) AS ride_time,
                    CAST(dynamic_surge AS DOUBLE)+CAST(dynamic_fare AS DOUBLE) AS surge,
                    price_increase_strategy AS strategy,
                    1 AS fe_count
                FROM
                    hive.pricing.fare_estimates_enriched AS ench
                WHERE
                    yyyymmdd >= '{start_date}' 
                    AND yyyymmdd <= '{end_date}'
                    AND service_name = 'Link'
                    AND city = '{city}'
            )

        SELECT * FROM fe

        '''.format(
            city = CITY,
            start_date = START_DATE,
            end_date = END_DATE)

In [48]:
fe_df3 = pd.read_sql(fe_data, conn)

___

In [49]:
START_DATE = '20230703'                    
END_DATE = '20230709'

In [50]:
fe_data = '''
        
        WITH fe AS (
    
                SELECT
                    city,
                    fare_estimate_id,
                    date_format(date_parse(yyyymmdd,'%Y%m%d'),'%Y-%m-%d') AS orderdate,
                    substr(quarter_hour,1,2) AS hour,
                    quarter_hour,
                    date_format(date_parse(yyyymmdd,'%Y%m%d'), '%W') AS week_period,
                    pickup_location_hex_8 AS pickup_hex,
                    drop_location_hex_8 AS drop_hex,
                    COALESCE(actual_ride_time,estimated_ride_time) AS ride_time,
                    CAST(dynamic_surge AS DOUBLE)+CAST(dynamic_fare AS DOUBLE) AS surge,
                    price_increase_strategy AS strategy,
                    1 AS fe_count
                FROM
                    hive.pricing.fare_estimates_enriched AS ench
                WHERE
                    yyyymmdd >= '{start_date}' 
                    AND yyyymmdd <= '{end_date}'
                    AND service_name = 'Link'
                    AND city = '{city}'
            )

        SELECT * FROM fe

        '''.format(
            city = CITY,
            start_date = START_DATE,
            end_date = END_DATE)

In [55]:
fe_df4 = pd.read_sql(fe_data, conn)

___

___

___

___

In [62]:
city_clus = '''
        
        SELECT 
            hex_id, 
            cluster 
        FROM 
            datasets.city_cluster_hex 
        WHERE 
            resolution=8 
            AND city = '{city}'

        '''.format(
            city = CITY)

In [63]:
top_q =  '''

        SELECT
            pickup_cluster,
            week_period,
            hour,
            'TOP' AS segment
        FROM
        (
            SELECT
                cluster AS pickup_cluster,
                weekday AS week_period,
                hour,
                unfulfilled_orders,
                SUM(unfulfilled_orders) OVER(PARTITION BY city ORDER BY unfulfilled_orders DESC) AS cumsum_unf_orders,
                SUM(unfulfilled_orders) OVER(PARTITION BY city) * {x_percent_top} AS x_percent_unf
            FROM 
                pricing.top_geotemporal_slices
            WHERE
                city = '{city}'
                AND service_name = 'Link'
        )
        WHERE cumsum_unf_orders <= x_percent_unf
        
        '''.format(
            city = CITY,
            x_percent_top = X_PERCENT_TOP/100)

In [64]:
# fe_df = pd.read_sql(fe_data, conn)

In [65]:
city_clus = pd.read_sql(city_clus, conn)

/Users/apple/opt/anaconda3/lib/python3.8/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [66]:
top_slice = pd.read_sql(top_q, conn)

/Users/apple/opt/anaconda3/lib/python3.8/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

___

___

In [73]:
fe_all = fe_df1.copy()

In [74]:
# fe_all = pd.concat([fe_df1,fe_df21,fe_df22,fe_df3,fe_df4]).reset_index(drop=True)

In [75]:
fe_all.shape
fe_all.head()

(9878808, 12)

,city,fare_estimate_id,orderdate,hour,quarter_hour,week_period,pickup_hex,drop_hex,ride_time,surge,strategy,fe_count
0,Hyderabad,6489f56af7e36b23adc0625a,2023-06-14,22,2230,Wednesday,8860b52c95fffff,8860b52cd1fffff,9.466667,11.45,hot_cold_surge,1
1,Hyderabad,6489a301c8627a535fca767b,2023-06-14,16,1645,Wednesday,8860a25997fffff,8860a24b57fffff,30.983333,51.96,mismatch,1
2,Hyderabad,64898d8e84b5ef46fc36fe6c,2023-06-14,15,1515,Wednesday,8860b52ed5fffff,8860b52ecbfffff,7.266667,0.00,None,1
3,Hyderabad,64896ea96fd99d65a3723152,2023-06-14,13,1300,Wednesday,8860b52d87fffff,8860b52d83fffff,3.733333,9.00,surge_dashboard_rule,1
4,Hyderabad,6489995284b5ef5107374f9d,2023-06-14,16,1600,Wednesday,8860b194c3fffff,8860b196b1fffff,11.566667,0.00,None,1

In [76]:
city_clus.head()

            hex_id        cluster
0  8860b52e49fffff   Hayath Nagar
1  8860a25b2bfffff   Himayatnagar
2  8860b194edfffff        Suraram
3  8860b52cb9fffff    Marredpally
4  8860a2498dfffff  kistareddypet

In [77]:
top_slice.shape
top_slice.head()

(884, 4)

  pickup_cluster week_period hour segment
0    Hitech City    Thursday   19     TOP
1    Hitech City    Thursday   18     TOP
2    Hitech City     Tuesday   18     TOP
3    Hitech City     Tuesday   19     TOP
4    Hitech City    Thursday   20     TOP

___

___

<div class="alert alert-block alert-info">

# Cleaning FE Data
</div>

___

In [78]:
pick_df = city_clus.copy()
drop_df = city_clus.copy()

In [79]:
pick_df.columns = ['pickup_hex', 'pickup_cluster']
drop_df.columns = ['drop_hex', 'drop_cluster']

In [80]:
fe_all = pd.merge(fe_all,pick_df,on='pickup_hex',how='left')
fe_all = pd.merge(fe_all,drop_df,on='drop_hex',how='left')

In [81]:
fe_data = fe_all[['city', 'fare_estimate_id', 'orderdate', 'hour', 'quarter_hour','week_period', 
        'pickup_cluster', 'drop_cluster', 'ride_time', 'surge','strategy', 'fe_count']]

In [82]:
fe_data['strategy'] = fe_data['strategy'].fillna('no_surge')

<ipython-input-82-dfeb15525c18>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fe_data['strategy'] = fe_data['strategy'].fillna('no_surge')

In [83]:
fe_data.head()

,city,fare_estimate_id,orderdate,hour,quarter_hour,week_period,pickup_cluster,drop_cluster,ride_time,surge,strategy,fe_count
0,Hyderabad,6489f56af7e36b23adc0625a,2023-06-14,22,2230,Wednesday,Secunderabad East,Padmarao Nagar,9.466667,11.45,hot_cold_surge,1
1,Hyderabad,6489a301c8627a535fca767b,2023-06-14,16,1645,Wednesday,Hitech City,Kothaguda,30.983333,51.96,mismatch,1
2,Hyderabad,64898d8e84b5ef46fc36fe6c,2023-06-14,15,1515,Wednesday,Nagole,Mansoorabad,7.266667,0.00,no_surge,1
3,Hyderabad,64896ea96fd99d65a3723152,2023-06-14,13,1300,Wednesday,sainikpuri,sainikpuri,3.733333,9.00,surge_dashboard_rule,1
4,Hyderabad,6489995284b5ef5107374f9d,2023-06-14,16,1600,Wednesday,Jeedimetla,Balanagar,11.566667,0.00,no_surge,1

___

___

<div class="alert alert-block alert-danger">

# Top Unfulfilled Routes
</div>

___

<div class="alert alert-block alert-info">

## X% Top Slices
</div>

___

In [84]:
top_geo_slice = top_slice.copy()

In [85]:
def peaks(df):
    hr = int(df['hour'])
    
    if hr>=0 and hr<8:
        return 'rest_morning'
    elif hr>=8 and hr<=11:
        return 'morning_peak'
    elif hr>11 and hr<17:
        return 'afternoon'
    elif hr>=17 and hr <=21:
        return 'evening_peak'
    else:
        return 'rest_evening'
    
top_geo_slice['time_period'] = top_geo_slice.apply(peaks,axis=1)

In [86]:
top_geo_slice['clus_id'] = top_geo_slice['pickup_cluster']+'_'+top_geo_slice[
    'week_period']+'_'+top_geo_slice['hour']

In [87]:
top_geo_slice['week_id'] = top_geo_slice['pickup_cluster']+'_'+top_geo_slice['week_period']

In [88]:
top_geo_slice['h_id'] = top_geo_slice['pickup_cluster']+'_'+top_geo_slice['time_period']

In [89]:
top_geo_slice.shape
top_geo_slice.head()

(884, 8)

,pickup_cluster,week_period,hour,segment,time_period,clus_id,week_id,h_id
0,Hitech City,Thursday,19,TOP,evening_peak,Hitech City_Thursday_19,Hitech City_Thursday,Hitech City_evening_peak
1,Hitech City,Thursday,18,TOP,evening_peak,Hitech City_Thursday_18,Hitech City_Thursday,Hitech City_evening_peak
2,Hitech City,Tuesday,18,TOP,evening_peak,Hitech City_Tuesday_18,Hitech City_Tuesday,Hitech City_evening_peak
3,Hitech City,Tuesday,19,TOP,evening_peak,Hitech City_Tuesday_19,Hitech City_Tuesday,Hitech City_evening_peak
4,Hitech City,Thursday,20,TOP,evening_peak,Hitech City_Thursday_20,Hitech City_Thursday,Hitech City_evening_peak

___

___

<div class="alert alert-block alert-danger">

# Finding SRuD Routes For Top Unfulfilled Slices
</div>

___

<div class="alert alert-block alert-info">

# Ride Time Stats
</div>

___

In [90]:
all_clus_fe = fe_data[fe_data['pickup_cluster']!='']
all_clus_fe = all_clus_fe[~all_clus_fe['pickup_cluster'].isna()]
all_clus_fe = all_clus_fe[all_clus_fe['drop_cluster']!='']
all_clus_fe = all_clus_fe[~all_clus_fe['drop_cluster'].isna()]

In [91]:
all_clus_fe = all_clus_fe[(all_clus_fe['ride_time']>1)&(all_clus_fe['ride_time']<125)].reset_index(drop=True)

In [92]:
all_clus_fe.shape
all_clus_fe.head()

(9661186, 12)

,city,fare_estimate_id,orderdate,hour,quarter_hour,week_period,pickup_cluster,drop_cluster,ride_time,surge,strategy,fe_count
0,Hyderabad,6489f56af7e36b23adc0625a,2023-06-14,22,2230,Wednesday,Secunderabad East,Padmarao Nagar,9.466667,11.45,hot_cold_surge,1
1,Hyderabad,6489a301c8627a535fca767b,2023-06-14,16,1645,Wednesday,Hitech City,Kothaguda,30.983333,51.96,mismatch,1
2,Hyderabad,64898d8e84b5ef46fc36fe6c,2023-06-14,15,1515,Wednesday,Nagole,Mansoorabad,7.266667,0.00,no_surge,1
3,Hyderabad,64896ea96fd99d65a3723152,2023-06-14,13,1300,Wednesday,sainikpuri,sainikpuri,3.733333,9.00,surge_dashboard_rule,1
4,Hyderabad,6489995284b5ef5107374f9d,2023-06-14,16,1600,Wednesday,Jeedimetla,Balanagar,11.566667,0.00,no_surge,1

In [93]:
ride_time_stats = all_clus_fe.groupby(['pickup_cluster','drop_cluster','week_period',
                                   'hour'])['ride_time'].mean().reset_index()
ride_time_stats['ride_time'] = round(ride_time_stats['ride_time'],0)

In [94]:
ride_time_stats['clus_id'] = ride_time_stats['drop_cluster']+'_'+ride_time_stats['week_period']

In [95]:
top_clus_week = list(top_geo_slice['week_id'].unique())

In [96]:
top_ride_time_stats = ride_time_stats[ride_time_stats['clus_id'].isin(top_clus_week)].reset_index(drop=True)

In [97]:
top_ride_time_stats = top_ride_time_stats.sort_values('clus_id').reset_index(drop=True)

In [98]:
top_ride_time_stats['ds'] = pd.to_datetime(END_DATE+':'+top_ride_time_stats['hour'], format='%Y%m%d:%H')

In [99]:
top_ride_time_stats

,pickup_cluster,drop_cluster,week_period,hour,ride_time,clus_id,ds
0,AOC Centre,Abids,Friday,12,45.0,Abids_Friday,2023-06-25 12:00:00
1,Musheerabad Metro,Abids,Friday,09,13.0,Abids_Friday,2023-06-25 09:00:00
2,Musheerabad Metro,Abids,Friday,10,18.0,Abids_Friday,2023-06-25 10:00:00
3,Musheerabad Metro,Abids,Friday,11,15.0,Abids_Friday,2023-06-25 11:00:00
4,Musheerabad Metro,Abids,Friday,13,17.0,Abids_Friday,2023-06-25 13:00:00
...,...,...,...,...,...,...,...
370798,Kukatpally,kistareddypet,Sunday,00,18.0,kistareddypet_Sunday,2023-06-25 00:00:00
370799,Ghatkesar,kistareddypet,Sunday,12,66.0,kistareddypet_Sunday,2023-06-25 12:00:00
370800,Ghatkesar,kistareddypet,Sunday,11,60.0,kistareddypet_Sunday,2023-06-25 11:00:00
370801,Rethibowli,kistareddypet,Sunday,18,66.0,kistareddypet_Sunday,2023-06-25 18:00:00
370802,shilparamam,kistareddypet,Sunday,18,101.0,kistareddypet_Sunday,2023-06-25 18:00:00

In [100]:
def start_time(df):
    ride_time = df['ride_time']
    start_ds = df['ds'] - timedelta(minutes=ride_time)
    hr = start_ds.strftime("%H")
    mins = start_ds.strftime("%M")
    no_qh = int(int(mins)/15)
    if no_qh == 0:
        qr_hr = hr+'00'
    elif no_qh == 1:
        qr_hr = hr+'15'
    elif no_qh == 2:
        qr_hr = hr+'30'
    elif no_qh == 3:
        qr_hr = hr+'45'

    return(qr_hr)

In [101]:
def end_time(df):
    ride_time = df['ride_time']
    start_ds = df['ds'] - timedelta(minutes=ride_time)
    end_ds = start_ds + timedelta(hours=1)
    hr = end_ds.strftime("%H")
    mins = end_ds.strftime("%M")
    no_qh = int(int(mins)/15)
    if no_qh == 0:
        qr_hr = hr+'00'
    elif no_qh == 1:
        qr_hr = hr+'15'
    elif no_qh == 2:
        qr_hr = hr+'30'
    elif no_qh == 3:
        qr_hr = hr+'45'

    return(qr_hr)

In [102]:
top_ride_time_stats['start_time'] = top_ride_time_stats.apply(start_time,axis=1)
top_ride_time_stats['end_time'] = top_ride_time_stats.apply(end_time,axis=1)

In [103]:
top_ride_time_stats.head()

,pickup_cluster,drop_cluster,week_period,hour,ride_time,clus_id,ds,start_time,end_time
0,AOC Centre,Abids,Friday,12,45.0,Abids_Friday,2023-06-25 12:00:00,1115,1215
1,Musheerabad Metro,Abids,Friday,09,13.0,Abids_Friday,2023-06-25 09:00:00,0845,0945
2,Musheerabad Metro,Abids,Friday,10,18.0,Abids_Friday,2023-06-25 10:00:00,0930,1030
3,Musheerabad Metro,Abids,Friday,11,15.0,Abids_Friday,2023-06-25 11:00:00,1045,1145
4,Musheerabad Metro,Abids,Friday,13,17.0,Abids_Friday,2023-06-25 13:00:00,1230,1330

In [104]:
clus_time_dur = top_ride_time_stats[['pickup_cluster','drop_cluster','week_period',
                                     'hour','clus_id','start_time','end_time']]

In [105]:
clus_time_dur.head()

,pickup_cluster,drop_cluster,week_period,hour,clus_id,start_time,end_time
0,AOC Centre,Abids,Friday,12,Abids_Friday,1115,1215
1,Musheerabad Metro,Abids,Friday,09,Abids_Friday,0845,0945
2,Musheerabad Metro,Abids,Friday,10,Abids_Friday,0930,1030
3,Musheerabad Metro,Abids,Friday,11,Abids_Friday,1045,1145
4,Musheerabad Metro,Abids,Friday,13,Abids_Friday,1230,1330

In [106]:
top_clus_id = list(top_geo_slice['clus_id'].unique())

In [107]:
top_clus_time_dur = clus_time_dur.copy()
top_clus_time_dur['clus_id'] = clus_time_dur['clus_id']+'_'+clus_time_dur['hour']

In [108]:
top_clus_time_dur = top_clus_time_dur[top_clus_time_dur['clus_id'].isin(top_clus_id)].reset_index(drop=True)

In [109]:
top_clus_time_dur= top_clus_time_dur[['pickup_cluster', 'drop_cluster','week_period','hour', 'start_time','end_time']]

In [110]:
top_clus_time_dur.columns = ['pickup_cluster', 'drop_cluster','week_period','unf_hour', 'start_time', 'end_time']

In [111]:
top_clus_time_dur

,pickup_cluster,drop_cluster,week_period,unf_hour,start_time,end_time
0,AOC Centre,Abids,Friday,12,1115,1215
1,Musheerabad Metro,Abids,Friday,13,1230,1330
2,Musheerabad Metro,Abids,Friday,14,1345,1445
3,VidyaNagar,Abids,Friday,12,1130,1230
4,VidyaNagar,Abids,Friday,13,1230,1330
...,...,...,...,...,...,...
76179,Hussian Sagar,kistareddypet,Sunday,18,1630,1730
76180,Medchal,kistareddypet,Sunday,18,1715,1815
76181,Abids,kistareddypet,Sunday,18,1645,1745
76182,Rethibowli,kistareddypet,Sunday,18,1645,1745
76183,shilparamam,kistareddypet,Sunday,18,1615,1715

___

<div class="alert alert-block alert-info">

# Top Unfulfilled / Drop Cluster Stats
</div>

___

In [112]:
all_clus_fe.head()

,city,fare_estimate_id,orderdate,hour,quarter_hour,week_period,pickup_cluster,drop_cluster,ride_time,surge,strategy,fe_count
0,Hyderabad,6489f56af7e36b23adc0625a,2023-06-14,22,2230,Wednesday,Secunderabad East,Padmarao Nagar,9.466667,11.45,hot_cold_surge,1
1,Hyderabad,6489a301c8627a535fca767b,2023-06-14,16,1645,Wednesday,Hitech City,Kothaguda,30.983333,51.96,mismatch,1
2,Hyderabad,64898d8e84b5ef46fc36fe6c,2023-06-14,15,1515,Wednesday,Nagole,Mansoorabad,7.266667,0.00,no_surge,1
3,Hyderabad,64896ea96fd99d65a3723152,2023-06-14,13,1300,Wednesday,sainikpuri,sainikpuri,3.733333,9.00,surge_dashboard_rule,1
4,Hyderabad,6489995284b5ef5107374f9d,2023-06-14,16,1600,Wednesday,Jeedimetla,Balanagar,11.566667,0.00,no_surge,1

In [113]:
all_clus_fe['clus_id'] = all_clus_fe['drop_cluster']+'_'+all_clus_fe['week_period']

In [114]:
top_clus_week = list(top_geo_slice['week_id'].unique())

In [115]:
top_fe_data = all_clus_fe[all_clus_fe['clus_id'].isin(top_clus_week)].reset_index(drop=True)

In [116]:
top_fe_data.head()

,city,fare_estimate_id,orderdate,hour,quarter_hour,week_period,pickup_cluster,drop_cluster,ride_time,surge,strategy,fe_count,clus_id
0,Hyderabad,6489a301c8627a535fca767b,2023-06-14,16,1645,Wednesday,Hitech City,Kothaguda,30.983333,51.96,mismatch,1,Kothaguda_Wednesday
1,Hyderabad,6489995284b5ef5107374f9d,2023-06-14,16,1600,Wednesday,Jeedimetla,Balanagar,11.566667,0.00,no_surge,1,Balanagar_Wednesday
2,Hyderabad,64891bf15ec8b2157228126e,2023-06-14,07,0715,Wednesday,Bahadurguda,Shamshabad,19.383333,0.00,circuit_broken,1,Shamshabad_Wednesday
3,Hyderabad,64897f74514cd472d065998c,2023-06-14,14,1415,Wednesday,Jeedimetla,Kukatpally 3,14.500000,21.66,surge_dashboard_rule,1,Kukatpally 3_Wednesday
4,Hyderabad,6489313289aa9925f158e549,2023-06-14,08,0845,Wednesday,Mothinagar,Hitech City,14.366667,13.02,surge_dashboard_rule,1,Hitech City_Wednesday

In [117]:
top_fe_dur = pd.merge(top_fe_data,top_clus_time_dur,on=['pickup_cluster', 'drop_cluster','week_period'],how='inner')

In [118]:
top_fe_dur.isnull().sum()

city                0
fare_estimate_id    0
orderdate           0
hour                0
quarter_hour        0
week_period         0
pickup_cluster      0
drop_cluster        0
ride_time           0
surge               0
strategy            0
fe_count            0
clus_id             0
unf_hour            0
start_time          0
end_time            0
dtype: int64

In [119]:
def fe_intime(df):
    start = df['start_time']
    end = df['end_time']
    qh = df['quarter_hour']
    if start<=qh<end:
        return 1
    else:
        return 0

In [120]:
top_fe_dur['fe_in_qh'] = top_fe_dur.apply(fe_intime,axis=1)

In [121]:
top_all_fe = top_fe_dur[top_fe_dur['fe_in_qh']==1].reset_index(drop=True)

In [122]:
top_all_fe.shape
top_all_fe.head()

(1238591, 17)

,city,fare_estimate_id,orderdate,hour,quarter_hour,week_period,pickup_cluster,drop_cluster,ride_time,surge,strategy,fe_count,clus_id,unf_hour,start_time,end_time,fe_in_qh
0,Hyderabad,6489335e3662e77fefcab42d,2023-06-14,08,0845,Wednesday,Hitech City,Kothaguda,6.033333,4.74,surge_dashboard_rule,1,Kothaguda_Wednesday,09,0845,0945,1
1,Hyderabad,64894374a8e93f01b27ed840,2023-06-14,10,1000,Wednesday,Hitech City,Kothaguda,11.866667,0.00,circuit_broken,1,Kothaguda_Wednesday,10,0945,1045,1
2,Hyderabad,6489441b5ec8b215d42935c4,2023-06-14,10,1000,Wednesday,Hitech City,Kothaguda,8.383333,5.07,surge_dashboard_rule,1,Kothaguda_Wednesday,10,0945,1045,1
3,Hyderabad,6489438bc8627a6aadc7ac9c,2023-06-14,10,1000,Wednesday,Hitech City,Kothaguda,11.800000,0.00,circuit_broken,1,Kothaguda_Wednesday,10,0945,1045,1
4,Hyderabad,648943913ce1510d63caf453,2023-06-14,10,1000,Wednesday,Hitech City,Kothaguda,16.216667,0.00,circuit_broken,1,Kothaguda_Wednesday,10,0945,1045,1

In [123]:
fe_stats = top_all_fe.groupby(['pickup_cluster','drop_cluster','week_period','unf_hour','start_time','end_time']).agg({
    
            'fe_count':'sum',
            'ride_time': 'mean',
            'strategy': [lambda x: fe_data.loc[x.index, 'fe_count'][x=='no_surge'].sum(),
                         lambda x: fe_data.loc[x.index, 'fe_count'][x=='mismatch'].sum()]
})

In [124]:
fe_stats

                                                                               fe_count  \
                                                                                    sum
pickup_cluster drop_cluster           week_period unf_hour start_time end_time
AOC Centre     Abids                  Friday      13       1215       1315            2
                                                  14       1315       1415            4
                                      Saturday    19       1800       1900            5
               Alwal                  Monday      09       0830       0930           27
               Ameenpur               Saturday    19       1715       1815            1
...                                                                                 ...
shilparamam    Shamshabad             Wednesday   19       1815       1915           26
                                                  20       1930       2030           21
                                                  21       2030       2130           20
                                                  22       2130       2230           11
               Shamshabad 2 - Airport Sunday      21       2000       2100            1

                                                                                ride_time  \
                                                                                     mean
pickup_cluster drop_cluster           week_period unf_hour start_time end_time
AOC Centre     Abids                  Friday      13       1215       1315      44.566667
                                                  14       1315       1415      42.783333
                                      Saturday    19       1800       1900      56.836667
               Alwal                  Monday      09       0830       0930      22.124074
               Ameenpur               Saturday    19       1715       1815      91.716667
...                                                                                   ...
shilparamam    Shamshabad             Wednesday   19       1815       1915      30.600000
                                                  20       1930       2030      30.110317
                                                  21       2030       2130      25.975833
                                                  22       2130       2230      22.946970
               Shamshabad 2 - Airport Sunday      21       2000       2100      43.016667

                                                                                 strategy  \
                                                                               <lambda_0>
pickup_cluster drop_cluster           week_period unf_hour start_time end_time
AOC Centre     Abids                  Friday      13       1215       1315              0
                                                  14       1315       1415              4
                                      Saturday    19       1800       1900              5
               Alwal                  Monday      09       0830       0930              0
               Ameenpur               Saturday    19       1715       1815              0
...                                                                                   ...
shilparamam    Shamshabad             Wednesday   19       1815       1915             17
                                                  20       1930       2030             21
                                                  21       2030       2130             20
                                                  22       2130       2230             11
               Shamshabad 2 - Airport Sunday      21       2000       2100              1


                                                                               <lambda_1>
pickup_cluster drop_cluster           week_period unf_hour start_time end_time
AOC Centre     Abids                  Friday      13       1215       1315              0
                                                  14       1315       1415              0
                                      Saturday    19       1800       1900              0
               Alwal                  Monday      09       0830       0930              0
               Ameenpur               Saturday    19       1715       1815              0
...                                                                                   ...
shilparamam    Shamshabad             Wednesday   19       1815       1915              0
                                                  20       1930       2030              0
                                                  21       2030       2130              0
                                                  22       2130       2230              0
               Shamshabad 2 - Airport Sunday      21       2000       2100              0

[61027 rows x 4 columns]

In [125]:
fe_stats.columns = ['fe','ride_time','nosurge_fe','mismatch_fe']

In [126]:
fe_stats = fe_stats.reset_index(level=1).reset_index()

In [127]:
fe_stats

,pickup_cluster,week_period,unf_hour,start_time,end_time,drop_cluster,fe,ride_time,nosurge_fe,mismatch_fe
0,AOC Centre,Friday,13,1215,1315,Abids,2,44.566667,0,0
1,AOC Centre,Friday,14,1315,1415,Abids,4,42.783333,4,0
2,AOC Centre,Saturday,19,1800,1900,Abids,5,56.836667,5,0
3,AOC Centre,Monday,09,0830,0930,Alwal,27,22.124074,0,0
4,AOC Centre,Saturday,19,1715,1815,Ameenpur,1,91.716667,0,0
...,...,...,...,...,...,...,...,...,...,...
61022,shilparamam,Wednesday,19,1815,1915,Shamshabad,26,30.600000,17,0
61023,shilparamam,Wednesday,20,1930,2030,Shamshabad,21,30.110317,21,0
61024,shilparamam,Wednesday,21,2030,2130,Shamshabad,20,25.975833,20,0
61025,shilparamam,Wednesday,22,2130,2230,Shamshabad,11,22.946970,11,0
61026,shilparamam,Sunday,21,2000,2100,Shamshabad 2 - Airport,1,43.016667,1,0

In [128]:
fe_stats = fe_stats[['pickup_cluster','drop_cluster', 'week_period', 'unf_hour', 'start_time', 'end_time',
                   'ride_time','fe','nosurge_fe','mismatch_fe']]

In [129]:
fe_stats = fe_stats[fe_stats['pickup_cluster']!='']
fe_stats = fe_stats[fe_stats['drop_cluster']!='']

In [130]:
fe_stats['clus_id'] = fe_stats['drop_cluster']+'_'+fe_stats['week_period']+'_'+fe_stats['unf_hour']

In [131]:
fe_stats.head()

,pickup_cluster,drop_cluster,week_period,unf_hour,start_time,end_time,ride_time,fe,nosurge_fe,mismatch_fe,clus_id
0,AOC Centre,Abids,Friday,13,1215,1315,44.566667,2,0,0,Abids_Friday_13
1,AOC Centre,Abids,Friday,14,1315,1415,42.783333,4,4,0,Abids_Friday_14
2,AOC Centre,Abids,Saturday,19,1800,1900,56.836667,5,5,0,Abids_Saturday_19
3,AOC Centre,Alwal,Monday,09,0830,0930,22.124074,27,0,0,Alwal_Monday_09
4,AOC Centre,Ameenpur,Saturday,19,1715,1815,91.716667,1,0,0,Ameenpur_Saturday_19

___

In [132]:
top_fe_stats = fe_stats[['clus_id','pickup_cluster', 'drop_cluster', 'week_period', 'unf_hour',
       'start_time', 'end_time','ride_time', 'fe', 'nosurge_fe','mismatch_fe']]

In [133]:
top_fe_stats = top_fe_stats.sort_values(['clus_id'],ascending=[True]).reset_index(drop=True)

In [134]:
top_fe_stats.head()

,clus_id,pickup_cluster,drop_cluster,week_period,unf_hour,start_time,end_time,ride_time,fe,nosurge_fe,mismatch_fe
0,Abids_Friday_12,Malakpet 3,Abids,Friday,12,1145,1245,18.050000,2,2,0
1,Abids_Friday_12,Narayanguda,Abids,Friday,12,1145,1245,6.683333,13,13,0
2,Abids_Friday_12,Kamatipura,Abids,Friday,12,1130,1230,21.750000,1,1,0
3,Abids_Friday_12,Ameerpet Bus Stop,Abids,Friday,12,1130,1230,25.763889,6,2,4
4,Abids_Friday_12,Paradise,Abids,Friday,12,1130,1230,17.778333,10,10,0

In [135]:
top_unf_stats = top_fe_stats.copy()

<div class="alert alert-block alert-warning">

</div>

___

___

<div class="alert alert-block alert-danger">

# SRuD Routes with Ride Time Check
</div>

___

In [136]:
top_unf_stats

,clus_id,pickup_cluster,drop_cluster,week_period,unf_hour,start_time,end_time,ride_time,fe,nosurge_fe,mismatch_fe
0,Abids_Friday_12,Malakpet 3,Abids,Friday,12,1145,1245,18.050000,2,2,0
1,Abids_Friday_12,Narayanguda,Abids,Friday,12,1145,1245,6.683333,13,13,0
2,Abids_Friday_12,Kamatipura,Abids,Friday,12,1130,1230,21.750000,1,1,0
3,Abids_Friday_12,Ameerpet Bus Stop,Abids,Friday,12,1130,1230,25.763889,6,2,4
4,Abids_Friday_12,Paradise,Abids,Friday,12,1130,1230,17.778333,10,10,0
...,...,...,...,...,...,...,...,...,...,...,...
61022,kistareddypet_Sunday_18,Ameerpet,kistareddypet,Sunday,18,1645,1745,52.366667,1,1,0
61023,kistareddypet_Sunday_18,Medchal 2,kistareddypet,Sunday,18,1700,1800,34.772222,3,3,0
61024,kistareddypet_Sunday_18,Quthbullapur,kistareddypet,Sunday,18,1715,1815,30.500000,2,2,0
61025,kistareddypet_Sunday_18,Kothaguda X Road,kistareddypet,Sunday,18,1700,1800,34.150000,2,2,0
61026,kistareddypet_Sunday_18,Hitech City,kistareddypet,Sunday,18,1700,1800,37.380952,7,1,4

In [146]:
top_unf_stats[(top_unf_stats['clus_id']=='Hitech City_Sunday_21')&
              (top_unf_stats['pickup_cluster']=='Sri Ramnagar')]

,clus_id,pickup_cluster,drop_cluster,week_period,unf_hour,start_time,end_time,ride_time,fe,nosurge_fe,mismatch_fe
22042,Hitech City_Sunday_21,Sri Ramnagar,Hitech City,Sunday,21,2045,2145,12.291204,36,36,0

___

In [137]:
top_geo_slice['clus_id'].nunique()

884

In [138]:
top_unf_stats['clus_id'].nunique()

679

___

## Total SRuD Routes

In [147]:
top_unf_stats.shape[0]

61027

## Approx FEs Targeted

In [148]:
top_unf_stats['fe'].sum()

1238591

## Compared to Total City FEs

In [149]:
round(100*top_unf_stats['fe'].sum()/fe_all.shape[0],2)

12.54

## Mismatched FEs in these Routes

In [150]:
100*top_unf_stats['mismatch_fe'].sum()/fe_all.shape[0]

0.05924803883221538

<div class="alert alert-block alert-warning">

</div>

___

___

<div class="alert alert-block alert-danger">

# Ciruit Breaker Recommendation
</div>

___

In [84]:
final_rec = top_unf_stats[['pickup_cluster', 'drop_cluster', 'week_period','start_time', 'end_time','unf_hour']]

In [85]:
final_rec['city'] = CITY

<ipython-input-85-87c517cc6185>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_rec['city'] = CITY

In [86]:
final_rec = final_rec[[ 'city','pickup_cluster', 'drop_cluster', 'week_period', 'start_time','end_time','unf_hour']]

In [87]:
final_rec['pickup_hex8'] = 'ALL'
final_rec['drop_hex8'] = 'ALL'

In [88]:
final_rec

,city,pickup_cluster,drop_cluster,week_period,start_time,end_time,unf_hour,pickup_hex8,drop_hex8
0,Kolkata,Santoshpur EM Bypass,Aliah University New Town,Friday,1700,1800,18,ALL,ALL
1,Kolkata,Sector 1,Aliah University New Town,Friday,1730,1830,18,ALL,ALL
2,Kolkata,NetajiNagar,Aliah University New Town,Friday,1700,1800,18,ALL,ALL
3,Kolkata,Baguiati,Aliah University New Town,Friday,1730,1830,18,ALL,ALL
4,Kolkata,Dum Dum Junction,Aliah University New Town,Friday,1715,1815,18,ALL,ALL
...,...,...,...,...,...,...,...,...,...
37649,Kolkata,Netaji Nagar H,baranagar,Wednesday,0930,1030,10,ALL,ALL
37650,Kolkata,Howrah Station,baranagar,Wednesday,0915,1015,10,ALL,ALL
37651,Kolkata,baranagar,baranagar,Wednesday,0945,1045,10,ALL,ALL
37652,Kolkata,Uttarpara H,baranagar,Wednesday,0945,1045,10,ALL,ALL
37653,Kolkata,BhadraKali H,baranagar,Wednesday,0945,1045,10,ALL,ALL

<div class="alert alert-block alert-warning">

</div>

<div class="alert alert-block alert-warning">

</div>

<div class="alert alert-block alert-warning">

</div>

In [89]:
final_recommendation = final_rec[['city','pickup_cluster', 'drop_cluster', 'week_period', 
                                     'start_time','end_time','pickup_hex8','drop_hex8']]

In [90]:
final_recommendation = final_recommendation.reset_index(drop=True)
final_recommendation

,city,pickup_cluster,drop_cluster,week_period,start_time,end_time,pickup_hex8,drop_hex8
0,Kolkata,Santoshpur EM Bypass,Aliah University New Town,Friday,1700,1800,ALL,ALL
1,Kolkata,Sector 1,Aliah University New Town,Friday,1730,1830,ALL,ALL
2,Kolkata,NetajiNagar,Aliah University New Town,Friday,1700,1800,ALL,ALL
3,Kolkata,Baguiati,Aliah University New Town,Friday,1730,1830,ALL,ALL
4,Kolkata,Dum Dum Junction,Aliah University New Town,Friday,1715,1815,ALL,ALL
...,...,...,...,...,...,...,...,...
37649,Kolkata,Netaji Nagar H,baranagar,Wednesday,0930,1030,ALL,ALL
37650,Kolkata,Howrah Station,baranagar,Wednesday,0915,1015,ALL,ALL
37651,Kolkata,baranagar,baranagar,Wednesday,0945,1045,ALL,ALL
37652,Kolkata,Uttarpara H,baranagar,Wednesday,0945,1045,ALL,ALL
37653,Kolkata,BhadraKali H,baranagar,Wednesday,0945,1045,ALL,ALL

In [91]:
rec_name = CITY[:3]+'_'+START_DATE[-2:]+'_'+END_DATE[-2:]+'_cb_recommendation.parquet'

In [92]:
rec_name

'Kol_22_28_cb_recommendation.parquet'

In [93]:
final_recommendation.to_parquet(rec_name,index=False)

<div class="alert alert-block alert-warning">

</div>

___

<div class="alert alert-block alert-warning">

</div>

In [94]:
final_rec

,city,pickup_cluster,drop_cluster,week_period,start_time,end_time,unf_hour,pickup_hex8,drop_hex8
0,Kolkata,Santoshpur EM Bypass,Aliah University New Town,Friday,1700,1800,18,ALL,ALL
1,Kolkata,Sector 1,Aliah University New Town,Friday,1730,1830,18,ALL,ALL
2,Kolkata,NetajiNagar,Aliah University New Town,Friday,1700,1800,18,ALL,ALL
3,Kolkata,Baguiati,Aliah University New Town,Friday,1730,1830,18,ALL,ALL
4,Kolkata,Dum Dum Junction,Aliah University New Town,Friday,1715,1815,18,ALL,ALL
...,...,...,...,...,...,...,...,...,...
37649,Kolkata,Netaji Nagar H,baranagar,Wednesday,0930,1030,10,ALL,ALL
37650,Kolkata,Howrah Station,baranagar,Wednesday,0915,1015,10,ALL,ALL
37651,Kolkata,baranagar,baranagar,Wednesday,0945,1045,10,ALL,ALL
37652,Kolkata,Uttarpara H,baranagar,Wednesday,0945,1045,10,ALL,ALL
37653,Kolkata,BhadraKali H,baranagar,Wednesday,0945,1045,10,ALL,ALL

In [95]:
exp_routes_df = CITY[:3]+'_'+START_DATE[-2:]+'_'+END_DATE[-2:]+'_all_routes_df_.parquet'

In [96]:
exp_routes_df

'Kol_22_28_all_routes_df_.parquet'

In [97]:
final_rec.to_parquet(exp_routes_df,index=False)

<div class="alert alert-block alert-warning">

</div>

___

___

<div class="alert alert-block alert-warning">

</div>

___

___

___

___

___

___